.c-icon-box-grid-container .title {
  font-size: 14px;
  font-weight: 600;
  margin: 10px 0;
}

.c-icon-box-grid-container .subtitle {
  font-size: 12px;
  margin-top: 0;
}

.c-icon-box-grid-container.bordered .col-lg {
  border-radius: 5px;
  border: 1px solid #F2F2F2;
  margin: 1%;
  padding: 3%;
}

.c-icon-box-grid-container .quotes .icon-box-grid-column {
  padding: 2em 2em 1em 70px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 2em;
  background: url("../../images/dark-blue-quote.svg") no-repeat top 2em left 20px #FFF;
  background-size: 50px;
  margin-top: 3em;
}
.c-icon-box-grid-container .quotes hr {
  width: 24px;
  border: 1px solid #00439C;
  margin-bottom: 0;
}
.c-icon-box-grid-container .new-blue {
  background: #d9eeff;
  border-radius: 10px;
  padding: 2em;
}
.c-icon-box-grid-container.box-shadow .col-lg {
  box-shadow: 0 4px 7px #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 1%;
}
.c-icon-box-grid-container.box-shadow .col-lg .icon-box-grid-column {
  flex-direction: row !important;
  align-items: center;
}
.c-icon-box-grid-container.box-shadow .col-lg .title {
  font-size: 42px;
}
.c-icon-box-grid-container.box-shadow .col-lg .subtitle {
  font-size: 18px;
  margin-left: 5px;
  margin-bottom: 0;
}
.c-icon-box-grid-container.grey-box .col-lg {
  background-color: #F5F5F7;
  border-radius: 20px;
  padding: 5%;
}
.c-icon-box-grid-container.grey-box .col-lg .title {
  font-size: 24px;
}
.c-icon-box-grid-container.grey-box .col-lg .subtitle {
  font-size: 18px;
}

@media screen and (width >= 992px) {
  .c-icon-box-grid-container .title {
    font-size: 18px;
  }
  .c-icon-box-grid-container .w-lg-65 {
    width: 65%;
  }
  .c-icon-box-grid-container .subtitle {
    font-size: 14px;
  }
  .c-icon-box-grid-container.grey-box .col-lg .title {
    font-size: 32px;
  }
  .c-icon-box-grid-container.grey-box .col-lg .subtitle {
    font-size: 20px;
  }
}