.c-icon-box-grid-container {
  margin-bottom: 2em;
}

.c-icon-box-grid-container .title {
  font-size: 14px;
  font-weight: 600;
  margin: 10px 0;
}

.c-icon-box-grid-container .quotebox {
  text-align: left;
}

.c-icon-box-grid-container.affiliate {
  margin-top: 20px;
}

.c-icon-box-grid-container.affiliate .quotebox {
  margin-bottom: 25px;
}

.c-icon-box-grid-container.usbs-brand {
  margin-bottom: 0;
}

.c-icon-box-grid-container.usbs-brand .default-content-wrapper * {
  text-align: center;
}

.c-icon-box-grid-container.phishing h2 {
  margin-top: 0;
  margin-bottom: 0;
  color: #006DFF;
  font-size: 5rem;
  text-align: center;
  font-weight: 500;
}

.c-icon-box-grid-container.phishing-v2 h2 {
  font-size: 46px;
}

.c-icon-box-grid-container.phishing-v2 h2 strong {
  display: flex;
  align-items: baseline;
}

.c-icon-box-grid-container.phishing-v2 h2 em {
  font-size: 40px;
  font-style: normal;
}

.c-icon-box-grid-container.phishing-v2 .icon-box-grid-column {
  flex-direction: row !important;
  gap: 15px;
  align-items: center;
}

.c-icon-box-grid-container.usbs-brand .default-content-wrapper h2 {
  font-size: var(--heading-font-size-xl);
  line-height: var(--heading-font-size-xl);
  font-weight: normal;
}

.c-icon-box-grid-container.top-author .row {
  gap: 10px;
}

.c-icon-box-grid-container.phishing .row {
  gap: 20px;
}

.c-icon-box-grid-container.top-author.no-quotes .row {
  gap: 0;
}

.c-icon-box-grid-container.new .row div {
  margin: 0.5em 0;
}

.c-icon-box-grid-container.top-author .container > div:last-of-type {
  color: #6F6F6F;
  font-size: 12px;
  line-height: 15px;
}

.c-icon-box-grid-container .subtitle {
  font-size: 12px;
  margin-top: 0;
}

.c-icon-box-grid-container.top-author .subtitle {
  display: flex;
  line-height: 19px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}

.c-icon-box-grid-container.has-icons .subtitle img {
  position: absolute;
  right: -17px;
  width: 56px;
  top: 10px;
}

.c-icon-box-grid-container.new .subtitle {
  color: black;
  font-family: Arial, sans-serif;
  font-size: 12px;
}

.c-icon-box-grid-container.top-author.gray-background .subtitle {
  display: block;
  margin-top: 1em;
}

.c-icon-box-grid-container.top-author.no-quotes .subtitle h4 {
  margin: 0;
  line-height: 26px;
}

.c-icon-box-grid-container.new p {
  font-size: 12px;
  line-height: 14px;
  font-family: Arial, sans-serif;
}

.c-icon-box-grid-container.top-author .subtitle > p {
  margin: 0;
}

.c-icon-box-grid-container.top-author .subtitle > :nth-child(3) {
  background: transparent;
  padding: 0;
  margin-top: 0;
}

.c-icon-box-grid-container.top-author .subtitle > p:first-of-type {
  line-height: 17px;
}

.c-icon-box-grid-container.new .title {
  color: black;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: var(--heading-font-size-s);
}

.c-icon-box-grid-container.c-iconbox-new2024 .subtitle p:last-of-type {
  margin-top: 0;
}

.c-icon-box-grid-container.c-iconbox-new2024 .subtitle p:last-of-type::before {
  content: "";
  width: 25px;
  height: 1px;
  display: block;
  margin-bottom: 7px;
  background-color: #08499F;
}

.c-icon-box-grid-container.top-author .subtitle p:last-of-type a {
  color: #006EFF;
}

.c-icon-box-grid-container.top-author.no-quotes .subtitle p:last-of-type::before {
  display: none;
}

.c-icon-box-grid-container.new h3 {
  font-size: var(--heading-font-size-s);
  font-weight: normal;
  font-family: Arial, sans-serif;
}

.c-icon-box-grid-container .quotes .icon-box-grid-column {
  padding: 1em 2em 1em 70px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 0;
  background: url("../../images/dark-blue-quote.svg") no-repeat top 2em left 20px #FFF;
  background-size: 50px;
  margin-top: 0;
  height: 100%;
}

.c-icon-box-grid-container.center .icon-box-grid-column {
  align-items: center;
  text-align: center;
}

.c-icon-box-grid-container.c-iconbox-new2024 .quotes .icon-box-grid-column {
  background: url("../../images/baby-blue-quote.svg") no-repeat top 2em left 20px #F6F6F6;
}

.c-icon-box-grid-container.top-author .quotes .icon-box-grid-column {
  background: url("../../images/baby-blue-quote-small.svg") no-repeat top 5.5em left 20px #EDF9FF;
  background-size: auto 28px;
}

.c-icon-box-grid-container.box-shadow .col-lg .icon-box-grid-column {
  flex-direction: row !important;
  align-items: center;
}

.c-icon-box-grid-container.grey-box .col-lg .icon-box-grid-column {
  height: 100%;
}

.c-icon-box-grid-container.new .quotes .icon-box-grid-column {
  background: url("../../images/dark-blue-quote.svg") no-repeat top 2.3em left 20px #FFF;
  margin: 0.2em 0;
  box-shadow: 5px 8px 11px -12px #000;
}

.c-icon-box-grid-container.top-author.no-quotes .quotes .icon-box-grid-column {
  background: #EDF9FF;
  padding: 1.5em;
}

.c-icon-box-grid-container .quotes hr {
  width: 24px;
  border: 1px solid #00439C;
  margin-bottom: 0;
  display: none;
}

.c-icon-box-grid-container.top-author .quotes hr {
  display: block;
  border: 1px solid #08499F;
  opacity: 1;
  margin: 4px 0 18px;
}

.c-icon-box-grid-container .quotes .quotebox {
  margin: 1em 0;
}

.c-icon-box-grid-container .new-blue {
  background: #d9eeff;
  border-radius: 20px;
  padding: 1em;
}

.c-icon-box-grid-container h3 {
  font-size: 32px;
  font-weight: 500;
}

.c-icon-box-grid-container.dotted-lines .block .container {
  position: relative;
}

.c-icon-box-grid-container.dotted-lines .block .container .row {
  gap: 2em;
  position: relative;
}

.c-icon-box-grid-container.dotted-lines .block .container .col-lg {
  margin: 10px 0;
}

.c-icon-box-grid-container.dotted-lines .block .container::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  border: none;
  border-top: 2px dotted #006EFF;
  margin: 24px 0;
  position: absolute;
  top: 42%;
  left: 0;
}

.c-icon-box-grid-container.box-shadow .col-lg {
  box-shadow: 0 4px 7px #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
}

.c-icon-box-grid-container.box-shadow .col-lg .title {
  font-size: 40px;
  line-height: 34px;
  width: 100px;
  margin-right: 10px;
}

.c-icon-box-grid-container.box-shadow .col-lg .subtitle {
  font-size: 18px;
  line-height: 20px;
  margin-left: 5px;
  margin-bottom: 0;
}

.c-icon-box-grid-container.grey-box .col-lg {
  background-color: #F5F5F7;
  border-radius: 20px;
  padding: 1rem 5%;
  margin: 1em 0;
}

.c-icon-box-grid-container.gray-background .col-lg {
  background-color: #F6F6F6;
  border-radius: 20px;
  padding: 32px;
  margin: 6px;
}

.c-icon-box-grid-container.white-background .col-lg {
  background-color: #FFF;
}

.c-icon-box-grid-container.transparent-background .col-lg {
  background-color: transparent;
  padding: 0;
}

.c-icon-box-grid-container.button-center .button-container {
  text-align: center;
}

.c-icon-box-grid-container.grey-box .col-lg .title {
  font-size: var(--heading-font-size-s);
  font-family: Arial, sans-serif;
}

.c-icon-box-grid-container.grey-box .col-lg .subtitle {
  font-size: 12px;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.c-icon-box-grid-container.grey-box .col-lg .subtitle p.button-container {
  align-items: self-end;
  display: inline;
}

.c-icon-box-grid-container.grey-box .col-lg p.button-container a {
  width: 100%;
}

.c-icon-box-grid-container.new .quotes hr {
  margin-top: 1rem;
  margin-bottom: 10px;
  opacity: 1;
}

.c-icon-box-grid-container.new .quotes .icon-box-grid-column p {
  margin-top: 0;
  font-size: 14px;
  line-height: 19px;
  font-family: Arial, sans-serif;
}

.c-icon-box-grid-container.new .quotes .icon-box-grid-column p:nth-of-type(2) {
  min-height: auto;
}

.c-icon-box-grid-container.new .container > div:last-of-type {
  color: #7E7E7E;
  font-size: 12px;
}

.c-icon-box-grid-container.bordered .col-lg {
  border-radius: 10px;
  border: 1px solid #F2F2F2;
  margin: 15px 0;
  padding: 3%;
}

.c-icon-box-grid-container.new-2024-look .quotebox {
  background-color: #f6f6f6;
  padding: 24px;
  border-radius: 20px;
  text-align: left;
  font: normal normal normal 16px/24px var(--body-font-family);
}

/* Phishing start */
.c-icon-box-grid-container.phishing .quotebox {
  padding: 35px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
}

.c-icon-box-grid-container.phishing-v2 .quotebox {
  padding: 1em;
  background-color: transparent;
  box-shadow: unset;
  border: 1px solid #E4F2FF;
  border-radius: 20px;
}

.c-icon-box-grid-container.phishing div.subtitle {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-icon-box-grid-container.phishing-v2 div.subtitle {
  font-size: 20px;
  line-height: 23px;
}

.c-icon-box-grid-container .c-icon-box-grid.blue-cards .row {
  gap: 30px;
}

.c-icon-box-grid-container .c-icon-box-grid.blue-cards .quotebox {
  background-color: #E4F2FF;
  border-radius: 10px;
  padding: 40px 20px;
}

/* Phishing end */
@media screen and (width >= 992px) {
  .c-icon-box-grid-container .title {
    font-size: var(--body-font-size-s);
  }
  .c-icon-box-grid-container.items-smaller .row {
    justify-content: space-between;
  }
  .c-icon-box-grid-container.items-smaller .row .col-md-12 {
    width: 275px;
    max-width: none;
    flex: none;
  }
  .c-icon-box-grid-container.bordered .col-lg {
    margin: 15px 10px;
  }
  .c-icon-box-grid-container.new {
    color: black;
  }
  .c-icon-box-grid-container.new .title {
    font-size: var(--heading-font-size-m);
  }
  .c-icon-box-grid-container .subtitle {
    font-size: 14px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .c-icon-box-grid-container .new-blue .subtitle p:last-of-type::before {
    content: "";
    width: 24px;
    height: 1px;
    background-color: #00439C;
    display: block;
    margin-bottom: 5px;
  }
  .c-icon-box-grid-container.color-black .title, .c-icon-box-grid-container.color-black .subtitle {
    color: black;
  }
  .c-icon-box-grid-container.top-author .w-lg-65 p {
    font-size: 18px;
    line-height: 23px;
  }
  .c-icon-box-grid-container .w-lg-65 {
    width: 65%;
  }
  .c-icon-box-grid-container.grey-box .col-lg .title {
    font-size: var(--heading-font-size-xl);
    line-height: var(--heading-font-size-xl);
  }
  .c-icon-box-grid-container.affiliate .quotebox {
    margin-bottom: 0;
  }
  .c-icon-box-grid-container.affiliate .quotebox .subtitle {
    max-width: 250px;
  }
  .c-icon-box-grid-container.grey-box .col-lg p {
    font-size: var(--body-font-size-s);
  }
  .c-icon-box-grid-container.grey-box .col-lg a.button:any-link {
    text-transform: none;
    font-size: var(--body-font-size-xs);
    font-weight: 500;
  }
  .c-icon-box-grid-container.grey-box .col-lg .subtitle {
    font-size: 20px;
  }
  .c-icon-box-grid-container.four-columns .col-lg-4 {
    width: 23% !important;
    flex: 1;
    padding: 32px;
    margin: 6px;
  }
  .c-icon-box-grid-container .c-icon-box-grid.blue-cards .quotebox {
    width: 30%;
    max-width: 300px;
  }
  .c-icon-box-grid-container .c-icon-box-grid.narrow-cards .row {
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
  }
  .c-icon-box-grid-container .c-icon-box-grid.narrow-cards .quotebox {
    width: 30%;
    max-width: 300px;
  }
}
@media screen and (width <= 992px) {
  .c-icon-box-grid-container.dotted-lines .block .container::before {
    height: max-content;
    border: none;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transform: rotate(90deg);
  }
  .c-icon-box-grid-container.grey-box .col-lg {
    margin: 10px 15px;
  }
  .c-icon-box-grid-container.dotted-lines .block .container .col-lg {
    padding: 1em;
  }
  .c-icon-box-grid-container.dotted-lines .block .container .row {
    gap: 0;
  }
}
@media (width >= 768px) {
  .c-icon-box-grid-container .new-blue {
    padding: 2em;
    margin-bottom: 2em;
  }
  .c-icon-box-grid-container.new .title {
    font-size: var(--heading-font-size-m);
  }
  .c-icon-box-grid-container.new .subtitle {
    font-size: 14px;
  }
  .c-icon-box-grid-container.new h3 {
    font-size: var(--heading-font-size-xl);
  }
  .c-icon-box-grid-container.new p {
    font-size: var(--heading-font-size-s);
    line-height: var(--heading-font-size-m);
  }
  .c-icon-box-grid-container.new .quotes .icon-box-grid-column p:nth-of-type(2) {
    min-height: 4rem;
    display: flex;
    align-items: end;
  }
  .c-icon-box-grid-container.grey-box .col-lg {
    padding: 3rem 6rem;
    margin: 0 15px;
  }
  .c-icon-box-grid-container.grey-box-v2 .col-lg {
    padding: 2em;
  }
  .c-icon-box-grid-container.grey-box .col-lg .title {
    font-size: 26px;
    line-height: 29px;
  }
  .c-icon-box-grid-container.grey-box-v2 .col-lg .title {
    font-size: 24px;
    line-height: 37px;
  }
  .c-icon-box-grid-container.bigger-heading .col-lg .title {
    font-size: 32px;
  }
  .c-icon-box-grid-container.grey-box .col-lg .subtitle {
    font-size: var(--body-font-size-s);
  }
  .c-icon-box-grid-container.grey-box-v2 .col-lg .subtitle {
    font-size: 16px;
    line-height: 24px;
  }
  .c-icon-box-grid-container.grey-box .col-lg p.button-container a {
    width: auto;
  }
  .c-icon-box-grid-container .arrowsSlider {
    display: none;
  }
}
@media (width <= 768px) {
  .c-icon-box-grid-container {
    overflow: hidden;
  }
  .c-icon-box-grid-container .slider-container .container > div:last-of-type {
    font-size: 8px;
    line-height: 10px;
    width: 200px;
    text-align: left;
  }
  .c-icon-box-grid-container .slider-container .arrow.inactive {
    display: flex;
    opacity: 0.6;
  }
  .c-icon-box-grid-container .slider-container .arrow.left {
    left: 0;
  }
  .c-icon-box-grid-container .slider-container .arrow.right {
    right: 0;
  }
  .c-icon-box-grid-container .arrowsSlider {
    display: flex;
    gap: 10px;
    float: right;
  }
  .c-icon-box-grid-container.top-author .container > div:first-of-type {
    text-align: left;
  }
  .c-icon-box-grid-container.top-author .container > div:first-of-type p br {
    display: none;
  }
  .c-icon-box-grid-container .slider-container .arrow {
    position: relative;
  }
  .c-icon-box-grid-container h3, .c-icon-box-grid-container h3 strong {
    font-size: var(--heading-font-size-m);
    font-weight: 600;
  }
}