.two-col-cta-affiliate {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.two-col-cta-affiliate h3, .two-col-cta-affiliate p {
  margin-top: 24px;
  margin-bottom: 0;
}
.two-col-cta-affiliate .left-column {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.two-col-cta-affiliate .left-column .button-container {
  margin-top: 24px;
}
.two-col-cta-affiliate .right-column {
  width: 100%;
}
.two-col-cta-affiliate .right-column p:nth-of-type(1) {
  color: #006EFF;
  font-size: 24px;
}
.two-col-cta-affiliate .right-column p:nth-of-type(2) {
  margin-top: 0;
  margin-bottom: 27px;
}

@media screen and (width >= 768px) {
  .two-col-cta-affiliate {
    flex-direction: row;
    align-items: flex-start;
  }
  .two-col-cta-affiliate .left-column {
    width: 50%;
  }
  .two-col-cta-affiliate .right-column {
    width: 50%;
  }
}