.awards {
  border-radius: 20px;
  background-color: #E4F2FF;
  padding: 2rem 0;
  margin: 3rem 0;
}

.awards .title {
  font-size: 14px;
  line-height: 14px;
}

.awards .subtitle {
  font-size: 12px;
  line-height: 12px;
}

.awards img {
  height: 100px;
  object-fit: contain;
}

@media screen and (width >= 992px) {
  .awards img {
    height: 90px;
  }
}