.awards {
  border-radius: 10px;
  background-color: #E4F2FF;
  padding: 1em 0;
  margin: 0;

}

.awards .title {
  font-size: 14px;
  line-height: 14px;
}

.awards .subtitle {
  font-size: 12px;
  line-height: 12px;
}

.awards img {
  height: auto;
  width: 80px;
  object-fit: contain;
}

.awards .col-12 {
  margin: 0.5em 0;
}

// one award start 
.one-award.awards-container {
  .row > div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .row > div:nth-child(2) {
    width: 100%;
    text-align: left;

    .text-center {
      text-align: left !important;

      > div:nth-child(1) {
        font-size: 20px;
        line-height: 28px;
        font-weight: bold;
        margin-bottom: 12px !important;
        margin-top: 20px;
      }

      > div:nth-child(2) {
        font-size: 16px;
        font-weight: normal;
        line-height: 24px;
      }
    }
  }

  img {
    height: 80px;
    width: auto;
  }
}

// one award end
@media screen and (width >= 992px) {
  .awards img {
    height: 90px;
  }

  .one-award.awards-container {
    .row > div:nth-child(2) {
      width: 60%;
      text-align: left;
  
      .text-center > div:nth-child(1) {
        font-size: 30px;
        line-height: 38px;
        font-weight: bold;
        margin-bottom: 30px !important;
      }
    }
  }
  
}

@media screen and (width >= 768px) {
  .awards {
    border-radius: 20px;
    padding: 2rem 0;
    margin: 3rem 0;
  }

  .awards img {
    width: auto;
    height: 100px;
  }

  .one-award.awards-container {
    .row > div:nth-child(2) {
      .text-center > div:nth-child(1) {
        font-size: 24px;
        line-height: 30px;
        font-weight: bold;
        margin-bottom: 15px !important;
        margin-top: 0;
      }
    }
  }
}