/* .b-productswithinputdevicess */
.b-productswithinputdevices-container .b-productswithinputdevices-wrapper {
  position: relative;
}

.b-productswithinputdevices-container .b-productswithinputdevices-wrapper .prod-percent.green_bck_circle {
  left: 5%;
  top: -3em;
  transform: none;
  font-size: 16px;
  padding: 0 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 25px;
}

.b-productswithinputdevices-container .b-productswithinputdevices-wrapper .prod-percent.green_bck_circle b {
  display: block;
  font-size: 35px;
}

.b-productswithinputdevices-container .b-productswithinputdevices-wrapper .prod-percent.green_bck_circle p {
  margin: 0;
  line-height: 20px;
}

.b-productswithinputdevices-container .b-productswithinputdevices-wrapper .b-productswithinputdevices {
  background: #e3f1ff;
  color: #666;
  height: auto;
  padding: 2em 20px;
  border-radius: 8px;
  margin: 3em 0;
}

.b-productswithinputdevices-container.bulina-only-boxes .prod-percent.green_bck_circle {
  display: none !important;
}

.b-productswithinputdevices-container.bulina-only-boxes .b-productswithinputdevices .prod-percent.green_bck_circle {
  display: flex !important;
}

.b-productswithinputdevices-container .b-productswithinputdevices-wrapper .b-productswithinputdevices .prod-percent.green_bck_circle {
  left: auto;
  right: -10px;
  position: absolute;
  top: -2em;
  display: none;
}

.b-productswithinputdevices-container .b-productswithinputdevices-wrapper .b-productswithinputdevices > div:nth-child(1) p {
  margin: 0 !important;
  padding: 0;
  font: normal normal normal 13px/15px Roboto, sans-serif;
  color: #000;
  margin-bottom: 10px;
}

.b-productswithinputdevices-container .b-productswithinputdevices-wrapper .b-productswithinputdevices > div:nth-child(2) > div p {
  padding: 0;
  margin: 0;
}

.b-productswithinputdevices-container .b-productswithinputdevices-wrapper .b-productswithinputdevices > div:nth-child(2) > div b {
  font: normal normal bold 18px/21px Roboto, sans-serif;
  color: #000;
  border-bottom: 1px solid #CCC;
  margin-bottom: 0.8em;
  padding-bottom: 0.6em;
  display: block;
}

.b-productswithinputdevices-container .b-productswithinputdevices-wrapper .b-productswithinputdevices .prod-percent.green_bck_circle b, .b-productswithinputdevices-container .b-productswithinputdevices-wrapper .b-productswithinputdevices .prod-percent.green_bck_circle p {
  color: white !important;
  border: 0 none;
  margin: 0;
  padding: 0;
}

.b-productswithinputdevices-container .b-productswithinputdevices-wrapper .b-productswithinputdevices .prod-percent.green_bck_circle p {
  font-size: 14px !important;
  line-height: 16px !important;
}

.b-productswithinputdevices-container .b-productswithinputdevices-wrapper .b-productswithinputdevices > div:nth-child(2) > div p:first-of-type {
  font: normal normal normal 18px/21px Roboto, sans-serif;
  color: #000;
}

.b-productswithinputdevices-container .b-productswithinputdevices-wrapper .b-productswithinputdevices > div:nth-child(1) h3 {
  font: normal normal bold 24px/24px Roboto, sans-serif;
  color: #000;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.b-productswithinputdevices-container .b-productswithinputdevices-wrapper .b-productswithinputdevices > div:nth-child(1) h3 span.greenTag {
  font: normal normal bold 14px/15px Roboto, sans-serif;
  margin-left: 5px;
  padding: 2px 10px;
}

.b-productswithinputdevices-container .b-productswithinputdevices-wrapper .b-productswithinputdevices > div:nth-child(1) h4 {
  font: normal normal normal 36px/42px Roboto, sans-serif;
  color: #000;
  margin: 10px 0 20px;
}

.b-productswithinputdevices-container .b-productswithinputdevices-wrapper .b-productswithinputdevices > div:nth-child(1) p strong {
  font: normal normal bold 18px/21px Roboto, sans-serif;
  color: #000;
}

.b-productswithinputdevices-container .b-productswithinputdevices-wrapper .b-productswithinputdevices > div:nth-child(1) table {
  text-align: center;
  margin: 10px auto;
}

.b-productswithinputdevices-container .b-productswithinputdevices-wrapper .b-productswithinputdevices > div:nth-child(1) table p strong {
  font: normal normal bold 13px/15px Roboto, sans-serif;
}

.b-productswithinputdevices-container .b-productswithinputdevices-wrapper .b-productswithinputdevices > div:nth-child(1) table p strong em {
  font: normal normal bold 13px/15px Roboto, sans-serif;
}

.b-productswithinputdevices-container .b-productswithinputdevices-wrapper .b-productswithinputdevices > div:nth-child(2) {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.b-productswithinputdevices-container .b-productswithinputdevices-wrapper .b-productswithinputdevices > div:nth-child(2) > div {
  position: relative;
  background: #FFF 0% 0% no-repeat padding-box;
  box-shadow: 0 3px 6px #cacaca;
  border-radius: 10px;
  width: 285px;
  margin: 10px;
  padding: 15px;
}

.b-productswithinputdevices-container .b-productswithinputdevices-wrapper .b-productswithinputdevices > div:nth-child(2) > div:nth-child(1) {
  display: none;
}

.b-productswithinputdevices-container .b-productswithinputdevices-wrapper .b-productswithinputdevices .prod-newprice {
  color: #111;
  display: block;
  font: normal normal bold 32px/38px Roboto, sans-serif;
}

.b-productswithinputdevices-container .b-productswithinputdevices-wrapper .b-productswithinputdevices .prod-oldprice {
  font: normal normal normal 18px/21px Roboto, sans-serif;
  color: #999;
  width: 100%;
  text-decoration: none;
}

.b-productswithinputdevices-container .b-productswithinputdevices-wrapper .b-productswithinputdevices .prod-oldprice span {
  text-decoration: line-through;
  margin-left: 3px;
}

.b-productswithinputdevices-container .b-productswithinputdevices-wrapper .b-productswithinputdevices .prod-save {
  font: normal normal bold 16px/19px Roboto, sans-serif;
  padding: 2px 0;
  border-radius: 18px;
  background: #D5F0D8;
  font-size: 1pc;
  font-weight: 700;
  line-height: 1.5;
  color: #2cb43d;
  margin: 0.4em auto 1em !important;
  width: 155px;
}

.b-productswithinputdevices-container .b-productswithinputdevices-wrapper .b-productswithinputdevices .prod-save span {
  margin-left: 3px;
}

.b-productswithinputdevices-container .b-productswithinputdevices-wrapper .b-productswithinputdevices fieldset {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  width: 120px;
  margin: 10px auto 0;
}

.b-productswithinputdevices-container .b-productswithinputdevices-wrapper .b-productswithinputdevices fieldset button {
  transition: all 0.3s ease;
  width: 19px;
  height: 19px;
  cursor: pointer;
  border: 0 none;
  font-size: 24px;
  color: #1E64E7;
  outline: none;
  border-radius: 40px;
  line-height: 12px;
  margin-top: 7px;
  text-align: center;
  padding: 0 0 0 1px;
  background: white;
}

.b-productswithinputdevices-container .b-productswithinputdevices-wrapper .b-productswithinputdevices fieldset input {
  width: 55px;
  text-align: center;
  font-size: 18px;
  color: #111;
  font-weight: 600;
  border-radius: 0;
  height: 34px;
  border-left: 0;
  border-right: 0;
  padding: 5px;
  background: transparent;
  outline: none;
  user-select: none;
  border: 1px solid #CCC;
  border-top: 0 none;
  border-bottom: 0 none;
  margin: 0 10px;
}

.b-productswithinputdevices-container.second-template {
  padding: 0;
  margin: 0;

  .b-productswithinputdevices {
    padding: 0;
    margin: 0;
    max-width: 300px;

    >div:nth-child(2) {
      margin-top: 0;

      > div {
        margin: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: 300px;
      }
    }

    >:first-child {
      padding: 14px;
      
      b {
        font: normal normal bold 18px/21px Roboto, sans-serif;
        color: #000;
        border-bottom: 1px solid #CCC;
        margin-bottom: 0.8em;
        padding-bottom: 0.6em;
        display: block;
        width: 92%;
        margin: 0 auto;
      }
    }

    >div>div {
      p:nth-child(1) {
        strong {
          font-size: 13px;
        }
      }
      p:nth-child(2) {
        font-size: 12px;
      }
    }

    fieldset {
      margin: 0;
    }

    table {
      td {
        padding-left: 12px;
        text-align: left;
      }
    }

    .selector-box {
      border: 0.5px solid #E4F2FF;
      border-radius: 8px;
      padding: 10px;
      text-align: left;
      margin-bottom: 10px;

      select {
        width: 100%;
        padding: 5px 0;
        border: 0;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 600;
        outline: none;;
      }
    }
  }
}

/* for mobile */
@media (width <= 768px) {
  .b-productswithinputdevices-container .b-productswithinputdevices-wrapper .prod-percent.green_bck_circle {
    display: flex;
    border-radius: 10px;
    width: 100%;
    position: unset;
    text-align: center;
    height: auto;
    padding: 10px;
    justify-content: center;
    flex-direction: row;
    font-size: 23px;
  }

  .b-productswithinputdevices-container .b-productswithinputdevices-wrapper .prod-percent.green_bck_circle b {
    margin-right: 10px;
    font-size: 30px;
  }

  .b-productswithinputdevices-container .b-productswithinputdevices-wrapper .b-productswithinputdevices {
    background: #e3f1ff;
    color: #666;
    height: auto;
    padding: 1em 15px;
    border-radius: 8px;
    margin: 1em 0;
  }

  .b-productswithinputdevices-container .b-productswithinputdevices-wrapper .b-productswithinputdevices .prod-percent.green_bck_circle {
    position: unset;
    width: fit-content;
    margin: 0 auto 10px;
    padding: 5px 10px;
  }

  .b-productswithinputdevices-container .b-productswithinputdevices-wrapper .b-productswithinputdevices .prod-percent.green_bck_circle b {
    margin-right: 5px;
  }

  .b-productswithinputdevices-container .b-productswithinputdevices-wrapper .b-productswithinputdevices .prod-percent.green_bck_circle p {
    font-size: 18px;
  }

  .b-productswithinputdevices-container .b-productswithinputdevices-wrapper .b-productswithinputdevices > div:nth-child(1) h4 {
    font: normal normal normal 24px/28px Roboto, sans-serif;
    color: #000;
    margin: 10px 0;
  }

  .b-productswithinputdevices-container .b-productswithinputdevices-wrapper .b-productswithinputdevices > div:nth-child(2) {
    display: block;
  }

  .b-productswithinputdevices-container .b-productswithinputdevices-wrapper .b-productswithinputdevices > div:nth-child(2) > div {
    width: auto;
    margin-bottom: 2em;
  }

  .b-productswithinputdevices-container.second-template {
  
    .b-productswithinputdevices {
      max-width: 330px;
      margin: 0;
      padding: 0;

      > div:nth-child(2) > div {
        margin: 0;
      }
    }
  }
}