$main-bg-color: #F3F3F3;
$main-padding: 20px;
$main-border-radius: 8px;
$main-font-size: 15px;
$checkbox-size: 20px;

@mixin flex-center {
  display: flex;
  align-items: center;
}

.form-container {
  .form {
    background-color: $main-bg-color;
    border-radius: $main-border-radius;
    padding: $main-padding;

    $modal-bg-color: #FFF;
    $modal-border-radius: 10px;
    $modal-padding: 20px;
    $modal-title-font-size: 25px;
    $modal-message-font-size: 16px;
    $modal-close-btn-color: #000;

    h2 {
      padding: var(--spacing-s) 0;
      font-size: var(--type-heading-l-lh);
    }

    .title {
      color: #6A6A6A;
      font-size: 22px;
      text-align: center;
      margin-bottom: 10px;
    }

    h3 {
      padding-top: var(--spacing-s);
      font-size: var(--type-heading-m-size);
    }

    input,
    textarea,
    select {
      border: solid 0.5px #707070;
      padding: 5px 10px;
      width: 100%;
      max-width: 50rem;
      box-sizing: border-box;
      font-size: $main-font-size;
    }

    textarea {
      min-height: 100px;
      margin-bottom: 1rem;
    }

    label {
      display: block;
      box-sizing: border-box;

      &.required::after {
        content: "*";
      }
    }

    .form-checkbox-wrapper {
      @include flex-center;

      margin-bottom: 1rem;

      input[type='checkbox'] {
        appearance: none;
        height: $checkbox-size;
        width: $checkbox-size;
        position: relative;
        border: unset;
        padding: unset;
        margin-left: 0;

        &::after {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          height: $checkbox-size;
          width: $checkbox-size;
          content: ' ';
          background: url('./checkbox.svg');
          background-size: contain;
        }

        &:checked::after {
          background: url('./checkbox-checked.svg');
          background-size: contain;
          content: ' ';
        }
      }

      label {
        display: block;
        line-height: normal;
        padding: 10px;
        padding-bottom: 0;
        width: 100%;
      }
    }

    .form-legal-wrapper p {
      font-style: italic;
    }

    button {
      width: 100%
    }
  }

  $modal-bg-color: #FFF;
  $modal-border-radius: 10px;
  $modal-padding: 20px;
  $modal-title-font-size: 24px;
  $modal-message-font-size: 16px;
  $modal-close-btn-color: #000;

  dialog {
    background-color: $modal-bg-color;
    border-radius: $modal-border-radius;
    padding: $modal-padding;
    position: fixed;
    z-index: 1000;
    width: 80%;
    max-width: 500px;

    .modal-title {
      font-size: $modal-title-font-size;
      margin-bottom: 10px;
    }

    .modal-message {
      font-size: $modal-message-font-size;
      margin-bottom: 20px;
    }
  }

  @media screen and (width >= 900px) {
    .form {
      .field-wrapper {
        display: flex;

        &.form-short {
          display: inline-flex;
          width: 50%;

          &:first-of-type {
            padding-right: 10px;
          }
        }
      }

      max-width: 31%;
    }

    .form-wrapper {
      &:has(.form-besides-table) {
        display: flex;
        position: relative;
        justify-content: end;
      }
    }
  }
}