/* b-boxes .b-dropdownbox-container */
.b-dropdownbox-container {
  clear: both;
}

.b-dropdownbox-container .block img {
  width: 20px;
}

.b-dropdownbox-container .block > div {
  padding: 15px 30px;
}

/* blue tbs */
.b-dropdownbox-container .block > div:nth-child(1) {
  padding: 0;
}

.b-dropdownbox-container .block > div:not(:first-child) {
  padding: 0;
  font-weight: 500;
  display: flex;
}

.b-dropdownbox-container .block > div:nth-child(1) > div {
  color: #fff;
  font-weight: 500;
  background-color: #006eff;
  cursor: pointer;
  padding: 15px 30px;
}

.b-dropdownbox-container .block > div:not(:first-child) > div {
  width: 33%;
  padding: 15px 2%;
  display: inline-block;
}

.b-dropdownbox-container .block.hide-title > div:nth-child(1) > div, .b-dropdownbox-container.hide-title .block > div:nth-child(1) > div {
  display: none;
}

.b-dropdownbox-container .block:not(.selected-2) > div > div:nth-child(2), .b-dropdownbox-container .block.selected-1 > div > div:nth-child(2), .b-dropdownbox-container .block.selected-2 > div > div:nth-child(3), .b-dropdownbox-container .block.selected-3 > div > div:nth-child(4) {
  background-color: #f6f6f6;
}

.b-dropdownbox-container.selected-1 .block > div > div:nth-child(2), .b-dropdownbox-container.selected-2 .block > div > div:nth-child(3), .b-dropdownbox-container.selected-3 .block > div > div:nth-child(4) {
  background-color: #f6f6f6;
}

.b-dropdownbox-container.selected-2 .block > div > div:nth-child(2), .b-dropdownbox-container.selected-3 .block > div > div:nth-child(2) {
  background-color: white;
}

.b-dropdownbox-container .block > div:not(:first-child) > div:first-child {
  display: block;
  align-items: center;
}

.b-dropdownbox-container .block > div:not(:first-child) > div:first-child p {
  margin: 0;
}

.b-dropdownbox-container .block > div:not(:first-child) > div:first-child span {
  margin-left: 10px;
}

.b-dropdownbox-container .block.has2divs > div > div:nth-child(2) {
  width: 66%;
  background-color: white;
}

.b-dropdownbox-container .block.inactive > div:not(:first-child) > div, .b-dropdownbox-container .block.closed > div:not(:first-child) > div, .b-dropdownbox-container.inactive .block > div:not(:first-child) > div, .b-dropdownbox-container.closed .block > div:not(:first-child) > div {
  display: none;
}

.b-dropdownbox-container .block.baby-blue > div:not(:first-child) > div:first-child, .b-dropdownbox-container.baby-blue .block > div:not(:first-child) > div:first-child {
  background-color: #e3f2ff;
}

.b-dropdownbox-container .block.closed.inactive > div:not(:first-child) > div, .b-dropdownbox-container.closed .block.inactive > div:not(:first-child) > div {
  display: inline-block;
}

.b-dropdownbox-container .block.has2divs > div > div:nth-child(2) img {
  width: 400px;
}

.b-dropdownbox-container.awards90 .block.has2divs > div > div:nth-child(2) img {
  width: 90%;
}

.b-dropdownbox-container .block.inactive > div:nth-child(1) > div::before,
.b-dropdownbox-container .block.closed > div:nth-child(1) > div::before {
  background: url("../../images/icons/arrow_down.png") bottom left no-repeat transparent;
  transform: rotate(0deg);
  background-size: 100%;
}

/* handling - arrow down/up */
/* stylelint-disable no-descending-specificity */
.b-dropdownbox-container .block > div:nth-child(1) > div::before,
.b-dropdownbox-container .block.closed.inactive > div:nth-child(1) > div::before {
  content: "";
  width: 17px;
  height: 19px;
  background: url("../../images/icons/arrow_down.png") top left no-repeat transparent;
  float: left;
  margin-right: 9px;
  background-size: 100%;
  transform: rotate(180deg);
}

.b-dropdownbox-container .default-content-wrapper h5 {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 500;
  color: #000;
  font-family: roboto, sans-serif;
  margin-bottom: 22px;
  text-align: left;
}

.b-dropdownbox-container .new, .b-dropdownbox-container.new .block {
  padding: 0 0 2em 2em;
  cursor: pointer;
  box-shadow: 0 3px 8px 0 #E5E5E5;
  position: relative;
  border-radius: 10px;
  margin-bottom: 1em;
  z-index: 3;
}

.b-dropdownbox-container .b-dropdownbox-wrapper {
  position: relative;
}

.b-dropdownbox-container > div:nth-child(2) .new::after, .b-dropdownbox-container.new > div:nth-child(2) .block::after {
  content: "";
  position: absolute;
  top: -60px;
  right: -56px;
  width: 196px;
  height: 90pt;
  background: url("../../images/patter_grid_blue.png") no-repeat;
  z-index: -1;
}

.b-dropdownbox-container .new div:nth-child(1), .b-dropdownbox-container.new .block div:nth-child(1) {
  background-color: white;
  padding-top: 2em;
  padding-right: 2em;
}

.b-dropdownbox-container .new > div:not(:first-child), .b-dropdownbox-container.new .block > div:not(:first-child) {
  display: block;
}

.b-dropdownbox-container .new.inactive > div:not(:first-child), .b-dropdownbox-container.new .block.inactive > div:not(:first-child) {
  display: none;
}

.b-dropdownbox-container .new.closed > div:not(:first-child), .b-dropdownbox-container.new.closed .block.inactive > div:not(:first-child) {
  display: none;
}

.b-dropdownbox-container .new.closed.inactive > div:not(:first-child), .b-dropdownbox-container.new.closed .block > div:not(:first-child) {
  display: block;
}

.b-dropdownbox-container .new > div:nth-child(1) > div, .b-dropdownbox-container.new .block > div:nth-child(1) > div {
  background: transparent;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 600;
  color: #000;
  padding: 0;
  position: relative;
}

.b-dropdownbox-container .new > div:nth-child(1) > div::before, .b-dropdownbox-container.new .block > div:nth-child(1) > div::before {
  display: none;
}

.b-dropdownbox-container .new > div:nth-child(1) > div::after, .b-dropdownbox-container.new .block > div:nth-child(1) > div::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 15px;
  width: 10px;
  height: 10px;
  border: solid #c5c5c5;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.b-dropdownbox-container .new > div:not(:first-child) > div:first-child, .b-dropdownbox-container.new .block > div:not(:first-child) > div:first-child {
  padding: 0;
  font-weight: 500;
  display: block;
  width: 100%;
  font-size: 18px;
  color: #3c3c3c;
}

.b-dropdownbox-container .new > div:not(:first-child) > div:first-child a, .b-dropdownbox-container.new .block > div:not(:first-child) > div:first-child a {
  color: #006eff;
}

.b-dropdownbox-container.slider .new > div:not(:first-child) p, .b-dropdownbox-container.slider.new .block > div:not(:first-child) p {
  text-align: center;
}
.b-dropdownbox-container.slider .new > div:not(:first-child) p img, .b-dropdownbox-container.slider.new .block > div:not(:first-child) p img {
  width: 300px;
}

.b-dropdownbox-container.dropdownSlider {
  position: relative;
  margin-bottom: 2em;
}
.b-dropdownbox-container.dropdownSlider::after {
  content: "";
  position: absolute;
  top: 16px;
  right: -45px;
  width: 196px;
  height: 90pt;
  background: url("../../images/patter_grid_blue.png") no-repeat;
  z-index: 1;
}
.b-dropdownbox-container.dropdownSlider .b-dropdownbox-wrapper {
  display: none;
}
.b-dropdownbox-container.dropdownSlider .slider_box {
  position: initial;
}
.b-dropdownbox-container.dropdownSlider .slider_box .title {
  padding: 1em;
  cursor: pointer;
  box-shadow: 0 3px 8px 0 #E5E5E5;
  position: relative;
  border-radius: 10px;
  margin-bottom: 1em;
  z-index: 3;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 600;
  color: #000;
}
.b-dropdownbox-container.dropdownSlider .slider_box .title::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 15px;
  width: 10px;
  height: 10px;
  border: solid #c5c5c5;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.b-dropdownbox-container.dropdownSlider .slider_box .title .loading-bar {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 4px;
  background: #006eff;
  font-size: 19px;
  line-height: 22px;
  margin-bottom: 1em;
}
.b-dropdownbox-container.dropdownSlider .slider_box .description {
  position: absolute;
  top: 4em;
  right: 0;
  padding-left: 5%;
  display: none;
  background-color: white;
  z-index: 2;
}
.b-dropdownbox-container.dropdownSlider .slider_box .active .title::after {
  border-color: #006eff;
  transform: rotate(225deg);
  top: 11px;
}
.b-dropdownbox-container.dropdownSlider .slider_box .active .title .loading-bar {
  display: block;
}
.b-dropdownbox-container.dropdownSlider .slider_box .active .description {
  display: block;
}

/* for mobile */
@media (width <= 768px) {
  .b-dropdownbox-container {
    clear: both;
    padding: 0 15px 5px;
  }
  .b-dropdownbox-container.dropdownSlider .b-dropdownbox-wrapper {
    display: block;
  }
  .b-dropdownbox-container.dropdownSlider .b-dropdownbox-wrapper img {
    width: 90%;
  }
  .b-dropdownbox-container.dropdownSlider .slider_box {
    display: none;
  }
  .b-dropdownbox-container .block > div:nth-child(1) > div::before, .b-dropdownbox-container .block.closed.inactive > div:nth-child(1) > div::before {
    width: 15px !important;
    height: 16px !important;
  }
  .b-dropdownbox-container .block > div:nth-child(1) > div {
    padding: 10px 3% !important;
    display: flex;
    font-size: 15px;
    line-height: 17px;
  }
  .b-dropdownbox-container .new > div:nth-child(1) > div::after, .b-dropdownbox-container.new .block > div:nth-child(1) > div::after {
    position: static;
    margin-left: 15px;
  }
  .b-dropdownbox-container > div:nth-child(2) .new::after {
    top: -90px;
    right: 0;
    width: 135px;
    height: 90pt;
    display: none;
  }
  .b-dropdownbox-container.dropdownSlider::after {
    display: none;
  }
  .b-dropdownbox-container .block > div:not(:first-child) > div {
    padding: 8px 2% !important;
    font-size: 15px;
  }
  .b-dropdownbox-container .block img {
    width: 15px;
  }
  .b-dropdownbox-container .block > div:not(:first-child) > div:nth-child(1) {
    width: 100%;
    text-align: center;
  }
  .b-dropdownbox-container .block > div:not(:first-child) > div:not(:first-child) {
    width: 50%;
    float: left;
  }
  .b-dropdownbox-container .block.has4divs > div:not(:first-child) > div:not(:first-child) {
    width: 33%;
    min-height: 3em;
    font-size: 13px;
    line-height: 16px;
  }
  .b-dropdownbox-container .block.has4divs > div:not(:first-child) > div:first-child p {
    line-height: 17px;
  }
  .b-dropdownbox-container .block.has3divs > div:not(:first-child) > div:not(:first-child) {
    width: 50%;
    min-height: 3em;
    font-size: 13px;
    line-height: 16px;
  }
  .b-dropdownbox-container .block.has2divs > div:not(:first-child) > div:not(:first-child) {
    width: 100%;
  }
  .b-dropdownbox-container .default-content-wrapper h5 {
    font-size: 30px;
    line-height: 32px;
  }
  .b-dropdownbox-container .new, .b-dropdownbox-container.new .block {
    padding: 15px;
  }
  .b-dropdownbox-container .new p, .b-dropdownbox-container.new .block p {
    font-size: 15px;
  }
  .b-dropdownbox-container .new div:nth-child(1), .b-dropdownbox-container.new .block div:nth-child(1) {
    padding-top: 0;
    padding-right: 0;
  }
  .b-dropdownbox-container .new div:nth-child(1) > div, .b-dropdownbox-container.new .block div:nth-child(1) > div {
    font-size: 18px;
    line-height: 24px;
  }
}