.b-banner-prorata-container.full {
  padding: 0 0 29em;
}

.b-banner-prorata-container .b-banner-prorata-wrapper {
  position: relative;
  padding-left: 0;
  margin: 15px;
}

.b-banner-prorata-container .b-banner-prorata-wrapper .prorata-table {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(100%, 100%));
  grid-gap: 0;
}

.b-banner-prorata-container .b-banner-prorata-wrapper .prorata-table > div {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 350px 350px;
  grid-gap: 20px;
}

.b-banner-prorata-container .b-banner-prorata-wrapper .prorata-table > div > div {
  height: 100%;
}

.b-banner-prorata-container .b-banner-prorata-wrapper .prorata-table .currentPlan {
  text-align: center;
}

.b-banner-prorata-container .b-banner-prorata-wrapper .prorata-table .bestValue {
  text-align: center;
}

.b-banner-prorata-container .b-banner-prorata-wrapper .prorata-table .currentPlan span {
  background-color: #D1D1D1;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  padding: 8px;
  width: 320px;
  display: inline-block;
  border-radius: 10px 10px 0 0;
}

.b-banner-prorata-container .b-banner-prorata-wrapper .prorata-table .bestValue span {
  background-color: #1C7928;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  padding: 8px;
  width: 320px;
  display: inline-block;
  border-radius: 10px 10px 0 0;
}

.b-banner-prorata-container .b-banner-prorata-wrapper .prorata-table .prorata-table-column {
  background-color: #F6F6F6;
  padding: 24px;
  text-align: center;
}

.b-banner-prorata-container .b-banner-prorata-wrapper .prorata-table .prorataTitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.b-banner-prorata-container .b-banner-prorata-wrapper .prorata-table .prorataTitle > strong {
  color: #1C7928;
}

.b-banner-prorata-container .b-banner-prorata-wrapper .prorata-table .prorataTitle h1 {
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  color: #006EFF;
  margin-top: 0;
}

.b-banner-prorata-container .b-banner-prorata-wrapper .prorata-table .prorataTitle h1 strong {
  color: #1C7928;
}

.b-banner-prorata-container .b-banner-prorata-wrapper .prorata-table .featureRow .prorata-table-column {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #FFF;
}

.b-banner-prorata-container .b-banner-prorata-wrapper .prorata-table div:nth-child(2) .prorata-table-column {
  border-radius: 10px 10px 0 0;
}

.b-banner-prorata-container .b-banner-prorata-wrapper .prorata-table div:nth-child(3) .prorata-table-column {
  padding: 0 24px 24px;
}

.b-banner-prorata-container .b-banner-prorata-wrapper .prorata-table .featureRow:last-of-type .prorata-table-column {
  border-radius: 0 0 10px 10px;
  border-bottom: none;
}

.b-banner-prorata-container .b-banner-prorata-wrapper .prorata-table h4 {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

.b-banner-prorata-container .b-banner-prorata-wrapper .prorata-table .prorataDevices {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  padding: 7px 0 14px;
  border-bottom: 1px solid #D1D1D1;
}

.b-banner-prorata-container .b-banner-prorata-wrapper .prorata-table .prorataPrice {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  padding-top: 24px;
  text-decoration: line-through;
}

.b-banner-prorata-container .b-banner-prorata-wrapper .prorata-table .prorataFree {
  font-weight: bold;
  font-size: 40px;
  line-height: 45px;
  padding-bottom: 24px;
  color: #1C7928;
}

.b-banner-prorata-container .b-banner-prorata-wrapper .prorata-table .prorataInfo {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.b-banner-prorata-container .b-banner-prorata-wrapper .prorata-table .currentPlanButton {
  background-color: #D1D1D1;
  font-size: 14px;
  line-height: 19px;
  font-weight: medium;
  padding: 8px 0;
  width: 290px;
  display: inline-block;
  border-radius: 5px;
}

.b-banner-prorata-container .b-banner-prorata-wrapper .prorata-table a.renewButton {
  background-color: #E72325;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  line-height: 19px;
  font-weight: medium;
  padding: 8px 0;
  width: 290px;
  display: inline-block;
  border-radius: 5px;
}

.b-banner-prorata-container .b-banner-prorata-wrapper .prorata-table a.renewButton:hover {
  text-decoration: none;
  background-color: #B10304;
}

.b-banner-prorata-container .b-banner-prorata-wrapper .prorata-table .featureRow {
  margin-left: 60px;
  border-bottom: 1px solid #F6F6F6;
}

.b-banner-prorata-container .b-banner-prorata-wrapper .prorata-table .featureRow:last-of-type {
  border-bottom: none;
}

.b-banner-prorata-container .b-banner-prorata-wrapper .prorata-table .featureRow .prorataFeature {
  margin-left: 40px;
}

.b-banner-prorata-container .b-banner-prorata-wrapper .prorata-table .featureRow .prorataFeature > div {
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
  padding: 18px 0;
  position: relative;
}

.b-banner-prorata-container .b-banner-prorata-wrapper .prorata-table .featureRow .prorata-table-column .icon {
  width: 22px;
  height: 22px;
  line-height: 30px;
}

.b-banner-prorata-container .b-banner-prorata-wrapper .prorata-table .featureRow .prorataFeature > div .icon {
  width: 22px;
  height: 22px;
  position: absolute;
  left: -40px;
}

.b-banner-prorata-container .b-banner-prorata-wrapper .prorata-table .featureRow .prorataFeature strong {
  margin-bottom: 10px;
  display: inline-flex;
}

.b-banner-prorata-container .b-banner-prorata-wrapper .b-banner-prorata {
  z-index: 1;
}

@media screen and (width >= 768px) {
  .b-banner-prorata-container .b-banner-prorata-wrapper {
    height: 100%;
    align-items: center;
    margin: 15px;
  }
}
@media screen and (width >= 989px) {
  .b-banner-prorata-container .b-banner-prorata-wrapper {
    left: 0;
    right: 0;
    top: 90px;
    margin: 15px auto;
    position: absolute;
  }
}