.box-carousel-container {
  background: black;
  padding: 0 !important;
}
.box-carousel-container .arrow {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #006DFF;
  border-radius: 50%;
}
.box-carousel-container .arrow svg {
  width: 10px;
  height: 10px;
  fill: white;
}
.box-carousel-container .arrow svg path {
  fill: white;
}
.box-carousel-container .left-arrow.disabled,
.box-carousel-container .right-arrow.disabled {
  opacity: 0.3;
  fill: white;
  background: #a5a5a5;
  pointer-events: none;
}
.box-carousel-container .carousel-container {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
.box-carousel-container .carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
}
.box-carousel-container .carousel::-webkit-scrollbar {
  display: none;
}
.box-carousel-container .block.scrollable .carousel {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}
.box-carousel-container .block.scrollable .carousel::-webkit-scrollbar {
  display: none;
}
.box-carousel-container .carousel-item {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 100%;
  margin: 10px;
  box-sizing: border-box;
  padding: 0 30px;
  border-radius: 15px;
  color: white;
  font-size: 1em;
  background: black;
  flex-shrink: 0;
  scroll-snap-align: center;
}
.box-carousel-container .carousel-item:first-child {
  margin-left: 0;
}
.box-carousel-container .carousel-item h3 {
  font-family: IBM Plex Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 1.5rem;
  line-height: 100%;
  text-align: center;
}
.box-carousel-container .carousel-item h3 em {
  font-size: 0.875rem;
  font-family: IBM Plex Mono;
  line-height: 100%;
  text-align: center;
  color: #828282;
  display: flex;
  justify-content: center;
}
.box-carousel-container .carousel-item p.text-element {
  font-family: IBM Plex Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  margin-top: 30px;
}
.box-carousel-container .carousel-item p.button-container {
  border-radius: 8px;
}
.box-carousel-container .carousel-item p.button-container a {
  font-family: IBM Plex Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  padding: 12px 20px;
  width: 100%;
}
.box-carousel-container .carousel-item .images-container {
  position: relative;
  display: none;
}
.box-carousel-container .carousel-item .images-container .image-2 {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, 30%);
}
.box-carousel-container .carousel-item .images-container.mobile-images-container {
  display: block;
}
.box-carousel-container .carousel-item .icon {
  width: 35px;
  height: 35px;
  margin: 0;
}
.box-carousel-container .carousel-header {
  position: absolute;
  z-index: 10;
  top: 40%;
  width: 100%;
}
.box-carousel-container .carousel-header .arrows {
  justify-content: space-between;
  padding: 0 20px;
}
.box-carousel-container ul {
  padding-left: 0;
  display: grid;
  grid-auto-flow: column;
}
@media screen and (min-width: 768px) {
  .box-carousel-container .carousel-header {
    justify-content: space-between;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 991px) {
  .box-carousel-container .carousel-item .images-container {
    display: block;
  }
  .box-carousel-container .carousel-item .images-container.mobile-images-container {
    display: none;
  }
}