$carousel-bg: black;
$text-color: white;
$disabled-opacity: 0.3;
$border-radius: 15px;
$item-bg: #eaf2ff;
$subtitle-color: #242424;
$disabled-fill: #a5a5a5;
$font-family: "IBM Plex Sans", sans-serif;
$arrow-bg: #006DFF;
$grey-text: #828282;

// Breakpoints
$tablet: 768px;
$desktop: 991px;

.box-carousel-container {
    background: $carousel-bg;
    padding: 0 !important;

    .arrow {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $arrow-bg;
        border-radius: 50%;

        svg {
            width: 10px;
            height: 10px;
            fill: white;

            path {
                fill: white;
            }
        }
    }

    .left-arrow,
    .right-arrow {

        &.disabled {
            opacity: $disabled-opacity;
            fill: white;
            background: $disabled-fill;
            pointer-events: none;
        }
    }

    .carousel-container {
        width: 100%;
        position: relative;
        display: flex;
        overflow: hidden;
        flex-direction: column;
    }

    .carousel {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;

        // Hide scrollbar for WebKit browsers
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .block.scrollable .carousel {
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;

        // Hide scrollbar for WebKit browsers
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .carousel-item {
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        width: 220px;
        height: 100%;
        margin: 10px;
        box-sizing: border-box;
        padding: 0 30px;
        border-radius: $border-radius;
        color: $text-color;
        font-size: 1em;
        background: $carousel-bg;
        flex-shrink: 0;
        scroll-snap-align: center;

        &:first-child {
            margin-left: 0;
        }

        h3 {
            font-family: IBM Plex Sans;
            font-weight: 700;
            font-style: Bold;
            font-size: 1.5rem;
            line-height: 100%;
            text-align: center;

            em {
                font-size: 0.875rem;
                font-family: IBM Plex Mono;
                line-height: 100%;
                text-align: center;
                color: $grey-text;
                display: flex;
                justify-content: center;
            }
        }

        p.text-element {
            font-family: IBM Plex Sans;
            font-weight: 400;
            font-size: 18px;
            line-height: 100%;
            text-align: center;
            margin-top: 30px;
        }

        p.button-container {
            border-radius: 8px;

            a {
                font-family: IBM Plex Sans;
                font-weight: 500;
                font-style: Medium;
                font-size: 16px;
                line-height: 100%;
                padding: 12px 20px;
                width: 100%;
            }
        }

        .images-container {
            position: relative;
            display: none;

            .image-2 {
                position: absolute;
                top: 55%;
                left: 50%;
                width: 90%;
                transform: translate(-50%, 30%);
            }

            &.mobile-images-container {
                display: block;
            }
        }

        .icon {
            width: 35px;
            height: 35px;
            margin: 0;
        }
    }

    .carousel-header {
        position: absolute;
        z-index: 10;
        top: 40%;
        width: 100%;

        .arrows {
            justify-content: space-between;
            padding: 0 20px;
        }
    }

    ul {
        padding-left: 0;
        display: grid;
        grid-auto-flow: column;
    }

    @media screen and (min-width: $tablet) {
        .carousel-header {
            justify-content: space-between;
            margin-bottom: 20px;
        }
    }

    @media screen and (min-width: $desktop) {
        .carousel-item {
            .images-container {
                display: block;

                &.mobile-images-container {
                    display: none;
                }
            }
        }
    }
}