@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../../../styles/fonts/IBMPlexSans-Light.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../../../styles/fonts/IBMPlexSans-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../../../styles/fonts/IBMPlexSans-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../../../styles/fonts/IBMPlexSans-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}


body.creators main {
  background: linear-gradient(to bottom, #e4f2ff 0%, white 15%);
}

main .section {
  width: 100%;
  position: relative;
  padding: 32px 0;
  overflow: hidden;
}

main .section.py-1 {
  padding: 0;
}

main .section.pb-0 {
  padding-bottom: 0 !important;
}

.creators h1 {
  margin: 0 !important;
}

.creators .creators-banner h1 {
  font: normal normal bold 55px / 60px "IBM Plex Sans", sans-serif;
}

.creators .creators-banner h2 {
  color: #006DFF;
  font: normal normal bold 32px / 45px "IBM Plex Sans", sans-serif;
  margin-bottom: 0;
}

.creators .has-trial-btn table {
  clear: both;
}

.creators .has-trial-btn p.button-container a {
  min-width: 180px;
  height: auto;
  display: inline-block;
  float: left;
  background: #E72325 0% 0% no-repeat padding-box;
  border-radius: 30px;
  justify-content: center;
  padding: 9px 19px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  transition: all 0.3s ease;
  margin: 10px 10px 10px 0;
}

.creators .has-trial-btn p.button-container a:hover {
  text-decoration: none;
  opacity: 0.7;
  transition: all 0.3s ease;
}

.creators .has-trial-btn p.button-container:last-of-type a {
  background: #FFF 0% 0% no-repeat padding-box;
  color: #005ed9;
  margin-left: 10px;
}

.creators .has-trial-btn table:last-of-type img, .creators .has-trial-btn table:last-of-type span.icon {
  width: 24px;
  margin: 0 2px;
}

.creators .creators-block.block > div h3 {
  margin: 0 !important;
}

.creators .creators-block.block > div:nth-child(2) > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(205px, 1fr)) !important;
  grid-gap: 15px !important;
}

.creators .creators-block.block>div:nth-child(2) .creator-box {
  width: 205px !important;
  height: 300px !important;
  padding: 16px 15px !important;
}

.creators-block.block>div:nth-child(2) .creator-box>div:nth-child(1) {
  bottom: 58px !important;
}

.creators-block.block>div:nth-child(2) .creator-box>div:nth-child(1) img {
  top: -2px;
}

.creator-cards .four-cards > ul > li p {
  font-size: 16px !important;
}

.creator-money-back .money-back > ul > li h4 {
  margin: 0;
}

.qa-creators .questions-answers-item .question h4 em {
  font-style: normal !important;
}

.creators .creators-table .table {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

.creators .creators-table .table > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px 0
}

.creators .creators-table .table > div > div {
  padding: 25px 15px;
  border-radius: 16px;
  border: 1px #fff solid;
  flex: 1;
}

.creators .creators-table .table > div > div * {
  background-color: transparent;
}

.creators .creators-table .table > div > div p {
  margin: 0;
  padding: 0;
}

.creators .creators-table .table > div > div p strong {
  font-size: 32px;
}

.creators .creators-table.grey-background > div {
  background-color: #F5F5F7;
  padding-left: 10em;
  padding-right: 10em;
}

.creators .creators-table.grey-background > div:first-of-type {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding-top: 3em;
}

.creators .creators-table.grey-background > div:last-of-type {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding-bottom: 3em;
}

.creators .columns-container a.button {
  height: auto !important;
  padding: 10px 20px !important;
}

.creators .columns-container a.button:hover {
  background-color: #D70000 !important;
}

.creators-block.block>div:nth-child(3) a.button:any-link {
  height: auto !important;
  padding: 10px 20px !important;
}

.creators-block.block>div:nth-child(3) a.button:any-link:hover {
  background-color: #D70000 !important;
}

.creator-cards .default-content-wrapper a.button:any-link {
  height: auto !important;
  padding: 10px 20px !important;
}

.creator-cards .default-content-wrapper a.button:any-link:hover {
  background-color: #D70000 !important;
}

.creator-money-back .money-back > ul > li a {
  height: auto !important;
  padding: 10px 20px !important;
}

.creator-money-back .money-back > ul > li a:hover {
  background-color: #D70000 !important;
}

.creators .c-icon-box-grid-container .quotebox {
  background: #F5F5F7;
  border-radius: 20px;
  padding: 60px 68px;
  flex: 1;
  width: auto;
  text-align: left;
  margin: 0 30px;
  vertical-align: top;
  font: normal normal normal 20px / 23px Arial, sans-serif;
}

.creators .c-icon-box-grid-container .quotebox img {
  height: 60px;
}

.creators .c-icon-box-grid-container .quotebox h6 {
  font: normal normal normal 32px / 38px "IBM Plex Sans", sans-serif;
  margin-top: 10px;
}

.creators .c-icon-box-grid-container.font-v2 .quotebox h6 {
  font-size: var(--heading-font-size-s);
  line-height: var(--heading-font-size-m);
  margin-top: 10px;
}

.creators .c-icon-box-grid-container .quotebox p {
  font: normal normal normal 20px / 26px Arial, sans-serif;
}

.creators .c-icon-box-grid-container.font-v2 .quotebox .subtitle {
  font-size: var(--heading-font-size-xs);
  margin-bottom: 0;
}

.creators .c-icon-box-grid-container .quotebox .subtitle {
  margin-bottom: 2em;
}

.creators .c-icon-box-grid-container .quotebox .buttons a {
  height: auto !important;
  padding: 10px 20px !important;
  min-width: 230px;
  background: #E72325 0% 0% no-repeat padding-box;
  border-radius: 40px;
  justify-content: center;
  font: normal normal 500 18px / 24px Roboto, sans-serif;
  color: white;
}

@media (width >= 992px) {
  main .section {
    padding: 48px 0;
  }

  .creators .default-content-wrapper h2 {
    font: normal normal 300 60px/69px "IBM Plex Sans", sans-serif;
  }

  .creators.creators-block-container .creators-block-wrapper {
    padding: 20px;
  }
}

@media (width >= 900px) {
  .creators-block-wrapper {
    padding: 0 50px !important;
  }
  .columns-wrapper {
    max-width: 1300px !important;
    padding: 0 20px !important;
    margin: 0 auto !important;
  }
}

@media (width <= 767px) {
  .creators .c-icon-box-grid-container .quotebox {
    padding: 1em;
    margin-bottom: 2em !important;
  }
}

@media (width <= 525px) {
  .creators .creators-block.block>div:nth-child(2) .creator-box {
      width: 100% !important;
      height: 120vw !important;
  }
}

@media (width <= 1320px) {
  .creators-block-wrapper {
      max-width: 1300px;
      padding: 0 20px;
      margin: 8px;
  }
}

@media (width >= 1600px) {
  .columns-wrapper {
      max-width: 1332px !important;
      padding: 0 50px !important;
  }
}