.header {
  padding: 1em 15px;
}

header span.icon {
  height: unset;
  width: unset;
  display: block;
}

header span.reverse-filter {
  filter: invert(0);
}

header {
  &.rev-header {
    background-color: #fff;
  }
}

@media screen and (width >= 991px) {
  .header {
    max-width: 1200px;
    margin: auto;
  }

  header span.reverse-filter {
    filter: invert(1);
  }

  header {
    &.rev-header {
      background-color: #000;
    }
  }
}
