.particle-background {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 340px;
  border-radius: 25px;
  color: white;
  text-align: center;
  overflow: hidden;
  max-width: 1332px;
  z-index: 1;
  margin: 48px 0;
}

.we-container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1330px;
  position: relative;
}

.particle-background-container.no-padding .we-container {
  padding: 0;
}

.particle-background #ts-particles {
  position: absolute;
  inset: 0;
  padding: 0;
  margin: 0;
}

.particle-background h2 {
  font-size: var(--body-font-size-m2);
  line-height: var(--body-line-height-m2);
  margin: 0 auto;
  max-width: 80%;
}

.particle-background p {
  font-size: var(--body-font-size-xs);
  line-height: var(--body-line-height-xs);
}

.usbs-brand .particle-background div:last-of-type p {
  text-transform: unset;
}

.particle-background div {
  z-index: 1;
  padding: 24px;
}

@media screen and (width >= 768px) {
  .particle-background h2 {
    font-size: var(--body-font-size-l);
    line-height: var(--body-line-height-l);
  }
  .particle-background #ts-particles {
    display: block;
  }
  .usbs-brand .particle-background div:last-of-type p {
    width: 100%;
  }
}
@media (width >= 1200px) {
  .particle-background-container.we-container {
    max-width: 1330px;
    padding: 0 20px;
  }
}