.c-device-protection-box-wrapper {
  margin: 3em auto!important;
}

.c-device-protection-box-container {
  padding: 40px 0;
}

/* heading */
.c-device-protection-box-container .row-box > :nth-child(2) > *:first-child {
  font-size: 14px;
}

/* subtext */
.c-device-protection-box-container .row-box > :nth-child(2) > :not(:first-child) {
  font-size: 12px;
}

.c-device-protection-box-container.new-june-26 .c-device-protection-box-wrapper {
  margin-top: 0!important;
}

.c-device-protection-box-container.new-june-26 .row {
  gap: 38px;
}

.c-device-protection-box-container.new-june-26 :not(.image-container) {
  flex: 1;
}

.c-device-protection-box-container.new-june-26 .image-container, .c-device-protection-box-container.new-june-26 :not(.image-container) {
  width: auto;
  margin: 0;
  padding: 0;
}

.c-device-protection-box-container.new-june-26 .item {
  border-radius: 13px;
  background: #FFF;
  box-shadow: 0 1px 6px 0 #C1C1C1;
  padding: 26px;
  margin: 7.5px 0;
}

.c-device-protection-box-container.new-june-26 .item h6 {
  color: #161616;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 17px;
  padding: 0;
}

.c-device-protection-box-container.new-june-26 .item p {
  color: #3D3D3D;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
}

.c-device-protection-box-container.new-jul-26 p {
  margin-bottom: 0;
}

.c-device-protection-box-container.bigger-text .item {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.c-device-protection-box-container.right-smaller .col-lg-6.image-container {
  width: 65%;
}

.c-device-protection-box-container.right-smaller .col-lg-6:not(.image-container) {
  width: 35%;
  margin: 0;
}

.c-device-protection-box-container.left-smaller .col-lg-6.image-container {
  width: 45%;
}

.c-device-protection-box-container.left-smaller .col-lg-6:not(.image-container) {
  width: 55%;
  margin: 0;
}

@media screen and (width >=  992px) {
  /* heading */
  .c-device-protection-box-container .row-box > :nth-child(2) > *:first-child {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 18px;
    margin-top: 0;
  }

  /* subtext */
  .c-device-protection-box-container .row-box > :nth-child(2) > :not(:first-child) {
    font-size: 14px;
    margin-top: 0;
  }

  .c-device-protection-box-container{
    .image-container{
      align-content: center;
    }
  }
}

@media (width <= 768px) {
  .c-device-protection-box-container {
    padding: 1em 0;
  }

  .c-device-protection-box-wrapper {
    margin: 1em auto !important;
  }

  .c-device-protection-box-container.new-june-26 .row {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .c-device-protection-box-container.left-smaller .col-lg-6, .c-device-protection-box-container.right-smaller .col-lg-6 {
    width: 100% !important;
  }
}