@charset "UTF-8";

.section.banner-with-dropdown-container {
  background-color: black;
  color: white;
  padding: 0;
}

.section.lp-brand .banner-with-dropdown {
  padding: 0 15px;
  background: unset;
  padding-bottom: 3rem;
}

.section.banner-with-dropdown-container.borders-rounded .banner-with-dropdown {
  border-radius: 10px;
}

.section.banner-with-dropdown-container .banner-with-dropdown h1 {
  font-size: 28px;
  text-align: left;
  margin-top: 0;
}

.section.banner-with-dropdown-container.divider .banner-with-dropdown h1 {
  padding-bottom: 20px;
  border-bottom: 1px solid #E7E7E7;
}

.section.banner-with-dropdown-container .banner-with-dropdown h1 a {
  color: white;
  text-decoration: underline;
  text-decoration-color:#599bfc;
}

.section.banner-with-dropdown-container .pricesBox .buy_box a {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  padding: 13px 2em !important;
  margin-right: 10px;
}

.section.lp-brand .banner-with-dropdown p {
  width: 235px;
  font-size: 12px;
  line-height: 14px;
  font-family: Arial, sans-serif;
  margin: 0 auto 15px;
}

.section.banner-with-dropdown-container.new-2024.v2 p, .section.banner-with-dropdown-container.dropdown.v2 p {
  font-size: 13px;
  line-height: 15px;
}

.section.banner-with-dropdown-container .banner-with-dropdown .blue-box tr td p {
  display: flex;
  align-items: center;
  margin: 0;
  line-height: 17px;
}

.section.banner-with-dropdown-container.dropdown .banner-with-dropdown p:first-of-type {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

.section.banner-with-dropdown-container.dropdown .pricesBox .terms p {
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
}

.section.banner-with-dropdown-container.free-trial .banner-with-dropdown .col-lg-6 > div > p:last-of-type {
  font-size: 13px;
  line-height: 15px;
  margin-top: 0;
}

.section.banner-with-dropdown-container .banner-with-dropdown h1 a:hover {
  text-decoration-color:#cee2fe;
}

.section.banner-with-dropdown-container.dropdown .banner-with-dropdown p a {
  color: rgb(0 110 255);
  font-weight: bold;
}

.section.banner-with-dropdown-container.new-2024.v2 p a {
  text-decoration: underline;
}

.section.banner-with-dropdown-container.dropdown.v2 p a {
  text-decoration: underline;
}

.section.banner-with-dropdown-container .pricesBox .buy_box a:nth-of-type(2) {
  color: #006DFF;
  border: 2px solid #006DFF;
  border-radius: 10px;
  padding: 13px 1em !important;
}

.section.banner-with-dropdown-container.free-trial .banner-with-dropdown .col-lg-6 > div > p:last-of-type a {
  text-decoration: underline;
}

.section.banner-with-dropdown-container .banner-with-dropdown img {
  width: auto;
}

.section.banner-with-dropdown-container .banner-with-dropdown .img-right picture {
  position: relative;
  left: 15px;
}

.section.banner-with-dropdown-container .banner-with-dropdown .img-right {
  position: relative;
}

.section.banner-with-dropdown-container.new-2024 .banner-with-dropdown .img-right div::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(to left, rgb(247 247 247 / 0%), #F7F7F7);
}

.section.banner-with-dropdown-container.new-2024 .banner-with-dropdown {
  overflow: hidden;
  background-color: #F6F6F6;
}

.section.banner-with-dropdown-container.new-2024 .save-class {
  color: #1C7928;
  margin-left:10px;
  margin-right:10px;
  margin-top:0;
  font: normal normal bold 18px/21px Arial, sans-serif;
  gap: 5px;
}

.section.banner-with-dropdown-container.dropdown .banner-with-dropdown .img-right div::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(to left, rgb(247 247 247 / 0%), #F7F7F7);
}

.section.banner-with-dropdown-container.dropdown .banner-with-dropdown {
  overflow: hidden;
  background-color: #F6F6F6;
}

.section.banner-with-dropdown-container.dropdown .save-class {
  color: #1C7928;
  margin-left:10px;
  margin-right:10px;
  margin-top:0;
  font: normal normal bold 18px/21px Arial, sans-serif;
  gap: 5px;
}

.section.banner-with-dropdown-container.lp-brand .banner-with-dropdown h1 {
  font-weight: lighter;
  font-size: var(--heading-font-size-s);
  line-height: var(--heading-font-size-s);
}

.section.banner-with-dropdown-container.new-2024 .banner-with-dropdown h1 {
  font-weight: normal;
}

.section.banner-with-dropdown-container.new-2024 .banner-with-dropdown h3 {
  font: normal normal bold 24px/28px Arial, sans-serif;
  letter-spacing: 0;
  text-align: left;
}

.section.banner-with-dropdown-container.dropdown .banner-with-dropdown h1 {
  font-weight: bold;
  color: rgb(0 110 255);
  text-decoration: none;
  padding-top: 20px;
  font-size: 36px;
  line-height: 40px;
}

.section.banner-with-dropdown-container.new-2024.v2 .banner-with-dropdown h1 {
  font: normal normal normal 32px/42px "IBM Plex Sans", sans-serif;
}

.section.banner-with-dropdown-container.dropdown.v2 .banner-with-dropdown h1 {
  font: normal normal normal 32px/42px "IBM Plex Sans", sans-serif;
}

.section.banner-with-dropdown-container.dropdown .banner-with-dropdown h3 {
  font: normal normal bold 24px/28px Arial, sans-serif;
  letter-spacing: 0;
  text-align: left;
}

.section.banner-with-dropdown-container .banner-with-dropdown ul {
  padding-left: 0;
}

.section.banner-with-dropdown-container.divider .banner-with-dropdown ul {
  padding-bottom: 20px;
  border-bottom: 1px solid #E7E7E7;
}

.section.banner-with-dropdown-container .banner-with-dropdown ul li {
  list-style-type: none;
  padding-left: 0;
  font-size: var(--body-font-size-xs);
  line-height: 20px;
  color: #000;
  text-align: left;
  margin-top: 6px;
}

.section.banner-with-dropdown-container.list-greenpill-tag .banner-with-dropdown ul li em u {
  background-color: #2CB43D;
  border-radius: 16px;
  padding: 2px 7px;
  margin: 1px 0 0;
  color: white !important;
  font-weight: 600;
  font-size: 14px;
}

.section.banner-with-dropdown-container.new-2024.v2 .banner-with-dropdown ul li {
  display: inline-block;
  width: 100%;
}

.section.banner-with-dropdown-container.dropdown.v2 .banner-with-dropdown ul li {
  display: inline-block;
  width: 100%;
}

.section.banner-with-dropdown-container .banner-with-dropdown ul li::before {
  content: "•";
  color: #4CA154;
  font-weight: bold;
  float: left;
  margin-left: 0;
  margin-right: 10px;
  font-size: 35px;
}

.section.banner-with-dropdown-container.free-trial .banner-with-dropdown ul li::before {
  content: '';
  width: 18px;
  height: 18px;
  background: url('../../icons/checkmark_solid-circle_2.svg') no-repeat left center transparent;
}

.section.banner-with-dropdown-container.list-svg .banner-with-dropdown ul li::before {
  content: '';
  width: 18px;
  height: 18px;
  background: url('../../icons/checkmark_solid-circle.svg') no-repeat left center transparent;
  float: left;
}

.section.banner-with-dropdown-container.new-2024.v2 .banner-with-dropdown ul li::before {
  content: '';
  width: 18px;
  height: 18px;
  background: url('../../icons/checkmark_solid-circle_2.svg') no-repeat left center transparent;
  float: left;
}

.section.banner-with-dropdown-container.dropdown.v2 .banner-with-dropdown ul li::before {
  content: '';
  width: 18px;
  height: 18px;
  background: url('../../icons/checkmark_solid-circle_2.svg') no-repeat left center transparent;
  float: left;
}

.section.banner-with-dropdown-container .banner-with-dropdown .blue-box {
  width: 290px;
  background-color: #E4F2FF;
  border-radius: 10px;
  padding: 0 10px;
  display: flex;
}

.section.banner-with-dropdown-container .banner-with-dropdown .blue-box tr {
  display: flex;
  align-items: center;
}

.section.banner-with-dropdown-container .banner-with-dropdown .blue-box tr:first-of-type {
  display: none;
}

.section.banner-with-dropdown-container .banner-with-dropdown .blue-box tr td:first-of-type {
  margin-right: 10px;
}

.section.banner-with-dropdown-container .banner-with-dropdown .blue-box tr td p strong {
  margin-left: 5px;
}

.section.banner-with-dropdown-container .banner-with-dropdown .blue-box tr td p picture {
  width: 80px;
  margin: 5px 0;
}

.section.lp-brand .banner-with-dropdown img {
  width: 97%;
  border-radius: 10px;
}

.section.banner-with-dropdown-container .banner-with-dropdown .blue-box tr td p picture img {
  min-width: unset;
}

.section.banner-with-dropdown-container .banner-with-dropdown #lidlBox {
  width: 380px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16.1%);
  border-radius: 8px;
  padding: 2rem;
}

.section.banner-with-dropdown-container.new-2024 hr {
  border: 2px solid #C6C6C6;
  width: 80px;
}

.section.banner-with-dropdown-container.dropdown hr {
  border: 2px solid #C6C6C6;
  width: 80px;
}

.section.banner-with-dropdown-container.new-2024.v2 hr {
  border: 1px solid #E7E7E7;
  width: 100%;
  margin: 1em 0;
}

.section.banner-with-dropdown-container.dropdown.v2 hr {
  border: 1px solid #E7E7E7;
  width: 100%;
  margin: 1em 0;
}

.section.banner-with-dropdown-container .banner-with-dropdown #lidlBox hr {
  border-top: 1px solid #DDD;
}

.section.banner-with-dropdown-container .banner-with-dropdown #lidlBox a.red-buy-button {
  width: 100%;
  text-align: left;
  font-weight: normal;
  font-size: var(--body-font-size-xs);
  line-height: var(--body-font-size-m);
  margin: 1.5rem 0;
  padding: 10px 20px!important;
}

.section.banner-with-dropdown-container .banner-with-dropdown #lidlBox a.red-buy-button img {
  width: 40px;
  margin-right: 15px;
}

.section.lp-brand .banner-with-dropdown .col-5 {
  width: 322px;
}

/* animated text */
.section.banner-with-dropdown-container .animated_text {
  height: 40px;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 6px;
}

.section.banner-with-dropdown-container .animated_text span {
  width: 100%;
  position: absolute;
  display: block;
  box-sizing: border-box;
  top: 50px;
  padding-bottom: 15px;
  padding-left: 0;
  margin-left: 0;
  color: #006DFF;
  font-weight: lighter;
  font-size: var(--heading-font-size-l);
  line-height: var(--heading-font-size-xl);
  font-family: 'IBM Plex Sans', sans-serif;
  text-align: center;
}

.section.banner-with-dropdown-container .animated_text span.d-show {
  transform: translateY(-100%);
  transition: .5s transform ease-in-out;
}

.section.banner-with-dropdown-container .animated_text span.d-up {
  transform: translateY(-200%);
  transition: .5s transform ease-in-out;
}

.section.banner-with-dropdown-container #greenPillBox {
  background-color: #2FB43E;
  display: inline-block;
  color: #fff;
  border-radius: 15px;
  margin-top: 15px;
  margin-left: 0 !important;
  font-size: 18px;
  padding: 2px 11px;
}

.section.banner-with-dropdown-container #redPillBox {
  background-color: #E72325;
  display: inline-block;
  color: #fff;
  border-radius: 15px;
  margin-top: 15px;
  margin-left: 0 !important;
  font-size: 18px;
  padding: 2px 11px;
}

.section.banner-with-dropdown-container #buyBtnGreenCircleBox {
  align-items: center;
}

.section.banner-with-dropdown-container #buyBtnGreenCircleBox a {
  margin-right: 10px;
}

.section.banner-with-dropdown-container #buyBtnGreenCircleBox span.green_circle_box {
  position: relative;
  background: #2cb43d;
  border-radius: 50%;
  width: 83px;
  height: 83px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  padding: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.section.banner-with-dropdown-container #buyBtnGreenCircleBox span.green_circle_box strong {
  font-size: 28px;
  line-height: 28px;
}

.section.banner-with-dropdown-container #prodSel {
  padding: 0 0 10px;
  display: table-caption;
}


.section.banner-with-dropdown-container #prodSel.prodsel-radio {
  display: block;
}

.section.banner-with-dropdown-container #prodSel.prodsel-radio label {
  display: flex;
  align-items: center;
  justify-self: self-start;
  cursor: pointer;
}

.section.banner-with-dropdown-container.new-radio-design #prodSel.prodsel-radio label {
  border-radius: 12px;
  border: 1px solid #DBDBDB;
  background: #FFF;
  padding: 10px 20px;
  transition: all 0.2s ease;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.section.banner-with-dropdown-container.new-radio-design #prodSel.prodsel-radio label.selected {
  border: 1px solid #B5E5FF;
  background: #F1F5F9;
  position: relative;
}

.section.banner-with-dropdown-container #prodSel.prodsel-radio .productSelector {
  display: flex;
  flex-direction: column;
}

.section.banner-with-dropdown-container.new-radio-design #prodSel.prodsel-radio .productSelector {
  flex-direction: row;
  gap: 12px;
}

.section.banner-with-dropdown-container #prodSel.prodsel-radio label input {
  width: 12px;
  margin: 0 8px 0 0;
}

.section.banner-with-dropdown-container #prodSel.prodsel-radio label em {
  background-color: #E6F2FF;
  color: #4870ff;
  border-radius: 10px;
  font-size: 13px;
  font-style: normal;
  padding: 4px 10px;
}

.section.banner-with-dropdown-container #prodSel label.bestValue {
  font-size: 14px;
  padding: 1px 20px;
  position: relative;
  top: 1px;
  border: 1px solid #ccc;
  border-radius: 10px 10px 0 0;
  color: white;
  background: rgb(0 110 255);
}

.section.banner-with-dropdown-container #prodSel select.productSelector {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0 10px 10px;
  color: rgb(0 110 255);
  font-weight: bold;
}

.section.banner-with-dropdown-container .pricesBox {
  display: none;
}

.section.banner-with-dropdown-container .pricesBox.active {
  display: block;
}

.section.banner-with-dropdown-container .pricesBox .d-flex .variation {
  margin-left: 10px;
}

.section.banner-with-dropdown-container.hide-prices .pricesBox .d-flex {
  display: none!important;
}

.section.banner-with-dropdown-container.divider .pricesBox .terms {
  padding-bottom: 20px;
  border-bottom: 1px solid #E7E7E7;
  align-items: center;
}

.section.banner-with-dropdown-container .pricesBox .prod-save {
  color: #1C7928;
  margin-left: 10px;
  border-radius: 10px;
  line-height: 17px;
  font-size: 16px;
  font-weight: 600;
}

.section.banner-with-dropdown-container.free-trial .pricesBox .pay_after_trial {
  font-size: 13px;
  line-height: 15px;
}

.section.banner-with-dropdown-container.free-trial .pricesBox .pay_after_trial span {
  display: inline-block;
  font-size: 14px;
}

@media (width >= 768px) {
  .section.lp-brand .banner-with-dropdown h1 {
    font-weight: lighter;
    font-size: var(--heading-font-size-l);
    line-height: var(--heading-font-size-l);
    margin-top: 1em;
  }

  .section.lp-brand .banner-with-dropdown p {
    width: 100%;
    font-size: var(--body-font-size-xs);
    line-height: var(--body-font-size-s);
  }

  .section.banner-with-dropdown-container .pricesBox {
    text-align: left;
  }

  .section.banner-with-dropdown-container.new-2024.v2 .pricesBox {
    margin-top: 1em;
  }

  .section.banner-with-dropdown-container.dropdown.v2 .pricesBox {
    margin-top: 1em;
  }

 .section.banner-with-dropdown-container .pricesBox .d-flex {
    align-items: center;
  }

  .section.banner-with-dropdown-container .pricesBox .d-flex p {
    margin: 0 10px 0 0;
  }

  .section.banner-with-dropdown-container .pricesBox .d-flex span.prod-oldprice {
    text-decoration: line-through;
    font-size: var(--heading-font-size-xs);
    line-height: var(--heading-font-size-xs);
    font-weight: normal;
  }

  .section.banner-with-dropdown-container .pricesBox .d-flex span.prod-newprice {
    font-size: var(--heading-font-size-xl);
    line-height: var(--heading-font-size-xl);
    font-weight: bold;
  }

 .section.banner-with-dropdown-container .pricesBox .d-flex .variation {
    font-size: var(--body-font-size-xs);
    line-height: 19px;
    font-weight: bold;
  }

  .section.banner-with-dropdown-container .pricesBox .buy_box {
    margin: 2em 0 1em;
    min-height: auto;
  }

  .section.banner-with-dropdown-container.free-trial .pricesBox .buy_box {
    margin: 1em 0;
  }

  .section.banner-with-dropdown-container .animated_text span {
    font-size: var(--heading-font-size-xl);
    line-height: var(--heading-font-size-xl);
    text-align: left;
    margin-left: 0;
  }

  .section.banner-with-dropdown-container .pricesBox .buy_box a, .section.banner-with-dropdown-container .pricesBox .buy_box span {
    display: inline;
  }

  .section.banner-with-dropdown-container .pricesBox .terms {
    margin: 5px 0 10px;
    font: normal normal normal 14px/16px Arial, sans-serif;
  }

  .section.banner-with-dropdown-container .pricesBox .terms p {
    font-size: 12px;
    line-height: 15px;
    margin: 0 5px;
  }

  .section.banner-with-dropdown-container .pricesBox .terms p a {
    color: #006DFF;
  }
}

@media screen and (width >= 991px) {
  .section.banner-with-dropdown-container .banner-with-dropdown h1 {
    font-size: var(--heading-font-size-xl);
    line-height: 45px;
    text-align: left;
  }

  .section.banner-with-dropdown-container.free-trial .banner-with-dropdown .col-lg-6 {
    width: 75%;
  }

  .section.lp-brand .banner-with-dropdown h1 {
    font-weight: lighter;
    font-size: var(--heading-font-size-xl);
    line-height: var(--heading-font-size-xl);
  }

  .section.banner-with-dropdown-container.free-trial .banner-with-dropdown h1 {
    font: normal normal normal 32px / 42px "IBM Plex Sans", sans-serif;
  }

  .section.banner-with-dropdown-container .banner-with-dropdown.smaller-title h1 {
    font-size: var(--heading-font-size-l);
    line-height: var(--heading-font-size-l);
  }

  .section.banner-with-dropdown-container .banner-with-dropdown h2 {
    font-size: var(--heading-font-size-l);
    line-height: var(--heading-font-size-xl);
    text-align: left;
  }

  .section.banner-with-dropdown-container .banner-with-dropdown img {
    width: initial;
  }

  .section.lp-brand .banner-with-dropdown {
    padding-bottom: 9rem;
  }
}

@media screen and (width <= 991px) {
  .section.banner-with-dropdown-container.hide-tablet, .section.banner-with-dropdown-container.hide-tablet .block {
    background-image: unset!important;
  }

  .section.lp-brand .banner-with-dropdown {
    padding-bottom: 1rem !important;
    background: none !important;
  }

  .banner-with-dropdown-container.bckimg-full-right {
    background-position: right -19rem top!important;
  }

  .banner-with-dropdown-container h1 {
    font-size: 30px;
  }

  .banner-with-dropdown-container h2 {
    font-size: 26px;
  }
}

@media screen and (width <= 768px) {
  .section.banner-with-dropdown-container {
    margin: 0 15px;
  }

  .section.banner-with-dropdown-container .banner-with-dropdown {
    padding: 1em 0!important;
    margin-bottom: 2em!important;
  }

  .section.lp-brand .banner-with-dropdown {
    padding-bottom: 5.5rem;
    border-radius: 10px;
  }

  .section.normal-padding-mobile .banner-with-dropdown {
    padding-bottom: 1rem;
  }

  .section.banner-with-dropdown-container.new-2024.v2 .banner-with-dropdown {
    border-radius: 0!important;
    margin-top: 0!important;
    margin-bottom: 1em !important;
  }

  .section.banner-with-dropdown-container.dropdown.v2 .banner-with-dropdown {
    border-radius: 0!important;
    margin-top: 0!important;
    margin-bottom: 1em !important;
  }

  .section.banner-with-dropdown-container .banner-with-dropdown h1 {
    margin-top: 0;
    font-size: 30px;
    text-align: center;
  }

  .section.lp-brand .banner-with-dropdown h1 {
    text-align: center;
  }

  .section.banner-with-dropdown-container.new-2024.v2 .banner-with-dropdown h1 {
    font-size: 22px;
    line-height: 30px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: normal;
  }

  .section.banner-with-dropdown-container.dropdown.v2 .banner-with-dropdown h1 {
    font-size: 22px;
    line-height: 30px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: normal;
  }

  .section.banner-with-dropdown-container .banner-with-dropdown h2 {
    font-size: var(--body-font-size-m);
    line-height: var(--body-font-size-l);
  }

  .section.banner-with-dropdown-container .banner-with-dropdown p {
    font-size: 14px;
    line-height: 19px;
  }

  .section.banner-with-dropdown-container.new-2024.v2 .banner-with-dropdown ul {
    text-align: left;
    max-width: 400px;
    margin: 0 auto;
  }

  .section.banner-with-dropdown-container.dropdown.v2 .banner-with-dropdown ul {
    text-align: left;
  }

  .section.banner-with-dropdown-container .banner-with-dropdown ul li {
    font-size: 14px;
    line-height: 19px;
  }

  .section.banner-with-dropdown-container.new-2024.v2 .banner-with-dropdown ul li {
    font-size: 14px;
  }

  .section.banner-with-dropdown-container.new-2024.v2 .banner-with-dropdown .prices_box {
    text-align: left;
  }

  .section.banner-with-dropdown-container.dropdown.v2 .banner-with-dropdown ul li {
    font-size: 14px;
  }

  .section.banner-with-dropdown-container.new-radio-design #prodSel.prodsel-radio .productSelector {
    justify-content: center;
  }

  .section.banner-with-dropdown-container.dropdown.v2 .banner-with-dropdown .prices_box {
    text-align: left;
  }

  .section.banner-with-dropdown-container .banner-with-dropdown #lidlBox {
    width: 100%;
    padding: 1rem 20px;
  }

  .section.banner-with-dropdown-container .banner-with-dropdown #lidlBox strong {
    font-size: 13px;
    line-height: 17px;
    font-weight: bold;
    letter-spacing: -0.2px;
    display: block;
  }

  .section.banner-with-dropdown-container .banner-with-dropdown #lidlBox hr {
    margin: 1em 0;
  }

  .section.banner-with-dropdown-container .banner-with-dropdown #lidlBox a.red-buy-button {
    font-size: 11px;
    line-height: 25px;
    font-weight: bold;
    letter-spacing: -0.17px;
    padding: 10px 15px!important;
    margin: 1rem 0;
  }

  .section.banner-with-dropdown-container .banner-with-dropdown #lidlBox a.red-buy-button img {
    max-height: 25px;
    width: auto;
  }

  .section.banner-with-dropdown-container .pricesBox .d-flex {
    justify-content: center;
  }

  .section.banner-with-dropdown-container.new-2024.v2 .pricesBox .d-flex {
    justify-content: left;
  }

  .section.banner-with-dropdown-container.dropdown.v2 .pricesBox .d-flex {
    justify-content: left;
  }

  .section.banner-with-dropdown-container .pricesBox .d-flex p {
    margin: 0 10px 0 0;
  }

  .section.banner-with-dropdown-container .pricesBox .d-flex span.prod-oldprice {
    text-decoration: line-through;
    font: normal normal normal 18px/21px Arial, sans-serif;
  }

  .section.banner-with-dropdown-container .pricesBox .d-flex span.prod-newprice {
    font-size: var(--heading-font-size-l);
    line-height: var(--heading-font-size-l);
    font-weight: bold;
  }

  .section.banner-with-dropdown-container .pricesBox .d-flex .variation {
    font-size: var(--body-font-size-s);
    line-height: 19px;
    font-weight: bold;
  }

  .section.banner-with-dropdown-container.new-2024.v2 .pricesBox .d-flex .variation {
    font-size: 14px;
    line-height: 16px;
  }

  .section.banner-with-dropdown-container.dropdown.v2 .pricesBox .d-flex .variation {
    font-size: 14px;
    line-height: 16px;
  }

  .section.banner-with-dropdown-container .pricesBox .buy_box {
    margin: 20px 0;
    min-height: auto;
  }

  .section.banner-with-dropdown-container.new-2024.v2 .pricesBox .buy_box {
    text-align: center
  }

  .section.banner-with-dropdown-container.dropdown.v2 .pricesBox .buy_box {
    text-align: center
  }

  .section.banner-with-dropdown-container .pricesBox .buy_box a, .section.banner-with-dropdown-container .pricesBox .buy_box span {
    display: inline;
    font-size: var(--body-font-size-s);
  }

  .section.banner-with-dropdown-container .pricesBox .terms p a {
    color: #006DFF;
  }

  .section.banner-with-dropdown-container.new-2024.v2 .pricesBox .buy_box a {
    display: inline-block;
    width: 90%;
    text-align: center;
    margin: 0 auto 10px;
    font-size: 16px;
  }

  .section.banner-with-dropdown-container.dropdown.v2 .pricesBox .buy_box a {
    display: inline-block;
    width: 90%;
    text-align: center;
    margin: 0 auto 10px;
    font-size: 16px;
  }

  .section.banner-with-dropdown-container.new-2024.v2 .pricesBox .buy_box a:nth-of-type(2) {
    margin: 0 auto;
  }

  .section.banner-with-dropdown-container.dropdown.v2 .pricesBox .buy_box a:nth-of-type(2) {
    margin: 0 auto;
  }

  .section.banner-with-dropdown-container .pricesBox .terms {
    margin: 5px 0 10px;
  }

  .section.banner-with-dropdown-container .pricesBox .terms p {
    font-size: 12px;
    line-height: 15px;
    margin: 0 5px;
  }

  .section.banner-with-dropdown-container.block-hide-mobile {
    display: none !important;
  }

  .section.banner-with-dropdown-container.hide-mobile, .section.banner-with-dropdown-container.hide-mobile .block {
    background-image: unset!important;
  }

  .section.banner-with-dropdown-container.hide-mobile .bck-img {
    display: none;
  }

  .section.banner-with-dropdown-container .animated_box {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }

  .section.banner-with-dropdown-container.new-radio-design #prodSel.prodsel-radio label input {
    visibility: hidden;
  }

  .section.banner-with-dropdown-container.new-radio-design #prodSel.prodsel-radio label::after {
  content: "";
    width: 16px;
    height: 16px;
    background-color: white;
    border: 3px solid #2c2d2f;
    position: absolute;
    border-radius: 100%;
    left: 27px;
  }

  .section.banner-with-dropdown-container.new-radio-design #prodSel.prodsel-radio label.selected::after {
  content: "";
    border: 3px solid #006DFF;
    left: 13px;
  }
}

@media screen and (width <= 450px) {
.section.banner-with-dropdown-container.new-radio-design #prodSel.prodsel-radio .productSelector {
    flex-direction: column;
  }
}

@media screen and (width <= 991px) {
  .section.banner-with-dropdown-container.hide-tablet {
    background-image: unset!important;
    background-color: #000;
  }
}

@media screen and (width >= 1400px) {
  .section.banner-with-dropdown-container .custom-col-xl-4 {
    flex: 0 0 auto;
    width: 27.33%;
  }
}

@media screen and (width >= 1800px) {
  .section.banner-with-dropdown-container .custom-justify-content-xxxl-center {
    justify-content: center !important;
  }
}