@charset "UTF-8";

.section.form-banner-container {
  background-color: black;
  color: white;
  padding: 0;
}

.section.form-banner-container.borders-rounded .form-banner {
  border-radius: 10px;
}

.section.form-banner-container .form-banner img {
  width: auto;
}

.section.form-banner-container .form-banner p a {
  color: inherit;
}

.section.form-banner-container .form-banner .img-right picture {
  position: relative;
  left: 15px;
}

.section.form-banner-container .form-banner .img-right {
  position: relative;
}

.section.form-banner-container.new-2024 .form-banner .img-right div::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(to left, rgb(247 247 247 / 0%), #F7F7F7);
}

.section.form-banner-container .form-banner h1 {
  font-size: 28px;
  text-align: left;
  margin-top: 0;
}

.section.form-banner-container.new-2024 .form-banner {
  overflow: hidden;
  background-color: #F6F6F6;
}

.section.form-banner-container.new-2024 .save-class {
  color: #1C7928;
  margin-left:10px;
  margin-right:10px;
  margin-top:0;
  font: normal normal bold 18px/21px Arial, sans-serif;
  gap: 5px;
}

.section.form-banner-container.new-2024 .form-banner h1 {
  font-weight: normal;
}



.section.form-banner-container.new-2024 .form-banner h3 {
  font: normal normal bold 24px/28px Arial, sans-serif;
  letter-spacing: 0;
  text-align: left;
}

.section.form-banner-container .form-banner .button-container {
  display: none;
}

.section.form-banner-container .form-banner ul {
  padding-left: 0;
}

.section.form-banner-container .form-banner ul li {
  list-style-type: none;
  padding-left: 0;
  font-size: var(--body-font-size-xs);
  line-height: 20px;
  color: #000;
  text-align: left;
  margin-top: 6px;
  display: flex;
  align-items: flex-start;
}

.section.form-banner-container .form-banner ul li::before {
  content: "•";
  color: #4CA154;
  font-weight: bold;
  display: inline-block;
  margin-left: 0;
  margin-right: 10px;
  font-size: 35px;
}

.section.form-banner-container .form-banner .blue-box {
  width: 290px;
  background-color: #E4F2FF;
  border-radius: 10px;
  padding: 0 10px;
  display: flex;
}

.section.form-banner-container .form-banner .blue-box tr {
  display: flex;
  align-items: center;
}

.section.form-banner-container .form-banner .blue-box tr:first-of-type {
  display: none;
}

.section.form-banner-container .form-banner .blue-box tr td:first-of-type {
  margin-right: 10px;
}

.section.form-banner-container .form-banner .blue-box tr td p {
  display: flex;
  align-items: center;
  margin: 0;
  line-height: 17px;
}

.section.form-banner-container .form-banner .blue-box tr td p strong {
  margin-left: 5px;
}

.section.form-banner-container .form-banner .blue-box tr td p picture {
  width: 80px;
  margin: 5px 0;
}

.section.form-banner-container .form-banner .blue-box tr td p picture img {
  min-width: unset;
}

.section.form-banner-container.new-2024 hr {
  border: 2px solid #C6C6C6;
  width: 80px;
}

.section.form-banner-container #greenPillBox {
  background-color: #2FB43E;
  display: inline-block;
  color: #fff;
  border-radius: 15px;
  margin-top: 15px;
  margin-left: 0 !important;
  font-size: 18px;
  padding: 2px 11px;
}

.section.form-banner-container #redPillBox {
  background-color: #E72325;
  display: inline-block;
  color: #fff;
  border-radius: 15px;
  margin-top: 15px;
  margin-left: 0 !important;
  font-size: 18px;
  padding: 2px 11px;
}

.section.form-banner-container #buyBtnGreenCircleBox {
  align-items: center;
}

.section.form-banner-container #buyBtnGreenCircleBox a {
  margin-right: 10px;
}

.section.form-banner-container #buyBtnGreenCircleBox span.green_circle_box {
  position: relative;
  background: #2cb43d;
  border-radius: 50%;
  width: 83px;
  height: 83px;
  font-size: 28px;
  line-height: 81px;
  text-align: center;
  padding: 0;
  color: #fff;
  display: inline-block;
  margin-top: 10px;
}

.section.form-banner-container.form .form-banner-wrapper table {
  display: none;
}

.section.form-banner-container .form-banner-wrapper #formBox {
  width: 215px;
  margin-bottom: 1em;
}

.section.form-banner-container .form-banner-wrapper #formBox label {
  display: none;
  font-size: 11px;
}

.form-banner-container .form-banner-wrapper #formBox input {
  font-size: 14px;
  border-radius: 8px;
  padding: 13px 15px;
  line-height: 14px;
}

.section.b-banner-container .form-banner-wrapper #formBox button {
  width: 100%;
  border-radius: 8px;
}

.section.form-banner-container .form-banner-wrapper #formBox p.form_err {
  font-size: 12px;
  color: red;
}

@media (width >= 768px) {
  .section.form-banner-container .form-banner h1 {
    font-size: 30px;
  }

  .section.form-banner-container #pricesBox {
    text-align: left;
  }

 .section.form-banner-container #pricesBox .d-flex {
    align-items: center;
  }

  .section.form-banner-container #pricesBox .d-flex p {
    margin: 0 10px 0 0;
  }

  .section.form-banner-container #pricesBox .d-flex span.prod-oldprice {
    text-decoration: line-through;
    font-size: var(--heading-font-size-xs);
    line-height: var(--heading-font-size-xs);
    font-weight: normal;
  }

  .section.form-banner-container #pricesBox .d-flex span.prod-newprice {
    font-size: var(--heading-font-size-xl);
    line-height: var(--heading-font-size-xl);
    font-weight: bold;
  }

 .section.form-banner-container #pricesBox .d-flex .variation {
    font-size: var(--body-font-size-xs);
    line-height: 19px;
    font-weight: bold;
  }

  .section.form-banner-container #pricesBox .buy_box {
    margin: 20px 0;
    min-height: auto;
  }

  .section.form-banner-container .animated_text span {
    font-size: var(--heading-font-size-xl);
    line-height: var(--heading-font-size-xl);
    text-align: left;
    margin-left: 25px;
  }

  .section.form-banner-container #pricesBox .buy_box a, .section.form-banner-container #pricesBox .buy_box span {
    display: inline;
  }

  .section.form-banner-container #pricesBox .terms {
    margin: 5px 0 10px;
    font: normal normal normal 14px/16px Arial, sans-serif;
  }

  .section.form-banner-container #pricesBox .terms p {
    font-size: 12px;
    line-height: 15px;
    margin: 0 5px;
  }

  .section.form-banner-container #pricesBox .terms p a {
    color: #006EFF;
  }
}

@media screen and (width >= 991px) {
  .section.form-banner-container .form-banner h1 {
    font-size: var(--heading-font-size-xl);
    line-height: 45px;
  }

  .section.form-banner-container .banner.smaller-title h1 {
    font-size: var(--heading-font-size-l);
    line-height: var(--heading-font-size-l);
  }

  .section.form-banner-container .form-banner h2 {
    font-size: 36px;
  }

  .section.form-banner-container .form-banner .button-container {
    display: block;
  }

  .section.form-banner-container .form-banner img {
    width: initial;
  }
}

@media screen and (width <= 768px) {
  .section.form-banner-container .form-banner {
    padding: 1em 0!important;
    margin-bottom: 2em!important;
  }

  .section.normal-padding-mobile .form-banner {
    padding-bottom: 1rem;
  }

  .section.form-banner-container .form-banner h1 {
    margin-top: 0;
    font-size: 30px;
    text-align: left;
  }

  .section.form-banner-container .form-banner h2 {
    font-size: var(--body-font-size-m);
  }

  .section.form-banner-container .form-banner p {
    font-size: 13px;
    line-height: 18px;
  }

  .section.form-banner-container .form-banner ul li {
    font-size: 11px;
    line-height: 16px;
  }

  .section.form-banner-container #pricesBox .d-flex {
    justify-content: center;
  }

  .section.form-banner-container #pricesBox .d-flex p {
    margin: 0 10px 0 0;
  }

  .section.form-banner-container #pricesBox .d-flex span.prod-oldprice {
    text-decoration: line-through;
    font: normal normal normal 18px/21px Arial, sans-serif;
  }

  .section.form-banner-container #pricesBox .d-flex span.prod-newprice {
    font-size: var(--heading-font-size-l);
    line-height: var(--heading-font-size-l);
    font-weight: bold;
  }

  .section.form-banner-container #pricesBox .d-flex .variation {
    font-size: var(--body-font-size-s);
    line-height: 19px;
    font-weight: bold;
  }

  .section.form-banner-container #pricesBox .buy_box {
    margin: 20px 0;
    min-height: auto;
  }

  .section.form-banner-container #pricesBox .buy_box a, .section.form-banner-container #pricesBox .buy_box span {
    display: inline;
    font-size: var(--body-font-size-s);
  }

  .section.form-banner-container #pricesBox .terms {
    margin: 5px 0 10px;
  }

  .section.form-banner-container #pricesBox .terms p {
    font-size: 12px;
    line-height: 15px;
    margin: 0 5px;
  }

  .section.form-banner-container #pricesBox .terms p a {
    color: #006EFF;
  }

  .section.form-banner-container.block-hide-mobile {
    display: none !important;
  }

  .section.form-banner-container.hide-mobile, .section.form-banner-container.hide-mobile .block {
    background-image: unset!important;
  }

  .section.form-banner-container.hide-mobile .bck-img {
    display: none;
  }

  .section.form-banner-container .animated_box {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
}

@media screen and (width <= 991px) {
  .section.form-banner-container.hide-tablet {
    background-image: unset!important;
    background-color: #000;
  }
}

@media screen and (width >= 1400px) {
  .section.form-banner-container .custom-col-xl-4 {
    flex: 0 0 auto;
    width: 27.33%;
  }
}

@media screen and (width >= 1800px) {
  .section.form-banner-container .custom-justify-content-xxxl-center {
    justify-content: center !important;
  }
}