.counter-bf-container {
  color: white;
  height: auto;
  background-color: black;
  background-repeat: no-repeat;
  background-position: top right;
  overflow: hidden;
  padding-right: 0;
  padding-left: 0;
}

.counter-bf-container table:last-of-type img {
  margin-right: 10px;
  height: 78px;
}

.counter-bf-container table#flipdownTable {
  display: none;
}

.counter-bf-container:not(.default) table#flipdownTable.red td {
  background-color: white;
  border: 4px solid #EB0000;
  border-radius: 30px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: auto;
  max-width: max-content;
  padding: 0 15px;
}

.counter-bf-container:not(.default) table#flipdownTable.red td strong {
  line-height: 20px;
}

.counter-bf-container .flipdown {
  width: 100%;
  height: auto;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.counter-bf-container:not(.default) table#flipdownTable .flipdown {
  min-width: 200px;
  height: 40px;
  background-color: #EB0000;
  color: white;
  width: auto;
  padding: 23px 10px 18px 5px;
  margin: -1px 15px;
  font-size: 8px;
}

.counter-bf-container:not(.default) table#flipdownTable .flipdown .rotor-group {
  height: 37px;
  position: relative;
}

.counter-bf-container:not(.default) table#flipdownTable .flipdown .rotor-group-heading {
  position: absolute;
  bottom: 0;
  left: 5px;
}

.counter-bf-container:not(.default) table#flipdownTable .flipdown .rotor {
  width: 15px;
  height: 32px;
  margin: 0 2px 0 0;
  border-radius: 4px;
  font-size: 21px;
  font-weight: bold;
}

.counter-bf-container:not(.default) table#flipdownTable .flipdown .rotor-leaf-rear, .counter-bf-container:not(.default) table#flipdownTable .flipdown .rotor-leaf-front {
  line-height: 21px;
  width: 25px;
  height: 21px;
}

.counter-bf-container:not(.default) table#flipdownTable .flipdown .rotor-leaf {
  height: 21px;
}

.counter-bf-container:not(.default) table#flipdownTable .flipdown .rotor-top {
  line-height: 21px;
}

.counter-bf-container:not(.default) table#flipdownTable .flipdown .rotor-group-heading::before {
  display: block;
  height: 23px;
  line-height: 30px;
  margin-left: 10px;
}

.counter-bf-container:not(.default) table#flipdownTable .flipdown .rotor-top, .counter-bf-container:not(.default) table#flipdownTable .flipdown .rotor-bottom {
  width: 25px;
  height: 21px;
}

.counter-bf-container:not(.default) table#flipdownTable .flipdown .rotor-group:not(:last-of-type) {
  padding-right: 10px;
  border-right: 1px solid #D00C0C;
}

.counter-bf-container .counter-bf-wrapper h1 {
  font-size: 35px;
  line-height: 40px;
}

.counter-bf-container .counter-bf-wrapper h2 {
  font-size: 30px;
  line-height: 35px;
}

.counter-bf-container .counter-bf-wrapper h3 {
  font-size: 25px;
  line-height: 30px;
}

.counter-bf-container .counter-bf-wrapper p {
  font-size: 20px;
  line-height: 30px;
  margin: 1em 0;
}

.counter-bf-container .counter-bf-wrapper a {
  background: #e72325 !important;
    color: #fff !important;
    display: inline-block;
    text-align: center;
    border-radius: 8px;
    transition: background-color 0.2s;
    border-style: none;
    cursor: pointer;
    margin: 5px 0;
    text-decoration: none !important;
    width: 224px;
    text-transform: none;
    font-size: 18px;
    line-height: 14px;
    font-weight: 600 !important;
    padding: 15px 1% !important;
}

.counter-bf-container .counter-bf-wrapper ul {
  padding: 0;
  margin-bottom: 2em;
}

.counter-bf-container .counter-bf-wrapper ul li {
  text-align: left;
  background: url("../../images/icons/check_full_white.png") 0 center no-repeat transparent;
  list-style-type: none;
  padding-left: 23px;
  background-size: 16px;
  font-size: 18px;
  margin-top: 5px;
}

.counter-bf-container .counter-bf-wrapper .row .counter-text > div {
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media screen and (width >= 768px) {
  .counter-bf-container .counter-bf-wrapper h1 {
    font-size: 41px;
    line-height: 47px;
  }

  .counter-bf-container .counter-bf-wrapper h2 {
    font-size: 35px;
    line-height: 37px;
  }

  .counter-bf-container .counter-bf-wrapper h3 {
    font-size: 30px;
    line-height: 35px;
  }

  .counter-bf-container .counter-bf-wrapper p {
    font-size: 22px;
    line-height: 33px;
  }
}

@media screen and (width < 998px) {
  .counter-bf-container.hide-tablet {
    background-image: none !important;
  }
}

@media screen and (width < 767px) {
  .counter-bf-container.hide-mobile {
    background-image: none !important;
  }

  .counter-bf-container .block {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
  }

  .counter-bf-container .flipdown .rotor {
    width: 18px;
    font-size: 2rem;
  }

  .counter-bf-container:not(.default) table#flipdownTable.red td {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    border: 0 none;
    background: transparent;
    text-align: left;
  }

  .counter-bf-container:not(.default) table#flipdownTable .flipdown {
    width: auto !important;
    height: 45px;
    margin: 6px 0;
    padding: 15px 1em;
    border-radius: 10px;
  }

  .counter-bf-container:not(.default) table#flipdownTable .flipdown .rotor-group-heading::before {
    font-size: 11px;
    margin-left: 9px;
  }

  .counter-bf-container .counter-bf-wrapper h1 {
    font-size: 30px;
    line-height: 34px;
  }
}