    .new-prod-boxes-container {   
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    
 .icon{
    height: 14px;
    width: 12px;
    margin-right: 10px;

    svg {
        fill:#fff;
    }
}

&.black-theme{
    background-color: black!important;
    margin-top:-20px;

   
}

.titleBox{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;

    h2{
        color: #006dff;
        margin: 0 0 15px;
    }

    p{
        font-size: 20px;
        font-weight: normal;
        line-height: 25px;
        margin-bottom: 30px;
        margin-top: 0;
        max-width: 700px;
    }
}

.blue-pill .icon{
    margin: 0 3px;
}

.switchBox {
    text-align: center;
    padding-bottom: 50px;
  }
  
  .switchBox .switch {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 290px;
    height: 54px;
    background-color: #016DFF;
    border-radius: 22px;
  }
  
  .switchBox .switch input {
    display: none;
  }
  
  .switchBox .slider {
        position: absolute;
        content: "";
        height: 50px;
        width: 145px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        border-radius: 20px;
        transition: all 0.4s;
  }
  
  .switchBox .switch input:checked + .slider {
    transform: translateX(141px);
  }

  .prod_box .inner_prod_box hr {
    border: 1px solid #D1D1D1;
    margin: 10px 0;
}
  
  .switchBox .label {
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: white;
    transition: color 0.4s;
    cursor: pointer;

    p{
        margin-top: 0;
        margin-bottom: 3px;
        font: normal normal normal 10px/11px Arial, sans-serif;
    }

    hr{
        margin: 0 auto 8px;
        width: 90%;
        border: 0.5px solid;
        opacity: .65;
        
    }

    .icon {
        width: 14px;
        height: 16px;
        }

    .blue-pill .icon {
        position: relative;
        top: 1.5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-right: 0;
      }
      
    .blue-pill svg {
        width: 9px;
        height: 9px;
      }
    
    .switch input ~ .label .icon {
        position: relative;
        margin-right: 10px;
        
        }
  }

  &.hide-switch-text{
    .switchBox .label{
      p {
        display: none;  
    } 
    
    hr{
            display: none;
        }
    }
    }

  .new-2024 .inner_prod_box > hr:last-of-type {
    display: none;
}
  
  .switchBox .label.right {
    z-index: 10;
    color: black;

    hr{
        border-color:#016DFF;
    }
  }
  
  .switchBox .label.left {
    z-index: 10;

    hr{
        border-color: #fff;
    }
  }

}

  .switchBox .switch input:checked ~ .label.right {
    transition: color 0.4s;
    color: white !important;

    hr{
        border-color: #fff;
    }
  }
  
  .switchBox .switch input ~ .label .icon svg {
    width: 14px;
    height: 16px;
  }
  
  .switchBox .switch input ~ .label.right .icon svg {
    fill: #026DFF;
  }
  
  .switchBox .switch input:checked ~ .label.right .icon svg {
    fill: white;
  }
  
  .switchBox .switch input:checked ~ .label.left {
    transition: color 0.4s;
    color: black;

    hr{
        border-color: #016DFF;
    }
  }
  
  .switchBox .switch input:checked ~ .label.left .icon svg {
    fill: #026DFF;
  }
  
  .prod-box.individual-box {
    transition: all 0.4s;
  }
  
  .prod_box.family-box {
    display: none;
    transition: all 0.4s;
  }
  
  .new-prod-boxes-container .block {
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    }

.new-prod-boxes-container .await-loader{
    min-height: 2rem;
}

.new-prod-boxes-container.subtitle{
    margin-bottom: -20px;
}

.new-prod-boxes-container .block .prod_box {
    flex: 1;
    margin: 1em 0;
}

.new-prod-boxes-container .block .prod_box .inner_prod_box {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #F6F6F6;
    border-radius: 20px;
    padding: 25px;
    margin: 0 auto;
}

.new-prod-boxes-container .block .prod_box .inner_prod_box .greenTag2 {
    position: absolute;
    left:8%;
    right:8%;
    height: fit-content;
    bottom:100.2%;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    font-weight: bold;
    background-color: #1C7928;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 7px;
    padding-bottom: 8px;
}


.new-prod-boxes-container.black-theme .block .prod_box .inner_prod_box .greenTag2{
    background-color: #e72325;
    bottom: 100%;
    left: 0;
    right: 0;
    width: 100%;
}

.new-prod-boxes-container .block .prod_box .inner_prod_box .bulina{
    position: relative;
    text-align: center;
    top:0;
    right: 20px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    line-height: 11px;
    margin-left: auto;
    margin-bottom: 0;
    font-size: 10px;
    background-color: #1C7928;
    font-family: Arial, sans-serif;
    color: white;
    font-weight: bold;
    margin-top: -64px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .div-percent{
        font-size: 26px;
        line-height: 26px;

    }
}

.new-prod-boxes-container .block .prod_box .inner_prod_box h2 {
    font-weight: bold;
    font-size: var(--body-font-size-m);
    line-height: var(--body-font-size-m);
    font-family: Arial, sans-serif;
    margin-top: 10px;
}

.new-prod-boxes-container .block .prod_box .inner_prod_box h2 a {
    transition: all 0.5s ease;
}

.new-prod-boxes-container .block .prod_box .inner_prod_box .underBuyLink a {
    color: #06F;
}

.new-prod-boxes-container .block .prod_box .inner_prod_box h2 a:hover {
    text-decoration: none;
    transition: all 0.5s ease;
}

.new-prod-boxes-container .block .prod_box .inner_prod_box .blueTag {
    font-size: var(--body-font-size-xs);
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    background-color: #026DFF;
    display: inline-block;
    border-radius: 20px;
    padding: 1px 12px;
}

.new-prod-boxes-container .block .prod_box .inner_prod_box .blueTag div {
    display: flex;
}

.new-prod-boxes-container .block .prod_box .inner_prod_box .blueTag img {
    height: 14px;
    margin-right: 5px;
    margin-top: -5px;
}

.new-prod-boxes-container .block .prod_box .inner_prod_box .subtitle {
    min-height: 35px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    margin-bottom: 0;
    line-height: 1.25;
}



.new-prod-boxes-container .block .prod_box .inner_prod_box .save_price_box {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 8px;
}

.new-prod-boxes-container.disable-product .prod_box.index1{
    .blueTag{
        visibility: hidden;
    }
}

.new-prod-boxes-container.disable-product .prod_box.index0{
.blueTag{
    visibility: hidden;
}

.save_price_box {
    visibility: hidden;
}

.prices_box{
    visibility: hidden;
}

.billed{
    visibility: hidden;
}

a.red-buy-button{
    pointer-events: none;
    background: #C1C1C1!important;
}
}

.new-prod-boxes-container.new-2024 .block .prod_box .inner_prod_box .save_price_box {
    justify-content: center;
}

.new-prod-boxes-container .block .prod_box .inner_prod_box .save_price_box .prod-oldprice {
    font-size: var(--heading-font-size-xs);
    line-height: var(--heading-font-size-xs);
    text-decoration: line-through;
    margin-right: 10px;
}

.new-prod-boxes-container .block .prod_box .inner_prod_box .save_price_box .prod-percent {
    line-height: 15px;
    color: #1C7928;
    font-weight: bold;
    font-size: calc(14px + 2 * ((100vw - 768px) / 680));
}

.new-prod-boxes-container.green-pill .block .prod_box .inner_prod_box .save_price_box .prod-percent {
    line-height: 15px;
    color: #EDF9FF;
    background-color: #68BA68;
    font-weight: bold;
    padding: 3px 7px;
    border-radius: 16px;
    font-size: 14px;;
}

.new-prod-boxes-container .block .prod_box .inner_prod_box .prices_box {
    display: flex;
    justify-content: left;
}

.new-prod-boxes-container.new-2024 .block .prod_box .inner_prod_box .prices_box {
    justify-content: center;
}

.new-prod-boxes-container .block .prod_box .inner_prod_box .prices_box .prod-newprice {
    font-size: var(--heading-font-size-xl);
    line-height: var(--heading-font-size-xl);
}

.new-prod-boxes-container .block .prod_box .inner_prod_box .prices_box sup {
    margin: 15px 0 0 5px;
    font-size: var(--heading-font-size-s);
    line-height: var(--heading-font-size-s);
}

.new-prod-boxes-container.new-2024 * {
    text-align: center;
}

.new-prod-boxes-container .block .prod_box .inner_prod_box .billed {
    font-size: 12px;
    font-family: Arial, sans-serif;
    line-height: 13px;
    margin: 7px 0;
}

.new-prod-boxes-container.new-2024 .block .prod_box .inner_prod_box .billed {
    font-size: 15px;
    line-height: 18px;
}

.new-prod-boxes-container.new-2024 .block .prod_box .inner_prod_box .billed span {
    font-weight: bold;
}

.new-prod-boxes-container.new-v2 .block .prod_box .inner_prod_box .vpn-info-container {
    display: flex;
    align-items: center;
    font: normal normal normal 12px/18px Arial, sans-serif;

    .vpn-icon{
        width: 50px;
        height: 50px;
        background-image: url('/_src-lp/icons/vpn.png');
        display: inline-block;
        vertical-align: middle;
        background-size: contain;
        background-repeat: no-repeat;
    }

    li::marker{
        color: #06f;
    }
}

.new-prod-boxes-container.new-v2 .block .prod_box .inner_prod_box .billed label{
    font-size: 14px;
    width: 65%;
}

.new-prod-boxes-container .block .prod_box .inner_prod_box .billed ul, .new-prod-boxes-container .block .prod_box .inner_prod_box .billed .vpn_box {
    border-top: 1px solid #D1D1D1;
    border-bottom: 1px solid #D1D1D1;
    padding: 1em 0;
    min-height: auto;
}

.new-prod-boxes-container .block .prod_box .inner_prod_box .billed ul li, .new-prod-boxes-container .block .prod_box .inner_prod_box .billed .vpn_box li {
    list-style-type: none;
    font-size: 14px;
    margin: 5px 0;
}

.new-prod-boxes-container .block .prod_box .inner_prod_box .billed .vpn_box {
    display: flex;
    justify-content: center;
}

.new-prod-boxes-container .block .prod_box .inner_prod_box .billed .vpn_box > div {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    background-color: #EAF5EC;
    border-radius: 4px;
    padding: 1em 5px;
}

.new-prod-boxes-container.new-v2 .block .prod_box .inner_prod_box .billed .vpn_box > div {
    padding: 1.4em 5px;
    justify-content: left;
    min-width: 100%;
}

.new-prod-boxes-container .block .prod_box .inner_prod_box .billed .vpn_box > div input {
    width: 14px;
    margin: 0;
    margin-right: 10px;
}

.new-prod-boxes-container .block .prod_box .inner_prod_box .billed .vpn_box > div label {
    cursor: pointer;
}

.new-prod-boxes-container .block .prod_box .inner_prod_box .buy-btn a.red-buy-button {
    width: 100%;
    text-transform: none;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600 !important;
    padding: 10px 1% !important;
}

.new-prod-boxes-container.new-2024 .block .prod_box .inner_prod_box .buy-btn a.red-buy-button {
    min-width: 170px;
    width: auto;
    margin: 1em auto;
    padding: 1em !important;
}

.new-prod-boxes-container .block .prod_box .inner_prod_box .underBuyLink {
    font-size: 12px;
    font-family: Arial, sans-serif;
    line-height: 13px;
    margin: 7px 0;
    color: #7E7E7E;
    text-align: center;
}

.new-prod-boxes-container .block .prod_box .inner_prod_box .benefitsLists {
    font-family: Arial, sans-serif;
    color: transparent;
}

.new-prod-boxes-container .block .prod_box .inner_prod_box .benefitsLists p {
    margin: 0;
    display: inline-block;
}

.new-prod-boxes-container .block .prod_box .inner_prod_box .blueTag div p{
    margin-top: 0;
    margin-bottom: 0;
}

.new-prod-boxes-container .block .prod_box .inner_prod_box .benefitsLists u {
    font-size: var(--body-font-size-xs);
    text-decoration: none;
}

.new-prod-boxes-container .block .prod_box .inner_prod_box .benefitsLists ul {
    margin: 0;
    margin-bottom: -5px;
    padding: 0;
    color: black;
}

.new-prod-boxes-container .block .prod_box .inner_prod_box .benefitsLists ul li em {
    background-color: #026DFF;
    color: white;
    padding: 4px 7px;
    border-radius: 20px;
    font-size: 11px;
    font-style: normal;
}

.new-prod-boxes-container .block .prod_box .inner_prod_box .benefitsLists ul li:first-of-type {
    font-size: var(--body-font-size-xs);
    line-height: var(--heading-font-size-s);
    text-decoration: none;
    list-style-type: none;
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin-bottom: 1.5rem;
}

.new-prod-boxes-container .block .prod_box .inner_prod_box .benefitsLists ul li:first-of-type.has_arrow::before {
    content: "";
    margin: 0 5px 20px 0;
    background: url("/_src-lp/icons/arrow-left-blue.png") no-repeat center transparent;
    width: 20px;
    height: 20px;
    background-size: 15px 12px;
    float: left;
}

.new-prod-boxes-container .block .prod_box .inner_prod_box .benefitsLists ul li:first-of-type.has_arrow_right .arrow-right {
    background: url("/_src-lp/icons/arrow-right-solid.svg") no-repeat center transparent;
    width: 20px;
    height: 20px;
    background-size: 15px 12px;
    position: relative;
    top: 4px;
    display: inline-flex;
}

.new-prod-boxes-container .block .prod_box .inner_prod_box .benefitsLists ul li:not(:first-of-type) {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 8px;
    list-style-type: none;
    background: url("https://bitdefender.com/icons/circle-check-sharp-solid.svg") top 2px left no-repeat transparent;
    padding-left: 22px;
    background-size: 13px;
    position: relative;
}

.new-prod-boxes-container .block .prod_box .inner_prod_box .benefitsLists ul li.nocheck {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 8px;
    list-style-type: none;
    background: url("https://www.bitdefender.com/common/icons/close.svg") top 2px left no-repeat transparent;
    padding-left: 22px;
    background-size: 13px;
    position: relative;
}

.new-prod-boxes-container .block .prod_box .inner_prod_box .billed .vpn_box > div:first-child {
    position: relative;
  }

.new-prod-boxes-container.new-v2 .block .prod_box .inner_prod_box .billed .vpn_box > div:first-child::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 20px;
    width: 32px;
    height: 33px;
    background: url("https://www.bitdefender.com/common/icons/new.svg") no-repeat center center;
    background-size: contain;
  }

.new-prod-boxes-container .block .prod_box .inner_prod_box .benefitsLists ul li:not(:first-of-type) .white-pill-content {
    position: absolute;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 28px;
    left: 0;
    bottom: 0;
    z-index: 1;
    font-size: 12px;
    box-shadow: 4px 4px 7px -8px #000;
    display: none;
}

.new-prod-boxes-container .block .prod_box .inner_prod_box .benefitsLists ul li:not(:first-of-type) .white-pill-content::before {
content: "";
    position: absolute;
    left: 17px;
    bottom: -20px;
    border-width: 10px;
    border-style: solid;
    border-color: white transparent transparent;
}

.new-prod-boxes-container .new-prod-boxes .prod_box .inner_prod_box .benefitsLists ul li:not(:first-of-type):hover .white-pill-content{
    display: block;
  }


.new-prod-boxes-container .block .prod_box .inner_prod_box .benefitsLists ul li:not(:first-of-type) u {
    font-size: 14px;
    font-weight: bold;
    color: white;
    border-radius: 20px;
    padding: 2px 21px 2px 7px;
    background: url("/_src-lp/images/icons/individual.svg") center right 6px no-repeat #026DFF;
    background-size: auto 12px;
}

.new-prod-boxes-container .block .prod_box .inner_prod_box .benefitsLists ul:nth-of-type(2) {
    min-height: 5em;
}

.new-prod-boxes-container .block .prod_box.hasGreenTag {
    margin-top: 3em;
}

.new-prod-boxes-container .block .prod_box.hasGreenTag .inner_prod_box {
    box-shadow: 0 3px 7px 0 #C1C1C1;
}

.new-prod-boxes-container.match-benefits-height .block .prod_box .inner_prod_box .benefitsLists ul:first-of-type {
    min-height: 11em;
}

.new-prod-boxes-container.match-benefits-height .block .prod_box .inner_prod_box .benefitsLists ul:nth-of-type(2) {
    min-height: 7em;
}

.new-prod-boxes-container.black-theme .block .prod_box.hasGreenTag .inner_prod_box {
    border-radius: 0 0 20px 20px;
}

.new-prod-boxes-container .blue-pill {
    background-color: #026DFF;
    padding: 2.5px 6.7px;
    border-radius: 20px;
    color: white;
    font-style: normal;
    font-size: 11px;
    letter-spacing: 0;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
  }

  .new-prod-boxes-container .green-pill {
    background-color: #68ba68;
    padding: 2.5px 6.7px;
    border-radius: 20px;
    color: white;
    font-style: normal;
    font-size: 11px;
    letter-spacing: 0;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
  }

@media (width >= 768px) {
    .new-prod-boxes-container{
        .switchBox .switch{
            width: 440px
        }

        .switchBox .slider{
            width: 220px;
        }

        .switchBox .switch input:checked + .slider{
            transform: translateX(215px);
        }
    }
    
    .new-prod-boxes-container .block {
        flex-direction: row;
        padding: 0;
    }

    .new-prod-boxes-container.subtitle{
        margin-bottom: -35px;
    }

    .new-prod-boxes-container .block .prod_box.hasGreenTag {
        margin-top: 1em;
    }

    .new-prod-boxes-container .block .prod_box .inner_prod_box {
        width: 92%;
    }

    .new-prod-boxes-container.width-small .block .prod_box .inner_prod_box {
        width: 50%;
    }

    .new-prod-boxes-container .block .prod_box .inner_prod_box .billed ul, .new-prod-boxes-container .block .prod_box .inner_prod_box .billed .vpn_box {
        min-height: 115px;
    }
}

@media (min-width >= 768px) and (max-width <= 990px) {
    .new-prod-boxes-container .block .prod_box .inner_prod_box {
        padding: 20px;
    }
}

@media (width >= 989px) {
    .new-prod-boxes-container.width-small .block .prod_box .inner_prod_box {
        width: 40%;
    }
}

@media (width >= 1173px) {
    .new-prod-boxes-container.width-small .block .prod_box .inner_prod_box {
        width: 30%;
    }
}
