
.new-prod-boxes-container {
    padding-bottom: 0;

    .block {
        margin: 0 auto;
        padding: 0 15px;
        display: flex;
        flex-direction: column;

        .pod_box {
            flex: 1;
            margin: 1em 0;

            &.hasGreenTag {
                margin-top: 3em;
            }

            .inner_pod_box {
                position: relative;
                width: 100%;
                height: 100%;
                background-color: #F6F6F6;
                border-radius: 30px;
                padding: 25px;
                margin: 0 auto;

                .greenTag2 {
                    height: 37px;
                    width: 100%;
                    font-size: var(--body-font-size-xs);
                    font-family: Arial, sans-serif;
                    color: white;
                    text-align: center;
                    font-weight: bold;
                    background-color: #1C7928;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    padding-top: 7px;
                    margin-top: -62px;
                    margin-bottom: 47px;
                }

                h2 {
                    font-weight: bold;
                    font-size: var(--body-font-size-m);
                    line-height: var(--body-font-size-m);
                    font-family: Arial, sans-serif;
                    margin-top: 10px;
                }

                .blueTag {
                    font-size: var(--body-font-size-xs);
                    font-family: Arial, sans-serif;
                    color: white;
                    text-align: center;
                    background-color: #026DFF;
                    display: inline-block;
                    border-radius: 20px;
                    padding: 1px 12px;

                    div {
                        display: flex;
                    }

                    img {
                        height: 14px;
                        margin-right: 5px;
                        margin-top: -5px;
                    }
                }

                .subtitle {
                    font-size: 14px;
                    font-family: Arial, sans-serif;
                    margin-bottom: 0;
                }

                hr {
                    border: 1px solid #D1D1D1;
                    margin: 10px 0;
                }

                .prices_box {
                    display: flex;
                    justify-content: left;

                    .prod-newprice {
                        font-size: var(--heading-font-size-xl);
                        line-height: var(--heading-font-size-xl);
                    }

                    sup {
                        margin: -5px 0 0 5px;
                        font-size: var(--heading-font-size-s);
                        line-height: var(--heading-font-size-s);
                    }
                }

                .billed {
                    font-size: 12px;
                    font-family: Arial, sans-serif;
                    line-height: 13px;
                    margin: 7px 0;
                }

                .buy-btn {
                    a.red-buy-button {
                        width: 100%;
                        text-transform: none;
                        font-size: 14px;
                        line-height: 14px;
                        font-weight: 500!important;
                        padding: 10px 1%!important;
                    }
                }

                .undeBuyLink {
                    font-size: 12px;
                    font-family: Arial, sans-serif;
                    line-height: 13px;
                    margin: 7px 0;
                }

                .benefitsLists {
                    font-family: Arial, sans-serif;

                    p {
                        margin: 0
                    }

                    u {
                        font-size: var(--body-font-size-xs);
                        text-decoration: none;
                    }

                    ul {
                        margin-top: 0;
                        padding: 0;

                        li {
                            font-size: 14px;
                            list-style-type: none;
                            background: url('../../images/icons/ok.png') top 5px left no-repeat transparent;
                            padding-left: 24px;
                            background-size: 15px;

                            u {
                                font-size: 14px;
                                font-weight: bold;
                                color: white;
                                border-radius: 20px;
                                padding: 2px 23px 2px 7px;
                                background: url('../../images/icons/1x.png') center right 6px no-repeat #026DFF;
                                background-size: auto 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (width >= 768px) {
    .new-prod-boxes-container {
        .block {
            flex-direction: row;
            padding: 0;

            .pod_box {
                &.hasGreenTag {
                    margin-top: 0;
                }

                .inner_pod_box {
                    width: 92%;
                }
            }
        }
    }
}