.b-buybuttons {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.b-buybuttons > div {
  display: flex;
  flex-grow: 1;
}

.b-buybuttons > div div {
  flex: 1;
  position: relative;
  padding-bottom: 3em;
}

.b-buybuttons > div div p {
  margin: 0;
}

.b-buybuttons > div div a, .b-buybuttons > div div em a {
  background-color: transparent;
  font-size: 15px;
  color: #006eff;
  text-transform: none;
  font-weight: bold;
  padding: 0;
  font-style: normal;
  border: 0 none;
}

.b-buybuttons > div div a .red-buy-button, .b-buybuttons > div div em a .red-buy-button {
  width: 5em;
}

.b-buybuttons > div div em a {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent !important;
  font-size: 15px !important;
  color: #006eff !important;
  text-transform: none !important;
  font-weight: normal !important;
  padding: 0 !important;
  font-style: normal;
  border: 0 none !important;
}

.b-buybuttons > div div strong a {
  padding: 7px 11px !important;
  font-weight: 600 !important;
  color: #000 !important;
  font-size: 15px !important;
  min-width: 140px !important;
  border-radius: 8px;
  text-align: center;
  border: 2px solid #000 !important;
  background-color: transparent !important;
  margin: 0;
  width: auto !important;
}

.b-buybuttons > div div a:hover, .b-buybuttons > div div em a:hover {
  background: transparent;
  text-decoration: underline;
}

.b-buybuttons > div div strong a:hover {
  color: #fff !important;
  background-color: #000 !important;
  text-decoration: none !important;
}

@media (width <= 768px) {
  .b-buybuttons > div div {
    padding-bottom: 2em;
  }
  .b-buybuttons > div div:first-of-type {
    display: none;
  }
  .b-buybuttons > div div strong a, .b-buybuttons > div div a.red-buy-button {
    padding: 8px 3% !important;
    font-size: 13px !important;
    min-width: 90% !important;
  }
  .b-buybuttons > div div em a {
    font-size: 11px !important;
  }
}