.rev-cards > p:nth-of-type(3) {
  color: #616161;
  font-size: 14px;
}
.rev-cards > p:last-child {
  font-size: 11px;
  color: #616161;
  margin-top: 0;
}
.rev-cards table {
  border-collapse: separate;
  border-spacing: 5px 1em;
}
.rev-cards table tbody {
  text-align: left;
}
.rev-cards table tbody tr td:first-child {
  display: flex;
  width: 46px;
}
.rev-cards table tbody tr td > p:first-child {
  margin: 0;
  display: flex;
  white-space: pre;
  font-size: 18px;
}
.rev-cards table tbody tr td > p:nth-child(2) {
  margin: 0;
  color: #616161;
}
.rev-cards .card-1 p:nth-of-type(4) {
  display: inline-block;
  background-color: #E6F2FE;
  padding: 5px 15px;
  border-radius: 16px;
  align-self: center;
}
.rev-cards .card {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.35);
  border-radius: 8px;
  padding: 15px;
}
.rev-cards .card > div:first-child {
  display: flex;
  flex-direction: column;
}
.rev-cards .card > div > p:nth-of-type(1) {
  font-size: 20px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  white-space: pre;
}
.rev-cards .card > div > p:nth-of-type(2) {
  margin-top: 5px;
}
.rev-cards .card ul {
  padding-left: 0;
  flex-grow: 1;
}
.rev-cards .card ul li {
  text-align: left;
  background: url("/_src-lp/images/icons/check_full.png") 0 3px no-repeat transparent;
  list-style-type: none;
  padding-left: 23px;
  background-size: 16px;
  font-size: 14px;
  color: #000;
  margin-top: 10px;
}
.rev-cards hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom-color: #616161;
}
.rev-cards .prices_box .save-box {
  background-color: #68BA68;
  color: white;
  padding: 0 5px;
  border-radius: 11px;
  font-size: 12px;
}
.rev-cards .prices_box span:nth-of-type(1) {
  display: initial;
}
.rev-cards .prices_box .prod-newprice {
  font-size: 32px;
}
.rev-cards .prices_box .sales-tax {
  font-size: 11px;
}
.rev-cards .prices_box .devices {
  font-size: 14px;
  font-weight: bold;
}

@media screen and (width >= 991px) {
  .rev-cards .card > div > p:nth-of-type(1) {
    flex-direction: column;
  }
  .rev-cards .card > div > p:nth-of-type(2) {
    min-height: 80px;
  }
  .rev-cards .card ul {
    min-height: 255px;
  }
  .rev-cards .row > div {
    display: flex;
  }
}
@media screen and (width >= 1199px) {
  .rev-cards .card ul {
    min-height: 210px;
  }
  .rev-cards table tbody {
    display: flex;
  }
  .rev-cards table tbody tr:nth-child(2) {
    padding: 0 10px;
    border-right: 0.5px solid grey;
    border-left: 0.5px solid grey;
  }
  .rev-cards table tbody tr:nth-child(3) {
    padding-left: 10px;
  }
  .rev-cards table tbody tr td > p:first-child {
    flex-direction: column;
  }
  .rev-cards table tbody tr td > p:nth-child(2) {
    margin: revert;
  }
}