header.biggerLogo img {
  height: 33px;
}

header {
  &.dark {
    background-color: black;
  }

  &.rev-header {
    background-color: #fff;
  }

  &.customNav {
    &.blue {
      background-color: #0059d6;
    }

    &.they-wear-our-faces {
      font-family: 'IBM Plex Sans', sans-serif;
      border: none;
      height: 54px;

      .block {
        padding: 9.5px 30px !important;

        div {
          justify-content: center;

          picture {
            img {
              max-height: 24px;
              width: auto;
              margin-left: 5px;
              margin-top: 5px;
            }
          }
        }
      }

      .button-container {
        display: none;
      }

      em {
        display: none;
      }

      @media screen and (width >= 590px) {
        height: var(--nav-height);

        &.blue {
          background-color: #006DFF;
        }

        .block div {
          justify-content: space-between;

          picture {
            display: flex;
            align-items: center;

            img {
              max-height: 24px;
              width: auto;
              margin: 0;
            }
          }

          >p {
            width: 100%;
          }
        }

        .button-container {
          display: block;
        }

        em {
          color: rgb(255 255 255 / 100%);
          font-family: "IBM Plex Sans", sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0;
          text-align: center;
          display: flex;
          align-items: center;
          margin-left: auto;
          margin-right: 16px;
        }
      }
    }

    .block div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        padding: 0;
        margin: 0;

        img {
          max-height: 40px;
          width: auto;
          margin-left: 5px;
        }
      }

      a {
        img {
          max-height: 25px;
          width: auto;
        }
      }
    }
  }

  span {
    &.icon {
      height: unset;
      width: unset;
      display: block;
    }

    &.reverse-filter {
      filter: invert(0);
    }
  }

}

.header {
  padding: 1em 15px;
}

header#headerBlue {
  background-color: #fff;
  border-bottom: 1px solid #EDEDED;

  .block div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &.no-link img {
    height: 26px;
    display: inline-block;
    width: auto;
    position: relative;
  }

  a {
    text-align: center;
    color: #006eff;

    img {
      height: 26px;
      display: inline-block;
      width: auto;
      position: relative;
    }
  }

  p {
    padding: 0;
    margin: 0;

    picture {
      img {
        height: 35px;
        width: auto;
        margin-left: 20px;
        position: relative;
      }
    }
  }

  .section-metadata {
    display: none;
  }

  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &.employee-benefits {
    .block div {
      justify-content: unset;
    }
  }

  &.biggerLogo {
    a {
      img {
        height: 35px;
      }
    }
  }
}

@media screen and (width >=768px) {
  header#headerBlue a {
    text-align: left;
  }
}

@media screen and (width >=991px) {
  header {
    &.rev-header {
      background-color: #000;
    }

    span.reverse-filter {
      filter: invert(1);
    }
  }

  .header {
    max-width: 1200px;
    margin: auto;
  }
}