header.biggerLogo img {
  height: 33px;
}

header.dark {
  background-color: black;
}
header.rev-header {
  background-color: #fff;
}
header.customNav.blue {
  background-color: #0059d6;
}
header.customNav.they-wear-our-faces {
  font-family: "IBM Plex Sans";
  border: none;
}
header.customNav.they-wear-our-faces .block {
  padding: 9.5px 30px;
}
header.customNav.they-wear-our-faces .block div {
  justify-content: center;
}
header.customNav.they-wear-our-faces .button-container {
  display: none;
}
header.customNav.they-wear-our-faces em {
  display: none;
}
@media screen and (min-width: 576px) {
  header.customNav.they-wear-our-faces.blue {
    background-color: #006DFF;
  }
  header.customNav.they-wear-our-faces .block div {
    justify-content: space-between;
  }
  header.customNav.they-wear-our-faces .block div img {
    max-height: 24px;
    width: auto;
    margin: 0;
  }
  header.customNav.they-wear-our-faces .block div > p {
    width: 100%;
  }
  header.customNav.they-wear-our-faces .button-container {
    display: block;
  }
  header.customNav.they-wear-our-faces em {
    color: rgb(255, 255, 255);
    font-family: IBM Plex Sans;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 5px;
  }
}
header.customNav .block div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.customNav .block div p {
  padding: 0;
  margin: 0;
}
header.customNav .block div p img {
  max-height: 40px;
  width: auto;
  margin-left: 5px;
}
header.customNav .block div a img {
  max-height: 25px;
  width: auto;
}
header span.icon {
  height: unset;
  width: unset;
  display: block;
}
header span.reverse-filter {
  filter: invert(0);
}

.header {
  padding: 1em 15px;
}

header#headerBlue {
  background-color: #fff;
  border-bottom: 1px solid #EDEDED;
}
header#headerBlue .block div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header#headerBlue a {
  text-align: center;
  color: #006eff;
}
header#headerBlue a img {
  height: 26px;
  display: inline-block;
  width: auto;
  position: relative;
}
header#headerBlue p {
  padding: 0;
  margin: 0;
}
header#headerBlue p picture img {
  height: 35px;
  width: auto;
  margin-left: 20px;
  position: relative;
}
header#headerBlue .section-metadata {
  display: none;
}
header#headerBlue .header {
  padding-top: 10px;
  padding-bottom: 10px;
}
header#headerBlue.employee-benefits .block div {
  justify-content: unset;
}
header#headerBlue.biggerLogo a img {
  height: 35px;
}

@media screen and (width >= 768px) {
  header#headerBlue a {
    text-align: left;
  }
}
@media screen and (width >= 991px) {
  header.rev-header {
    background-color: #000;
  }
  header span.reverse-filter {
    filter: invert(1);
  }
  .header {
    max-width: 1200px;
    margin: auto;
  }
}