header.dark {
  background-color: black;
}
header.rev-header {
  background-color: #fff;
}
header.customNav .block div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.customNav .block div p {
  padding: 0;
  margin: 0;
}
header.customNav .block div p img {
  max-height: 40px;
  width: auto;
}
header.customNav .block div a img {
  max-height: 25px;
  width: auto;
}
header span.icon {
  height: unset;
  width: unset;
  display: block;
}
header span.reverse-filter {
  filter: invert(0);
}

.header {
  padding: 1em 15px;
}

header#headerBlue {
  background-color: #fff;
  border-bottom: 1px solid #EDEDED;
}
header#headerBlue .block div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header#headerBlue p {
  padding: 0;
  margin: 0;
}
header#headerBlue a {
  text-align: center;
  color: #006eff;
}
header#headerBlue img {
  height: 26px;
  display: inline-block;
  width: auto;
}
header#headerBlue .section-metadata {
  display: none;
}
header#headerBlue .header {
  padding-top: 10px;
  padding-bottom: 10px;
}

header.biggerLogo img {
  height: 33px;
}

@media screen and (width >= 768px) {
  header#headerBlue a {
    text-align: left;
  }
}
@media screen and (width >= 991px) {
  header.rev-header {
    background-color: #000;
  }
  header span.reverse-filter {
    filter: invert(1);
  }
  .header {
    max-width: 1200px;
    margin: auto;
  }
}