/* .b-productswithselectors */
.b-productswithselectors-container {
  margin-top: 4em;
}

.b-productswithselectors > div:not(:first-child) ul li::before {
  content: "";
  background-image: url("/_src-lp/images/icons/check_empty.png");
  width: 15px;
  height: 15px;
  background-size: 100%;
  float: left;
  margin-right: 5px;
  background-repeat: no-repeat;
  margin-top: 5px;
}

.b-productswithselectors > div:not(:first-child) ul {
  text-align: left;
  padding-left: 0;
}

.b-productswithselectors > div:not(:first-child) ul:first-of-type {
  border-top: 1px solid #c5c5c5;
  border-bottom: 1px solid #c5c5c5;
  margin: 10px;
  padding: 10px 0;
}

.b-productswithselectors > div:not(:first-child) ul:nth-of-type(2) {
  margin-top: 0;
}

.b-productswithselectors-container.hide-bullets .b-productswithselectors > div:not(:first-child) ul {
  margin-left: 0;
}

.b-productswithselectors-container.bigger-list .b-productswithselectors > div:not(:first-child) ul:first-of-type {
  min-height: 14em;
}

.b-productswithselectors-container.hide-bullets .b-productswithselectors > div:not(:first-child) ul:first-of-type {
  min-height: 7em;
}

.b-productswithselectors > div:not(:first-child) ul:nth-of-type(2) li::before {
  background-image: url("/_src-lp/images/icons/check_full.png");
}

.b-productswithselectors-container.hide-bullets .b-productswithselectors > div:not(:first-child) ul li::before {
  display: none;
}

.b-productswithselectors {
  display: flex;
}

.b-productswithselectors > div {
  width: 33%;
  padding: 2%;
  position: relative;
  padding-bottom: 0 !important;
  background-color: white;
  margin: 0 1%;
  border-radius: 5px;

  .redTag {
    width: 86px;
    height: 88px;
    position: absolute;
    top: -6px;
    right: -6px;
    background: url('../../images/new_redtag.png') 0 0 no-repeat transparent;
    background-size: 100%;
    color: white;
    z-index: 1;
    border-radius: unset;
    box-shadow: unset;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      transform: rotate(45deg);
      text-align: center;
      margin-top: 38px;
      margin-left: 112px;
      font-size: 13px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

/* 1st box */
.b-productswithselectors > div:nth-child(1) {
  font-size: 14px;
  width: 500px;
}

.b-productswithselectors > div:not(:first-child) {
  font-size: 16px;
  border: 1px solid #efeeee;
}

.hide-selectors .b-productswithselectors > div:nth-child(1) {
  visibility: hidden;
  display: block;
}

.b-productswithselectors > div:nth-child(1) h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.1;
}

.b-productswithselectors > div.selected {
  margin-top: 0;
  border: 1px solid  #0E8532;
}

.b-productswithselectors > div:not(:first-child) p {
  padding: 0;
  margin: 0;
}

.b-productswithselectors > div:not(:first-child) h3 {
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  min-height: 2.5em;
}

.b-productswithselectors > div:not(:first-child) h4 {
  font-size: 20px;
  font-weight: normal;
  padding-bottom: 0;
  margin-bottom: 0;
}

.b-productswithselectors > div:not(:first-child) hr {
  border-width: 1px 0 0;
  border-style: solid;
  border-color: #c5c5c5;
}

.b-productswithselectors > div:not(:first-child) ul li {
  list-style-type: none;
}

.b-productswithselectors > div:not(:first-child) p:last-of-type {
  text-align: left;
}

.b-productswithselectors > div:not(:first-child) p:first-of-type u {
  background-color:  #0E8532;
  text-align: center;
  position: absolute;
  border-radius: 5px 5px 0 0;
  color: #fff;
  padding: 5px;
  left: -1px;
  top: 0;
  right: -1px;
  font-weight: 600;
  text-decoration: none;
  font-size: 17px;
}

.b-productswithselectors > div:not(:first-child) p:not(:first-of-type) u {
  font-size: 12px;
  color: #3c3c3c;
  text-decoration: none;
  line-height: 12px;
  display: block;
}

.b-productswithselectors .red-buy-button {
  margin: 10px 0;
}

.b-productswithselectors .prod-oldprice{
    margin: 10px 0;
}

.b-productswithselectors .prices_box .custom_hide {
  visibility: hidden!important;

  span {
    visibility: hidden!important;

    b {
      visibility: hidden!important;
    }
  }
}

.hide-btn-1 .b-productswithselectors .prices_box .buy_box1 a.red-buy-button, .hide-btn-2 .b-productswithselectors .prices_box .buy_box2 a.red-buy-button {
  display: inline-block;
  visibility: hidden;
}

.b-productswithselectors-container .prod-percent-tag {
  display: none;
}

.b-productswithselectors-container.bf2024 {
  display: grid;
}

.b-productswithselectors-container.bf2024 .prod-percent-tag {
  display: flex;
  background: url('../../icons/bf24-Ribbon.png') no-repeat 0 0 transparent;
  right: 3px;
  top: -12px;
  left: auto;
  width: 105px;
  height: 80px;
  background-size: 100%;
  border-radius: unset;
  position: absolute;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 11px;
  padding: 0 20px 10px;
}

.b-productswithselectors-container.bf2024.blue-tag .prod-percent-tag {
  background: url('../../icons/bf24-Ribbon-blue.png') no-repeat 0 0 transparent;
  background-size: 100%;
}

.b-productswithselectors-container.bf2024 .prod-percent-tag span {
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
}

.b-productswithselectors-container #campaign-logo {
  width: 24em;
  background-color: transparent;
  position: absolute;
  z-index: 9;
  margin-left: -7em;
  top: 0;
}

.b-productswithselectors-container a.red-buy-button {
  line-height: 1;
}

.b-productswithselectors-container.bf2024 a.red-buy-button {
  position: relative;
  overflow: hidden;
}

.b-productswithselectors-container.bf2024 a.red-buy-button::before {
  content: '';
  background: url('../../icons/bf24-sticker.svg') no-repeat 0 0 transparent;
  width: 52px;
  height: 45px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  left: auto;
  bottom: unset;
  z-index: 9999;
  background-size: 100%;
  box-sizing: unset;
}

.b-productswithselectors-container.bf2024 .b-productswithselectors-wrapper .b-productswithselectors {
  margin-top: 11em;
  position: relative;
}

.b-productswithselectors-container .b-productswithselectors-wrapper .b-productswithselectors.has-campaign-logo {
  margin-top: 16em;
}

@media (width <= 1400px) {
  .b-productswithselectors-container #campaign-logo {
    width: 21em;
    margin-left: 0;
  }
}

@media (width <= 1100px) {
  .b-productswithselectors-container.bf2024 .prod-percent-tag {
    width: 90px;
    height: 67px;
  }

  .b-productswithselectors-container.bf2024 .prod-percent-tag span {
    font-size: 21px;
  }
}

@media (width <= 991px) {
  .b-productswithselectors-container #campaign-logo {
    width: 21em;
    margin: 0 auto;
    position: relative;
  }

  .b-productswithselectors > div:nth-child(1) {
    width: 250px;

    h3 {
      font-size: 25px;
      line-height: 1;
      margin-top: 0;
    }
  }

  .b-productswithselectors > div:not(:first-child) p:first-of-type u {
    padding: 5px;
  }
  
  .b-productswithselectors-container .b-productswithselectors-wrapper .b-productswithselectors.has-campaign-logo {
    margin: 1em 0;
  }

  .b-productswithselectors.has3prods {
    flex-wrap: wrap;

    > div:nth-child(1) {
      width: 100%;
      flex: 0 1 auto;
      margin-bottom: 1em;
    }

    > div:not(:first-child) {
      flex: 1;
    }
  }


}

/* for mobile */
@media (width <= 768px) {
  .b-productswithselectors-container {
    margin-top: 0;
  }

  .b-productswithselectors > div {
    border-radius: 5px;

    .redTag {
      width: 50px;
      height: 50px;
        top: -33px;
        right: -4px;

      > i {
        margin-top: 57px;
        margin-left: 100px;
        font-size: 10px
      }
    }
  }

  .b-productswithselectors > div:nth-child(1) h3 {
    font-size: 24px;
    min-height: auto;
  }

  .b-productswithselectors > div:not(:first-child) hr {
    margin: 10px 0;
  }

  .b-productswithselectors > div:not(:first-child) p:first-of-type u {
    padding: 5px;
    top: -32px;
    font-size: 14px;
  }

  .b-productswithselectors > div:nth-child(1) {
    width: 100%;
    margin-bottom: 4em !important;
  }

  .b-productswithselectors > div:not(:nth-child(1)) {
    width: 48%;
    float: left;
  }

  .b-productswithselectors > div:not(:first-child) h4 {
    font-size: 17px;
    margin-top: 0;
  }

  .b-productswithselectors > div:not(:first-child) h3 {
    font-size: 16px;
    line-height: 18px;
    height: 50px;
  }

  .b-productswithselectors > div:not(:first-child) ul li {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 6px;
    word-break: break-word;
  }

  .b-productswithselectors > div:not(:first-child) p:last-of-type {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
  }

  .b-productswithselectors.has3prods {
    flex-direction: column;

    > div:not(:first-child) {
      width: 100%;
      margin-bottom: 1em;

      h3 {
        font-size: 16px;
        line-height: 19px;
        height: auto;
        min-height: auto;
      }

      h4 {
        font-size: 14px;
      }

      ul:first-of-type {
        min-height: auto;
      }

      ul li {
        font-size: 13px;
        line-height: 15px;
        margin-bottom: 5px;

        &::before {
          width: 11px;
          height: 11px;
          margin-top: 2px;
        }
      }

      p:first-of-type u {
        padding: 5px 1px;
        top: -30px;
        font-size: 12px;
      }

      p:last-of-type {
        font-size: 12px;
        line-height: 15px;
      }

    }

    .prod-newprice {
      font-size: 27px;
      line-height: 16px;
    }

    .prod-taxes {
      font-size: 10px;
    }
  }

  .hide-selectors .b-productswithselectors > div:nth-child(1) {
    display: none;
  }

  .b-productswithselectors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .b-productswithselectors > div:not(:first-child) ul:first-of-type {
    min-height: 15em;
    margin: 6px 0;
  }

  .b-productswithselectors .prod-oldprice {
    font-size: 12px;
    letter-spacing: -0.5px;
  }

  .b-productswithselectors-container.bf2024 {
    padding-bottom: 0;
  }

  .b-productswithselectors-container.bf2024 .b-productswithselectors > div:nth-child(2) {
    margin-left: 1%;
  }

  .b-productswithselectors-container.bf2024 .b-productswithselectors > div:not(:nth-child(1)) {
    width: 48%;
    float: left;
    margin: 0 auto;
  }

  .b-productswithselectors-container.bf2024 .b-productswithselectors > div:nth-child(1) {
    padding-bottom: 1em !important;
    margin: 0 0 15px !important;
  }

  .b-productswithselectors-container.bf2024 .prod-percent-tag {
    display: none;
  }

  .b-productswithselectors-container.bf2024 .b-productswithselectors > div:not(:first-child) ul:first-of-type {
    min-height: auto;
  }
}
