.ribbon-container {
  background-color: black;
  color: white;
  background-position: 0 0;
}

.ribbon-container p {
  text-align: center;
}

.ribbon-container img {
  width: 27px;
  margin-right: 10px;
}

.ribbon-container.bf24 .block {
  background: url('../../images/red-glow-bf24.png') no-repeat center transparent;
  background-size: auto 100%;
}

.ribbon-container.bf24 .block > div > div {
  display: inline-block;
  text-shadow:
    0 0 5px #ff0000,
    0 0 5px #ff0000,
    0 0 5px #ff0000,
    0 0 5px #ff0000,
    0 0 5px #ff0000;
}
