.prod-boxes-container {
    width: 940px;
    margin: 0 auto;
    display: flex;
    gap: 1.5em;
}

.prod-boxes-container > div.prod-boxes-wrapper {
    flex: 1 1 0%;
    min-width: 0;
    overflow-wrap: break-word;
    word-break: break-word;
    margin: 0;
    background-color: #F6F6F6;
    border-radius: 20px;
    padding: 25px;
}

.prod-boxes-container > div.prod-boxes-wrapper .prices_box {
    display: flex;
    justify-content: left;
}

.prod-boxes-wrapper * {
  box-sizing: border-box;
  max-width: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
  list-style-type: none;
}

.prod-boxes-container .block {
  position: relative;
}

.prod-boxes-container .block > div:nth-of-type(1) {
  position: absolute;
  left: 5%;
  right: 5%;
  height: fit-content;
  bottom: 0;
  top: -60px;
  font-size: 14px;
  line-height: 15px;
  padding: 5px;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  font-weight: bold;
  background-color: #1C7928;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prod-boxes-container .block > div:nth-of-type(2) {
  font-weight: bold;
  font-size: var(--body-font-size-m);
  line-height: var(--body-font-size-m);
  font-family: Arial, sans-serif;
  margin-top: 10px;
}

.prod-boxes-container .block > div:nth-of-type(3) {

}

.prod-boxes-container .block > div:nth-of-type(4) {
  font-size: 14px;
  font-family: Arial, sans-serif;
  line-height: 1.25;
  border-bottom: 1px solid #D1D1D1;
  margin-bottom: 10px;
  padding: 10px 0;
}

.prod-boxes-container .block > div:nth-of-type(5) {
  
}

.prod-boxes-container .block > div:nth-of-type(6) {
  
}

.prod-boxes-container .block > div:nth-of-type(7) {
  font-size: 12px;
  font-family: Arial, sans-serif;
  line-height: 13px;
  margin: 7px 0;
  min-height: 25px;
}

.prod-boxes-container .block > div:nth-of-type(8) {

}

.prod-boxes-container .block > div:nth-of-type(9) {
  font-size: 12px;
  font-family: Arial, sans-serif;
  line-height: 13px;
  margin: 7px 0;
  color: #000;
  text-align: center;
  border-bottom: 1px solid #D1D1D1;
  padding: 0 0 10px;
}

.prod-boxes-container .block table {
  margin: 15px 0;
}

.prod-boxes-container .block table tr:nth-of-type(1) td {
  background: none;
  font-size: var(--body-font-size-xs);
  line-height: var(--heading-font-size-s);
  padding-left: 0;
  padding-bottom: 8px;
}

.prod-boxes-container .block table tr td {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 8px;
  list-style-type: none;
  background: url(../../icons/circle-check-sharp-solid.png) top 2px left no-repeat transparent;
  padding-left: 22px;
  background-size: 13px;
  position: relative;
  cursor: pointer;
}

.prod-boxes-container .block table tr td p {
  margin: 5px 0;
  font-size: 14px;
  line-height: 17px;
}

.prod-boxes-container .block table tr td ul {
  position: absolute;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 28px;
  left: 0;
  bottom: 0;
  z-index: 1;
  font-size: 12px;
  box-shadow: 4px 4px 7px -8px #000;
  display: none;
}

.prod-boxes-container .block table tr td:hover ul {
  display: block;
}

.prod-boxes-container .block table tr td ul::before {
    content: "";
    position: absolute;
    left: 17px;
    bottom: -20px;
    border-width: 10px;
    border-style: solid;
    border-color: white transparent transparent;
}

.prod-boxes-container .block .save_price_box .prod-oldprice {
    font-size: var(--heading-font-size-xs);
    line-height: var(--heading-font-size-xs);
    text-decoration: line-through;
    margin-right: 10px;
}

.prod-boxes-container .block .save_price_box .prod-percent {
    line-height: 15px;
    color: #EDF9FF;
    background-color: #68BA68;
    font-weight: bold;
    padding: 3px 7px;
    border-radius: 16px;
    font-size: 14px;
}

.prod-boxes-container .block .prices_box .prod-newprice {
    font-size: var(--heading-font-size-l);
    line-height: var(--heading-font-size-l);
}

.prod-boxes-container .block .prices_box sup {
    margin: 15px 0 0 5px;
    font-size: var(--heading-font-size-s);
    line-height: var(--heading-font-size-s);
}

.prod-boxes-container .block a.red-buy-button {
    width: 100%;
    text-transform: none;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600 !important;
    padding: 10px 1% !important;
}