.pro-rata-container {
  text-align: center;
  margin: 1rem 0 3rem;

  h2 {
    font-size: 32px;
    margin-bottom: 0.5rem;
  }

  strong {
    font-size: 20px;
    display: block;
    margin-bottom: 4rem;
  }

  p {
    font-size: 20px;
  }

  p:nth-of-type(2) {
    margin-top: 0;
  }

  a {
    color: #006EFF;
    text-decoration: underline;
    font-weight: bold;
  }

  #noteligible {
    display: none;
  }

  #loading-container {
    width: 220px;
    height: 12px;
    border: 1px solid #7E7E7E;
    position: relative;
    overflow: hidden;
    padding: 2px;
    border-radius: 20px;
    margin: 0 auto;
  }

  #loading-bar {
    width: 90%;
    height: 6px;
    background-color: #006EFF;
    border-radius: 20px;
    animation: loading-animation 2s ease-out forwards;
  }

  @keyframes loading-animation {
    0% {
      width: 0%;
    }

    30% {
      width: 30%;
    }

    50% {
      width: 50%;
    }

    90% {
      width: 90%;
    }
  }
}