.counter-bf-container {
  color: white;
  height: auto;
  background-color: black;
  background-repeat: no-repeat;
  background-position: top right;
  overflow: hidden;
  padding-right: 0;
  padding-left: 0;
}

.counter-bf-container .counter-bf-wrapper {
  position: relative;
  padding-left: 0;
  margin: 15px;
}

.counter-bf-container .counter-bf-wrapper .counter-bf {
  z-index: 1;
}

.counter-bf-container.form .counter-bf-wrapper p {
  font-size: 11px;
  margin: 0;
}

.counter-bf-container.form .counter-bf-wrapper p a {
  text-decoration: underline;
}

.counter-bf-container .counter-bf-wrapper h1 {
  font-size: 24px;
  max-width: unset;
  margin-top: 0;
}

.counter-bf-container .counter-bf-wrapper h2 {
  font-size: 21px;
  max-width: unset;
  margin-top: 10px;
}

.counter-bf-container .counter-bf-wrapper h3 {
  font-size: 19px;
  max-width: unset;
  margin-top: 10px;
}

.counter-bf-container .counter-bf-wrapper ul {
  padding: 0;
}

.counter-bf-container .counter-bf-wrapper ul li {
  text-align: left;
  background: url("../../images/icons/check_full.svg") 0 3px no-repeat transparent;
  list-style-type: none;
  padding-left: 23px;
  background-size: 16px;
  font-size: 14px;
  margin-top: 5px;
}

@media screen and (width >= 768px) {
  .counter-bf-container {
    padding: 2em 0;
    min-height: 500px;
  }

  .counter-bf-container.form .counter-bf-wrapper h1 {
    font-size: 36px;
  }

  .counter-bf-container.form .counter-bf-wrapper h2 {
    font-size: 36px;
  }

  .counter-bf-container.form .counter-bf-wrapper h3, .counter-bf-container.form .counter-bf-wrapper h4 {
    font-size: 20px;
  }
}

@media screen and (width >= 989px) {
  .counter-bf-container {
    padding: 0;
  }

  .counter-bf-container .banner-image img {
    display: block;
    height: 100%;
    float: right;
    width: auto;
    max-width: none;
    margin-right: -15px;
  }

  .counter-bf-container .counter-bf-wrapper h1 {
    font-size: 35px;
    line-height: 43px;
    max-width: 610px;
    font-weight: normal;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .counter-bf-container .counter-bf-wrapper h2 {
    font-weight: 700;
    font-size: 35px;
    line-height: 35px;
    max-width: 595px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .counter-bf-container .counter-bf-wrapper p {
    max-width: 610px;
    margin: 10px 0;
    line-height: 20px;
  }
}