@charset "UTF-8";
.section.banner-container {
  background-color: black;
  color: white;
  padding: 0;
}

.section.banner-container .banner img {
  width: 100%;
}

.section.banner-container .banner h1 {
  font-size: 28px;
  text-align: center;
  margin-top: 0;
}

.section.banner-container .banner .button-container {
  display: none;
}

.section.banner-container .banner ul {
  padding-left: 0;
}

.section.banner-container .banner ul li {
  list-style-type: none;
  padding-left: 0;
  font-size: var(--body-font-size-xs);
  line-height: 20px;
  color: #000;
  text-align: left;
  margin-top: 6px;
  display: flex;
  align-items: flex-start;
}

.section.banner-container .banner ul li::before {
  content: "•";
  color: #4CA154;
  font-weight: bold;
  display: inline-block;
  margin-left: 0;
  margin-right: 10px;
  font-size: 35px;
}

.section.banner-container .banner #lidlBox {
  width: 380px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.161);
  border-radius: 8px;
  padding: 2rem;
}

.section.banner-container .banner #lidlBox hr {
  border-top: 1px solid #DDD;
}

.section.banner-container .banner #lidlBox a.red-buy-button {
  width: 100%;
  text-align: left;
  font-weight: normal;
  font-size: var(--body-font-size-xs);
  line-height: var(--body-font-size-m);
  margin: 1.5rem 0;
  padding: 10px 20px !important;
}

.section.lp-brand .banner img {
  width: 97%;
  border-radius: 10px;
}

.section.banner-container .banner #lidlBox a.red-buy-button img {
  width: 40px;
  margin-right: 15px;
}

.section.lp-brand .banner {
  padding: 0 15px;
  background: unset;
  padding-bottom: 3rem;
}

.section.lp-brand .banner .col-5 {
  width: 322px;
}

.section.lp-brand .banner h1 {
  font-weight: lighter;
  font-size: var(--heading-font-size-s);
  line-height: var(--heading-font-size-s);
}

.section.lp-brand .banner p {
  width: 235px;
  font-size: 12px;
  line-height: 14px;
  font-family: Arial, sans-serif;
  margin: 0 auto 15px;
}

/* animated text */
.section.banner-container .animated_text {
  position: relative;
  margin-top: 6px;
}

.section.banner-container .animated_text span {
  width: 100%;
  display: block;
  box-sizing: border-box;
  top: 65px;
  padding-bottom: 0;
  color: #006DFF;
  font-weight: lighter;
  font-size: var(--heading-font-size-xs);
  line-height: var(--heading-font-size-s);
  font-family: "IBM Plex Sans", sans-serif;
  text-align: left;
  padding-left: 10%;
}

.section.banner-container .animated_text span:nth-of-type(2n) {
  text-align: right;
  padding-left: 0;
  padding-right: 10%;
}

@media (width >= 768px) {
  .section.lp-brand .banner h1 {
    font-weight: lighter;
    font-size: var(--heading-font-size-l);
    line-height: var(--heading-font-size-l);
    margin-top: 1em;
  }
  .section.banner-container .animated_text {
    height: 40px;
    width: 440px;
    position: relative;
    overflow: hidden;
    margin-top: 6px;
  }
  .section.banner-container .animated_text span {
    position: absolute;
    padding-bottom: 15px;
    font-weight: lighter;
    font-size: var(--heading-font-size-xl);
    line-height: unset;
    text-align: left;
    padding-left: 0;
  }
  .section.banner-container .animated_text span:nth-of-type(2n) {
    text-align: left;
    padding-left: 0;
    padding-right: 0;
  }
  .section.banner-container .animated_text span.d-show {
    transform: translateY(-100%);
    transition: 0.5s transform ease-in-out;
  }
  .section.banner-container .animated_text span.d-up {
    transform: translateY(-200%);
    transition: 0.5s transform ease-in-out;
  }
  .section.lp-brand .banner p {
    width: 100%;
    font-size: var(--body-font-size-xs);
    line-height: var(--body-font-size-s);
  }
  .section.banner-container .banner h1 {
    font-size: 30px;
  }
  .section.banner-container .banner .section.banner-container #pricesBox {
    text-align: left;
  }
  .section.banner-container .banner .section.banner-container #pricesBox .d-flex {
    align-items: center;
  }
  .section.banner-container .banner .section.banner-container #pricesBox .d-flex p {
    margin: 0 10px 0 0;
  }
  .section.banner-container .banner .section.banner-container #pricesBox .d-flex span.prod-oldprice {
    text-decoration: line-through;
    font-size: var(--heading-font-size-m);
    line-height: var(--heading-font-size-m);
    font-weight: normal;
  }
  .section.banner-container .banner .section.banner-container #pricesBox .d-flex span.prod-newprice {
    font-size: var(--heading-font-size-xl);
    line-height: var(--heading-font-size-xl);
    font-weight: bold;
  }
  .section.banner-container .banner .section.banner-container #pricesBox .d-flex .variation {
    font-size: var(--body-font-size-xs);
    line-height: 19px;
    font-weight: bold;
  }
  .section.banner-container .banner .section.banner-container #pricesBox .buy_box {
    margin: 20px 0;
    min-height: auto;
  }
  .section.banner-container .banner .section.banner-container #pricesBox .buy_box a, .section.banner-container .banner .section.banner-container #pricesBox .buy_box span {
    display: inline;
  }
  .section.banner-container .banner .section.banner-container #pricesBox .terms {
    margin: 5px 0 10px;
  }
  .section.banner-container .banner .section.banner-container #pricesBox .terms p {
    font-size: 12px;
    line-height: 15px;
    margin: 0 5px;
  }
  .section.banner-container .banner .section.banner-container #pricesBox .terms p a {
    color: #006EFF;
  }
}
@media screen and (width >= 991px) {
  .section.banner-container .banner h1 {
    font-size: var(--heading-font-size-xl);
    line-height: 45px;
    text-align: left;
  }
  .section.banner-container .banner h2 {
    font-size: var(--heading-font-size-l);
    line-height: var(--heading-font-size-l);
    text-align: left;
  }
  .section.banner-container .banner .button-container {
    display: block;
  }
  .section.banner-container .banner img {
    width: initial;
  }
  .section.lp-brand .banner {
    padding-bottom: 9rem;
  }
  .section.lp-brand .banner h1 {
    font-weight: lighter;
    font-size: var(--heading-font-size-xl);
    line-height: var(--heading-font-size-xl);
  }
}
@media screen and (width <= 991px) {
  .section.lp-brand .banner {
    padding-bottom: 1rem !important;
    background: none !important;
  }
}
@media screen and (width <= 768px) {
  .section.banner-container .banner {
    padding: 1em 0;
    margin-bottom: 1rem !important;
  }
  .section.lp-brand .banner {
    padding-bottom: 5.5rem;
    border-radius: 10px;
  }
  .section.normal-padding-mobile .banner {
    padding-bottom: 1rem;
  }
  .section.banner-container .banner h1 {
    margin-top: 0;
    font-size: 30px;
    text-align: left;
  }
  .section.lp-brand .banner h1 {
    text-align: center;
  }
  .section.banner-container .banner h2 {
    margin-bottom: 0;
    font-size: var(--body-font-size-m);
  }
  .section.banner-container .banner p {
    font-size: 13px;
    line-height: 18px;
  }
  .section.banner-container .banner ul li {
    font-size: 11px;
    line-height: 16px;
  }
  .section.banner-container .banner #lidlBox {
    width: 100%;
    padding: 1rem 20px;
  }
  .section.banner-container .banner #lidlBox strong {
    font-size: 13px;
    line-height: 17px;
    font-weight: bold;
    letter-spacing: -0.2px;
    display: block;
  }
  .section.banner-container .banner #lidlBox hr {
    margin: 1em 0;
  }
  .section.banner-container .banner #lidlBox a.red-buy-button {
    font-size: 11px;
    line-height: 25px;
    font-weight: bold;
    letter-spacing: -0.17px;
    padding: 10px 15px !important;
    margin: 1rem 0;
  }
  .section.banner-container .banner #lidlBox a.red-buy-button img {
    max-height: 25px;
    width: auto;
  }
  .section.banner-container #pricesBox .d-flex {
    justify-content: center;
  }
  .section.banner-container #pricesBox .d-flex p {
    margin: 0 10px 0 0;
  }
  .section.banner-container #pricesBox .d-flex span.prod-oldprice {
    text-decoration: line-through;
    font-size: var(--heading-font-size-s);
    line-height: var(--heading-font-size-s);
    font-weight: normal;
  }
  .section.banner-container #pricesBox .d-flex span.prod-newprice {
    font-size: var(--heading-font-size-l);
    line-height: var(--heading-font-size-l);
    font-weight: bold;
  }
  .section.banner-container #pricesBox .d-flex .variation {
    font-size: var(--body-font-size-s);
    line-height: 19px;
    font-weight: bold;
  }
  .section.banner-container #pricesBox .buy_box {
    margin: 20px 0;
    min-height: auto;
  }
  .section.banner-container #pricesBox .buy_box a, .section.banner-container #pricesBox .buy_box span {
    display: inline;
    font-size: var(--body-font-size-s);
  }
  .section.banner-container #pricesBox .terms {
    margin: 5px 0 10px;
  }
  .section.banner-container #pricesBox .terms p {
    font-size: 12px;
    line-height: 15px;
    margin: 0 5px;
  }
  .section.banner-container #pricesBox .terms p a {
    color: #006EFF;
  }
  .section.banner-container.hide-mobile {
    background: none !important;
  }
  .section.banner-container.hide-mobile .bck-img {
    display: none;
  }
}