.b-buybuttons {
  display: flex;
  flex-wrap: wrap;

  > div {
    display: flex;
    flex-grow: 1;

    div {
      flex: 1;
      position: relative;
      padding-bottom: 3em;

      p {
        margin: 0;
      }

      em a {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }

      a, em a {
        background-color: transparent!important;
        font-size: 15px!important;
        font-weight: 600!important;;
        color: #006eff!important;
        padding: 0;
        text-transform: none!important;
        font-weight: normal!important;
        padding: 0!important;
        font-style: normal;
        border: 0 none!important;
    
        &:hover {
          background: transparent; 
          text-decoration: underline;
        }
      } 
    
      strong a, a.red-buy-button {
        padding: 10px 0!important;
        font-weight: 600 !important;
        color: #000 !important;
        font-size: 15px !important;
        min-width: 140px !important;
        border-radius: 8px;
        text-align: center;
        border: 2px solid #000 !important;
        background-color: transparent;
        margin: 0;
        width: auto!important;

        &:hover {
          text-decoration: none!important;
        }
      }

      strong a:hover {
        color: #fff!important;
        background-color: #000!important;
      }

      a.red-buy-button {
        background: #e72325 !important;
        color: #fff !important;
        width: auto;
        display: inline-block;
        border: 2px solid #e72325!important;
        margin: 1em 0 10px;
      }
    }
  }
}

@media (width <= 768px) {
  .b-buybuttons > div {
    div:first-of-type {
      display: none;
    }

    div {
      padding-bottom: 2em;

      strong a, a.red-buy-button {
        padding: 8px 3%!important;
        font-size: 13px!important;
        min-width: 90% !important;
      }

      em a {
        font-size: 11px !important;
      }
    }
  }
}