

.b-banner-container {
  color: white;
  height: auto;
  background-color: black;
  background-repeat: no-repeat;
  background-position: top right;
  overflow: hidden;
  padding-right: 0;
  padding-left: 0;

  .b-banner {
    z-index: 1;

    &.bigger-award-and-text {
      table {
        tbody {
          tr {
            td {

              img {
                max-height: 90px;
              }

              p {
                font-size: 24px;
                color: #523516;
  
                &:nth-child(2) {
                  font-size: 16px;
                  color: initial;
                }
              }
            }
          }
        }
      }
    }

    &.paragraph-blue {
      p {
        color: #006dff;
      }
    }
  }

  &.blue-border {
    border-bottom: 32px solid #E4F2FF;
  }


  .banner-image {
    img {
      display: none;
    }
  }

  .banner-image--in-container {
    img {
      display: none;
    }
  }
    
  &.negative {
    margin-bottom: 0;
    display: none;
  }

  .hasDiscount {
    display: none;
  }

  .b-banner-wrapper {
    position: relative;
    padding-left: 0;
    margin: 15px auto;

    .oldprice {
      font-size: 24px;
      text-decoration: line-through;
      margin-right: 10px;
    }
    
    .newprice {
      font-size: 40px;
      font-weight: bold;
    }

    

    table {
      border-collapse: separate;
      border-spacing: 0 1em;

      p {
        font-size: 21px;
        font-weight: 400;
        margin: 1em 0 0;
        margin-right: 10px;
        max-width: 595px;
  
        .prod-percent.green_bck {
          margin-top: 0;
        }
      }

      tbody {
        tr {
          td {
            &.newprice {
              width: 40%;
            }

            p {
              font-size: 16px;
              margin: 0;
              padding-left: 10px;

              &:nth-child(2) {
                font-size: 12px;
              }
            }
          }
        }
      }

      &.price-table {
        border-spacing: 0 0;

        tr {
          &:nth-child(3) {
            td {
              p {
                padding: 0;
                font-size: 11px;

                a {
                  text-decoration: none;
                  color: #06f;
                  outline: none;
                }
              }
            }
          }
        }
      }
    }

    .text-black {
      color: black !important;
    }

    h1 {
      font-size: 24px;
      max-width: unset;
      margin-top: 0;
    }

    h2 {
      font-size: 21px;
      max-width: unset;
      margin-top: 10px;
    }

    h3 {
      font-size: 19px;
      max-width: unset;
      margin-top: 10px;
    }

    #bannerAward {
      width: 250px;
      position: static;
      top: 30%;
      right: 15%;

      p {
        font-size: 18px;
        line-height: 20px;

        &:first-of-type {
          margin: 0;
        }

        em {
          font-weight: bold;
        }

        img {
          width: 160px;
          display: block;
          float: none;
        }
      }
    }
    
    .prod-percent.green_bck_pill {
      background-color: #2FB43E;
      display: inline-block;
      color: #fff;
      border-radius: 15px;
      margin-top: 15px;
      margin-left: 0 !important;
      font-size: 16px;
      padding: 2px 11px;
    }

    .smaller-text h2 {
      font-size: 18px;
      font-weight: 500;
      margin: 1em 0;
    }
    
    .w-full h1, .w-full h2 {
      max-width: 100%;
    }

    a.button {
      background: #e72325 !important;
      color: #fff !important;
      text-transform: uppercase;
      display: inline-block;
      text-align: center;
      border-radius: 5px;
      padding: 13px 3%;
      font-size: 14px;
      font-weight: bold;
      transition: background-color 0.2s;
      width: auto;
      border-style: none;
      cursor: pointer;
      margin: 5px 0;

      &:hover {
        background: #b33027 !important;
        text-decoration: none;
      }
    }

    ul {
      padding: 0;

      li {
        text-align: left;
        background: url("../../images/icons/check_full.svg") 0 3px no-repeat transparent;
        list-style-type: none;
        padding-left: 23px;
        background-size: 16px;
        font-size: 14px;
        color: #000;
        margin-top: 5px;
      }
    }
  }
}

@media screen and (width >= 768px) {
  .b-banner-container {
    padding: 2em 0;
    height: 500px;

    &.bigger-banner {
      height: 625px;
    }

    &.even-bigger-banner {
      height: 725px;
    }

    &.negative {
      display: block;
      margin-bottom: -400px;
    }

    .b-banner-wrapper {
      position: absolute;
      height: 100%;
      display: flex;
      align-items: center;
      margin-top: 0;
      margin-bottom: 0;

      h1, h2 {
        max-width: 60%;
      }

      #bannerAward {
        width: 200px;
        position: absolute;
      }
    }



    .hasDiscount {
      display: block;

      img {
        width: auto;
        float: right;
      }

      div {
        background: url('../../images/bubble_discount.png') no-repeat 0 0 transparent;
        position: absolute;
        right: 10%;
        top: 15%;
        width: 110px;
        height: 120px;
        background-size: 100%;
        padding: 0 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span {
          color: red;
          display: block;
          font-weight: bold;
          line-height: 26px;
          font-size: 40px;
          text-align: center;
    
          &:last-of-type {
            font-size: 22px;
          }
        }
      }
    }
  }
}

@media screen and (width >= 989px) {
  .b-banner-container {
    padding: 0;

    .b-banner-wrapper {
      left: 0;
      right: 0;

      .banner-image--in-container {
        img {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          z-index: -1;
        }
      }
      
      h1 {
        font-size: 35px;
        max-width: 610px;
        font-weight: normal;
        padding-bottom: 0;
        margin-bottom: 0;
      }
      
      h2 {
        font-weight: 700;
        font-size: 35px;
        max-width: 595px;
        margin-top: 0;
        margin-bottom: 0;
      }

      p {
        max-width: 610px;
      }

      .smaller-text h2 {
        font-size: 18px;
        font-weight: 500;
        margin: 1em 0;
      }

      .prod-percent.green_bck_pill {
        font-size: 18px;
      }
    }

    &.center-background-image {
      .banner-image {
        img {
          display: block;
          height: 100%;
          width: auto;
          max-width: none;
          margin-right: -15px;
          position: absolute;
          right: -50%;
        }
      }
    }

    .banner-image {
      img {
        display: block;
        height: 100%;
        float: right;
        width: auto;
        max-width: none;
        margin-right: -15px;
      }
    }

    .hasDiscount div {
      right: 5%;
      top: 10%;
    }
  }
}

@media screen and (width >= 1199px) {
  .b-banner-container {
    &.bigger-banner {
      height: 625px;
    }

    &.center-background-image {
      .banner-image {
        img {
          display: block;
          height: 100%;
          width: auto;
          max-width: none;
          margin-right: -15px;
          position: absolute;
          right: -20%;
        }
      }
    }

    .hasDiscount div {
      right: 15%;
      top: 15%;
    }
  }

  .b-banner-wrapper {
    left: 0;
    right: 0;
  }
}

// 4k res
@media screen and (width >= 1920px) {
  .b-banner-container {
    &.center-background-image {
      .banner-image {
        img {
          display: block;
          height: 100%;
          width: auto;
          max-width: none;
          margin-right: -15px;
          position: absolute;
          right: 10%;
        }
      }
    }
  }
}