.section.news-bar-container {
  background-color: #006EFF;
  padding: 5px;
  transition: all 1s ease;
}
.section.news-bar-container .news-bar {
  text-align: center;
  justify-content: center;
  color: white;
  display: flex;
  line-height: 1.2;
  padding: 8px 0;
  align-items: center;
  transition: all 1s ease;
}
.section.news-bar-container .news-bar a {
  color: white;
  transition: all 1s ease;
  text-decoration: underline;
}

.topRibbon {
  text-align: center;
  background-position: 0 -18px;
  background-repeat: repeat;
  background-blend-mode: unset;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.topRibbon * {
  font-family: "Arial", sans-serif !important;
  font-size: 14px;
}

.topRibbon img {
  width: 27px;
  float: left;
}

.topRibbon .block > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-shadow: 0 0 34px #f00, 0 0 34px #f00, 0 0 34px #f00, 0 0 34px #f00, 0 0 34px #f00;
}

@media screen and (width >= 991px) {
  .news-bar {
    height: 44px;
  }
}