.section.news-bar-container {
    background-color: #006EFF;
    padding: 5px;
    transition: all 1s ease;

    .news-bar {
        text-align: center;
        justify-content: center;
        color: white;
        display: flex;
        line-height: 1.2;
        padding: 8px 0;
        align-items: center;
        transition: all 1s ease;

        a {
            color: white;
            transition: all 1s ease;
            text-decoration: underline;
        }
    }
}

.ribbonCarousel .news-bar-wrapper {
    max-width: 100%;
    overflow: hidden;
}

.ribbonCarousel .news-bar-wrapper .block, .ribbonCarousel .news-bar-wrapper .block div {
    max-width: 100%;
    width: 100%;
}

.ribbonCarousel .news-bar-wrapper ul {
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
    list-style: none;
    animation: ribbon var(--dur, 30s) linear infinite;
    will-change: transform;
}

.ribbonCarousel .news-bar-wrapper:hover > ul { animation-play-state: paused; }

@keyframes ribbon {
  from { transform: translateX(0); }
  to   { transform: translateX(calc(-1 * var(--loop, 100%))); }
}

.ribbonCarousel .news-bar-wrapper ul li {
    flex: 0 0 auto;
    width: max-content;
    white-space: nowrap;
    list-style: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    font-family: "IBM Plex Sans", sans-serif;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.ribbonCarousel .news-bar-wrapper ul li::before {
    content: ".";
    font-size: 23px;
    margin-right: 17px;
    margin-top: -11px;
    display: inline-block;
}

.topRibbon {
    text-align: center;
    background-position: 0 -18px;
    background-repeat: repeat;
    background-blend-mode: unset;
    padding-top: 20px!important;
    padding-bottom: 20px!important;
}

.topRibbon * {
    font-family: Arial, sans-serif !important;
    font-size: 14px;
}

.topRibbon img {
    width: 27px;
    float: left;
}

.topRibbon .block > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-shadow: 0 0 34px #f00, 0 0 34px #f00, 0 0 34px #f00, 0 0 34px #f00, 0 0 34px #f00;
}


@media screen and (width >= 991px) {
    .news-bar {
        height: 44px;
    }
}