.testimonials-component-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: italic normal normal 14px/19px Arial, sans-serif;
}
.testimonials-component-container h2 {
  font: normal normal bold 32px/37px Arial, sans-serif;
}
.testimonials-component-container .testimonials-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3%;
}
.testimonials-component-container.we-container {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 15px auto;
}
.testimonials-component-container .title-class {
  text-align: center;
  font: normal normal bold 32px/37px Arial, sans-serif;
}
@media screen and (width >= 768px) {
  .testimonials-component-container .title-class {
    width: 715px;
  }
}
.testimonials-component-container .subtitle-class {
  font: normal normal normal 18px/21px Arial, sans-serif;
  margin-bottom: 40px;
  text-align: center;
  max-width: 90%;
}
.testimonials-component-container .review-container {
  display: flex;
  align-items: flex-start;
  flex: 1;
  gap: 25px;
  background: #edf9ff;
  padding: 26px 0 26px 23px;
  border-radius: 16px;
}
.grey-bck .testimonials-component-container .review-container {
  background-color: #F6F6F6;
}
.testimonials-component-container hr {
  margin-left: 0;
  width: 24px;
  margin-bottom: 8px;
  border: 1px solid #00439c;
}
.testimonials-component-container .review {
  width: 90%;
}
.testimonials-component-container .review p {
  width: 90%;
  margin-top: 0;
}
.testimonials-component-container .review p:last-child {
  font-style: normal;
}
.grey-bck .testimonials-component-container .review p {
  font-size: 14px;
  font-style: normal;
}
.testimonials-component-container .hide {
  display: none;
}
@media screen and (width >= 991px) {
  .testimonials-component-container .hide {
    display: flex;
  }
}
.testimonials-component-container .show {
  display: flex;
}
@media screen and (width >= 991px) {
  .testimonials-component-container .show {
    display: flex;
  }
}
.testimonials-component-container .navigation-container {
  display: flex;
  justify-content: space-between;
  gap: 3%;
  max-width: 90%;
  width: 100%;
  margin-top: 20px;
  align-items: center;
}
@media screen and (width >= 991px) {
  .testimonials-component-container .navigation-container {
    justify-content: center;
  }
}
.testimonials-component-container .buttons-container {
  display: flex;
  gap: 3%;
}
@media screen and (width >= 991px) {
  .testimonials-component-container .buttons-container {
    display: none;
  }
}
.testimonials-component-container .source-class {
  font-size: 12px;
}
.testimonials-component-container .next-button,
.testimonials-component-container .prev-button {
  border: 0;
  background-color: #edf9ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonials-component-container .next-button .prev-button,
.testimonials-component-container .prev-button .prev-button {
  margin-right: 10px;
}
.testimonials-component-container .next-button:hover,
.testimonials-component-container .prev-button:hover {
  border: 1px solid #006eff;
}
@media screen and (width >= 768px) {
  .testimonials-component-container .reviews-container {
    display: flex;
    flex-direction: column;
  }
  .testimonials-component-container .source-class {
    font-size: 14px;
  }
}
@media screen and (width >= 991px) {
  .testimonials-component-container .reviews-container {
    display: flex;
    flex-direction: row;
    gap: 3%;
  }
  .testimonials-component-container .buttons-container {
    display: none;
  }
  .testimonials-component-container .navigation-container {
    justify-content: center;
  }
  .testimonials-component-container.we-container {
    max-width: 1300px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (width >= 1199px) {
  .testimonials-component-container .testimonials-component {
    max-width: 1294px;
  }
  .testimonials-component-container.we-container {
    max-width: 1290px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.testimonials-component-container.new2025 {
  font: normal normal 400 16px/24px "IBM Plex Sans", sans-serif;
}
.testimonials-component-container.new2025 .review p {
  margin-bottom: 0;
  width: 100%;
}
.testimonials-component-container.new2025 .reviews-container {
  align-items: flex-start;
}
.testimonials-component-container.new2025 .review-container {
  flex-direction: column;
  gap: 10px;
  background: #fff;
  box-shadow: 1px 4px 6px -2px rgba(16, 24, 40, 0.05), 0 0 16px -4px rgba(16, 24, 40, 0.06);
}
.testimonials-component-container.new2025 .review-container svg {
  margin-top: 0 !important;
}

@media screen and (width <= 768px) {
  .testimonials-component-container.title-small-mobile .title-class, .testimonials-component-container.title-small-mobile .title-class *, .testimonials-component-container.title-small-mobile .subtitle-class, .testimonials-component-container.title-small-mobile .subtitle-class * {
    width: 100%;
    max-width: unset;
    text-align: left;
  }
  .testimonials-component-container.title-small-mobile .subtitle-class *, .testimonials-component-container.title-small-mobile .review p {
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
  }
  .testimonials-component-container.title-small-mobile .title-class h2 {
    font-size: 17px;
    line-height: 22px;
  }
}