.testimonials-component-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font: italic normal normal 14px/19px Arial, sans-serif;
  
    h2 {
      font: normal normal bold 32px/37px Arial, sans-serif;
    }
  
    .testimonials-component {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3%;
    }
  
    &.we-container {
      max-width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      margin: 15px auto;
    }
  
    .title-class {
      text-align: center;
      font: normal normal bold 32px/37px Arial, sans-serif;
  
      @media screen and (width >= 768px) {
        width: 715px;
      }
    }
  
    .subtitle-class {
      font: normal normal normal 18px/21px Arial, sans-serif;
      margin-bottom: 40px;
      text-align: center;
      max-width: 90%;
    }
  
    .review-container {
      display: flex;
      align-items: flex-start;
      flex: 1;
      gap: 25px;
      background: #edf9ff;
      padding: 26px 0 26px 23px;
      border-radius: 16px;
  
      .grey-bck & {
        background-color: #F6F6F6;
      }
    }
  
    hr {
      margin-left: 0;
      width: 24px;
      margin-bottom: 8px;
      border: 1px solid #00439c;
    }
  
    .review {
      width: 90%;
  
      p {
        width: 90%;
        margin-top: 0;
  
        &:last-child {
          font-style: normal;
        }
  
        .grey-bck & {
          font-size: 14px;
          font-style: normal;
        }
      }
    }
  
    .hide {
      display: none;
  
      @media screen and (width >= 991px) {
        display: flex;
      }
    }
  
    .show {
      display: flex;
  
      @media screen and (width >= 991px) {
        display: flex;
      }
    }
  
    .navigation-container {
      display: flex;
      justify-content: space-between;
      gap: 3%;
      max-width: 90%;
      width: 100%;
      margin-top: 20px;
      align-items: center;
  
      @media screen and (width >= 991px) {
        justify-content: center;
      }
    }
  
    .buttons-container {
      display: flex;
      gap: 3%;
  
      @media screen and (width >= 991px) {
        display: none;
      }
    }
    
    .source-class{
        font-size: 12px;
    }

    .next-button,
    .prev-button {
      border: 0;
      background-color: #edf9ff;
      display: flex;
      justify-content: center;
      align-items: center;
        
    .prev-button {
      margin-right: 10px;
      }

      &:hover {
        border: 1px solid #006eff;
      }
    }
  
    @media screen and (width >= 768px) {
      .reviews-container {
        display: flex;
        flex-direction: column;
      }

      .source-class{
        font-size: 14px;
    }
    }
  
    @media screen and (width >= 991px) {
      .reviews-container {
        display: flex;
        flex-direction: row;
        gap: 3%;
      }
  
      .buttons-container {
        display: none;
      }
  
      .navigation-container {
        justify-content: center;
      }
  
      &.we-container {
        max-width: 1300px;
        padding-left: 50px;
        padding-right: 50px;
      }
    }
  
    @media screen and (width >= 1199px) {
      .testimonials-component {
        max-width: 1294px;
      }
  
      &.we-container {
        max-width: 1290px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
  
.testimonials-component-container.new2025 {
  font: normal normal 400 16px/24px "IBM Plex Sans", sans-serif;
  
  .review p {
    margin-bottom: 0;
    width: 100%;
  }
  
  .reviews-container {
    align-items: flex-start;
  }
  
  .review-container {
    flex-direction: column;
    gap: 10px;
    background: #fff;
    box-shadow: 1px 4px 6px -2px rgb(16 24 40 / 5%), 0 0 16px -4px rgb(16 24 40 / 6%);
    
    svg {
      margin-top: 0!important;
    }
  }
}