@charset "UTF-8";

/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

/* load components style */
@import "/components/column/column.css";
@import "/components/review/review.css";
:root {

  /* colors */
  --link-color: #000;
  --link-hover-color: #006EFF;
  --background-color: #fff;
  --overlay-background-color: #eee;
  --highlight-background-color: #ececec;
  --text-color: #000;

  /* fonts */
  --body-font-family: "Roboto", sans-serif;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: "Roboto Mono", menlo, consolas, "Liberation Mono", monospace;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 64px;
}

body {
  font-size: var(--body-font-size-xs);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: unset;
}

*[data-align='center'] {
  text-align: center;
}

header {
  background-color: black;
  height: var(--nav-height);
}

body [data-mobile-detector] {
  display: block;
}

body [data-tablet-detector] {
  display: none;
}

body [data-desktop-detector] {
  display: none;
}

@media (width >= 768px) {
  body [data-mobile-detector] {
    display: none;
  }
}

@media (width >= 768px) {
  body [data-tablet-detector] {
    display: block;
  }
}

@media (width >= 992px) {
  body [data-desktop-detector] {
    display: block;
  }
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: 0.5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 {
  font-size: var(--heading-font-size-xxl);
}

h2 {
  font-size: var(--heading-font-size-xl);
}

h3 {
  font-size: var(--heading-font-size-l);
}

h4 {
  font-size: var(--heading-font-size-m);
}

h5 {
  font-size: var(--heading-font-size-s);
}

h6 {
  font-size: var(--heading-font-size-xs);
}

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: 0.125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: 0.25em;
  overflow-x: auto;
  white-space: pre;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link, button {
  background: #e72325;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  padding: 10px 3em;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.2s;
  width: auto;
  border-style: none;
  cursor: pointer;
}

a.button:hover, a.button:focus, button:hover, button:focus {
  background-color: #b33027;
  cursor: pointer;
  text-decoration: none;
}

a.button:any-link:hover, button:hover {
  background: #b33027;
}

[data-button-color='blue'] a.button:any-link, [data-button-color='blue'] button {
  background: #006DFF;
}

[data-button-color='blue'] a.button:any-link:hover, [data-button-color='blue'] button:hover {
  background-color: #00439c;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon svg {
  height: 100%;
  width: 100%;
}

main {
  background-color: var(--background-color);
}

main .section {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

main .default-content-wrapper {
  padding: 1em 15px;
}

*[data-mtop='none'] {
  margin-top: 0;
}
*[data-mtop='none'] .default-content-wrapper {
  margin-top: 0;
  padding-top: 0;
}

main .default-content-wrapper h1, main .default-content-wrapper h2, main .default-content-wrapper h3 {
  font-size: 32px;
  color: #111;
  font-weight: 600;
  margin: 0 0 5px;
}

main .default-content-wrapper h2 {
  font-size: 30px;
}

main .default-content-wrapper h3 {
  font-size: 28px;
}

main .default-content-wrapper h4 {
  font-size: 26px;
}

main .default-content-wrapper h5 {
  font-size: 24px;
}

main .default-content-wrapper h6 {
  font-size: 22px;
}

main .default-content-wrapper h1:last-of-type, main .default-content-wrapper h2:last-of-type {
  margin-bottom: 15px;
}

main .section[data-size='bigger'] .default-content-wrapper h1 {
  font-size: 38px;
}

main .section[data-size='bigger'] .default-content-wrapper h2 {
  font-size: 37px;
}

main .section[data-size='bigger'] .default-content-wrapper h3 {
  font-size: 35px;
}

main .section[data-size='bigger'] .default-content-wrapper h4 {
  font-size: 33px;
}

main .section[data-size='bigger'] .default-content-wrapper h5 {
  font-size: 31px;
}

main .section[data-size='bigger'] .default-content-wrapper h6 {
  font-size: 29px;
}

.red-buy-button p {
  padding: 0 !important;
  margin: 0 !important;
  color: white !important;
  line-height: 11px;
}

main .default-content-wrapper p {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

main .default-content-wrapper p.button-container {
  margin: 1em 0;
}

main .default-content-wrapper img {
  margin-top: 2rem;
}

.topHeader .heading {
  font-size: 13px;
  text-transform: uppercase;
  color: #999;
  letter-spacing: 0.7px;
  margin-bottom: 30px;
}

.topHeader .subheading {
  font-size: 32px;
  color: #172462;
  font-weight: 600;
  line-height: 1.2;
}

.section.logos p {
  color: #3c3c3c;
  font-size: 18px;
  margin-bottom: 2em;
  text-align: left;
}

.full .banner-image img {
  height: auto !important;
  width: 100% !important;
  margin: 0 !important;
}

main .has-2-cols .default-content-wrapper {
  display: flex;
}

main .has-2-cols .default-content-wrapper h2:nth-child(1) {
  margin-bottom: 1em;
}

main .has-2-cols .default-content-wrapper > * {
  flex: 1;
}

main .has-2-cols .default-content-wrapper p {
  font-size: 20px;
  line-height: 30px;
}

main .splitted .default-content-wrapper p {
  column-count: 2;
  column-gap: 20px;
}

main .blue-quote .default-content-wrapper p {
  width: 48%;
  border-radius: 5px;
  overflow: hidden;
  color: #fff;
  font-size: 25px;
  line-height: 38px;
}

.section.logos p:last-of-type {
  text-align: center;
}

main .has-2-cols .default-content-wrapper p:nth-of-type(1) {
  font-size: 20px;
  line-height: 30px;
}

main .splitted .default-content-wrapper h2:nth-child(1) {
  margin-bottom: 1em;
}

main .blue-quote .default-content-wrapper {
  display: flex;
  justify-content: space-between;
}

main .blue-quote .default-content-wrapper p:nth-of-type(1) {
  padding: 1em;
  background-color: #006dff;
  border-radius: 5px;
}

main .blue-quote .default-content-wrapper p img {
  min-width: 100%;
  height: 100%;
  margin-top: 0;
}

.section.logos p:last-of-type img {
  max-height: 90pt;
  max-width: 15%;
  margin: 0 2%;
}

main .blue-title-left .default-content-wrapper h2:nth-child(1) {
  color: #006dff;
  line-height: 58px;
  font-size: 49px;
  font-weight: 300;
  float: left;
  width: 50%;
  padding-right: 2%;
  margin-bottom: 4em;
}

main .blue-title-left .default-content-wrapper p:nth-of-type(1) {
  font-size: 26px;
  line-height: 37px;
  font-weight: 100;
  margin-bottom: 1em;
}

main .blue-title-left .default-content-wrapper p:nth-of-type(2) {
  font-size: 18px;
  line-height: 26px;
  column-count: 2;
  column-gap: 20px;
}

main .single-blue-quote .default-content-wrapper {
  color: #006dff;
}

main .single-blue-quote .default-content-wrapper p:nth-of-type(1) {
  line-height: 55px;
  font-size: 40px;
  font-weight: 300;
}

.red-buy-button p em {
  font-weight: 300;
  font-size: 14px;
}

main .single-blue-quote .default-content-wrapper strong, main .single-blue-quote .default-content-wrapper em {
  font-size: 20px;
  line-height: 22px;
  font-style: normal;
  display: inline-block;
}

main .blue-quote .default-content-wrapper p:nth-of-type(1) strong {
  margin-top: 36%;
  display: inline-block;
  font-size: 20px;
  line-height: 22px;
}

main .blue-quote .default-content-wrapper p:nth-of-type(1) em {
  font-style: normal;
  font-size: 20px;
  line-height: 26px;
  display: block;
}

@media (width >= 900px) {
  .section > div {
    max-width: 1200px;
    margin: auto;
  }
}

/* section metadata */
.section[data-backgroundcolor='grey'] {
  background: #ececec;
  padding: 2em 0;
}

main .section.highlight {
  background-color: var(--highlight-background-color);
}

.greenTag {
  background-color: #2fb43e;
  font-size: 11px;
  display: inline;
  padding: 2px 6px;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  font-weight: bold;
  line-height: 15px;
  text-transform: uppercase;
}

.strong span {
  font-weight: bold;
}

.prices_box {
  text-align: center;
}

.prices_box span {
  display: block;
  margin: 2px 0;
}

.prod_box .prod-percent {
  visibility: hidden;
}

.prod-percent.green_bck_circle.bigger span {
  display: block;
  line-height: 21px;
}

.prod-percent.green_bck_pill {
  background-color: #2fb43e;
  font-size: 18px;
  display: inline-block;
  padding: 5px 20px;
  color: #ffffff;
  border-radius: 15px;
  margin-top: 15px;
}

.prod-percent.green_bck_circle {
  position: relative;
  background: #2cb43d;
  border-radius: 50%;
  width: 83px;
  height: 83px;
  font-size: 28px;
  line-height: 81px;
  text-align: center;
  padding: 0;
  color: #ffffff;
  display: inline-block;
}

.prod-percent.green_bck_circle.medium span:first-of-type {
  margin-top: 23%;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
}

.prod-percent.green_bck_circle.medium span:last-of-type {
  font-size: 13px;
  line-height: 14px;
}

.prod-percent.green_bck_circle.medium {
  width: 96px;
  height: 96px;
  z-index: 999;
  font-size: 18px;
  font-weight: 500;
}

.prod-percent.green_bck_circle.bigger {
  width: 120px;
  height: 120px;
  transform: rotate(35deg);
  z-index: 999;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  right: 16%;
  top: 25%;
}

.prod-percent.green_bck_circle.bigger span:last-of-type {
  font-size: 13px;
}

.prod-percent.green_bck_circle.bigger span.bulina_text1 {
  margin-top: 39px;
}

.prod-percent.green_bck_circle.bigger.has3txt span:nth-of-type(2) {
  margin-top: 0;
}

.prod-percent.green_bck_circle.bigger.has3txt > span:first-of-type {
  margin-top: 18%;
}

.prod-percent.green_bck_circle.bigger span.bulina_text {
  font-weight: 500;
  font-size: 15px;
}

.prod-percent.green_bck_circle.bigger span.bulina_text1 b, .prod-percent.green_bck_circle.bigger.has3txt span:nth-of-type(2) b {
  font-size: 28px;
}

.prod-percent.green_bck_circle.bigger span::before {
  display: none;
}

.prod-percent.green_txt {
  color: #2cb43d;
  background-color: #2cb43d33;
  border-radius: 8px;
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  padding: 4px 8px;
  font-weight: bold;
}

.prod-oldprice {
  color: #3c3c3c;
  font-size: 14px;
  line-height: 14px;
  text-decoration: line-through;
}

.prod-newprice {
  font-size: 22px;
  line-height: 22px;
  font-weight: bold;
}

.prod-taxes {
  font-size: 11px;
}

.selectorBox {
  margin: 10px 0;
  padding: 10px 3%;
  border-radius: 4px;
  display: inline-block;
  vertical-align: top;
  width: 94% !important;
  border: 1px solid #c5c5c5;
  cursor: pointer;
  position: relative;
  font-size: 18px;
  font-weight: 400;
  transition: border 0.3s ease-in-out;
}

.selectorBox::after {
  content: "";
  position: absolute;
  top: 13px;
  right: 17px;
  width: 11px;
  height: 11px;
  border-bottom: 2px solid #3c3c3c;
  border-right: 2px solid #3c3c3c;
  transform: rotate(45deg);
  transition: all 0.3s ease-in-out;
}

.selectorBox label {
  font-size: 10px;
  font-weight: 700;
  line-height: 2.4;
  letter-spacing: 0.08em;
  color: #616161;
  padding: 0 5px;
  background-color: #fff;
  position: absolute;
  top: -11px;
  left: 11px;
  z-index: 1;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
}

.selectorBox select {
  display: block;
  padding: 5px 2%;
  font-size: 1pc;
  font-weight: 400;
  position: relative;
  transition: background-color 0.3s ease-in-out;
  background-color: #fff;
  width: 96%;
  border: 0 none;
  appearance: none;
  cursor: pointer;
}

.selectorBox select:focus {
  outline: none;
}

.buy_box {
  min-height: 4em;
}

.btn-blue a.red-buy-button {
  background-color: #006FFF !important;
}

.btn-blue a.red-buy-button:hover {
  background-color: #0755ba !important;
}

.hide-btn-1 .buy_box1 a.red-buy-button, .hide-btn-2 .buy_box2 a.red-buy-button, .hide-btn-3 .buy_box3 a.red-buy-button, .hide-btn-4 .buy_box4 a.red-buy-button {
  display: none;
}

.red-buy-button {
  background: #e72325 !important;
  color: #fff !important;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  padding: 13px 3% !important;
  font-size: 14px;
  font-weight: bold !important;
  transition: background-color 0.2s;
  width: 94%;
  border-style: none;
  cursor: pointer;
  margin: 5px 0;
  text-decoration: none !important;
}

.green-buy-button {
  background: #21B53D !important;
}

.red-buy-button:hover {
  background: #b33027 !important;
  text-decoration: none;
}

#fakeSelectors_bottom {
  clear: both;
  position: fixed;
  top: 20%;
  left: 10px;
  display: none;
}

#fakeSelectors_bottom label {
  font-weight: bold;
  display: block;
  font-size: 13px;
  color: grey;
}

#fakeSelectors_bottom select {
  width: 160px;
  padding: 2px;
  margin-bottom: 10px;
}

#headerFerrari {
  position: fixed;
  top: 0;
  z-index: 4;
  width: 100%;
  border-bottom: 2px solid #3C3C3C;
  height: 40px;
  box-shadow: 0 32px 73px #000;
}

#headerFerrari div div {
  margin-top: -10px;
}

#headerFerrari ul {
  padding: 0;
  margin: 0;
  width: 50%;
  float: left;
}

#headerFerrari ul li {
  color: white;
  font-size: 12px;
  list-style-type: none;
  display: inline-block;
  padding: 0 10px;
}

#headerFerrari ul:nth-of-type(1) li:nth-of-type(1) {
  padding-left: 0;
}

#headerFerrari ul li a {
  color: #DEDEDE;
  font-size: 12px;
  padding-bottom: 10px;
  position: relative;
}

#headerFerrari ul li a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 4px;
  background: #006EFF;
  transition: all 0.3s ease;
  transition-property: transform;
  width: 100%;
  transform: scaleX(0);
  will-change: transform;
  transform-origin: right;
}

#headerFerrari ul li a:hover {
  text-decoration: none;
}

#headerFerrari ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

#headerFerrari ul:nth-of-type(2) {
  text-align: right;
}

#headerFerrari ul:nth-of-type(2) li {
  border-left: 1px solid #616161;
}

#headerFerrari ul:nth-of-type(3) {
  width: 100%;
  margin-top: 20px;
}

#headerFerrari ul:nth-of-type(3) li {
  padding: 0 25px 0 0;
}

#headerFerrari ul:nth-of-type(3) li a {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
}

#headerFerrari ul:nth-of-type(3) li a span.icon-logo-white {
  display: inline-block;
  background: url("../images/sigla_bd_white.svg") 0 0 no-repeat;
  width: 165px;
  height: 25px;
}

#headerFerrari ul:nth-of-type(3) :nth-of-type(3) a {
  font-weight: bold;
}

@keyframes place-holder-shimmer {
  0% {
    background-position: -800px 0;
  }

  100% {
    background-position: 800px 0;
  }
}

.await-loader {
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: place-holder-shimmer;
  animation-timing-function: linear;
  background: linear-gradient(to right, #eee 8%, #bbb 18%, #eee 33%);
  background-size: 800px 104px;
  position: relative;
  opacity: 0.4;
  cursor: default;
  min-height: 1em;
}

.below-form-banner {
  border: 2px solid #EAEAEA;
  border-radius: 10px;
  display: flex;
  width: 768px;
  margin: 3em auto 0;
  padding: 0 !important;
}

.below-form-banner > div {
  width: 50%;
  padding: 1em;
}

.below-form-banner > div:nth-child(1) {
  text-align: center;
}

.below-form-banner > div:nth-child(1) p:nth-child(1) {
  font-size: 24px;
  line-height: 32px;
}

.below-form-banner > div:nth-child(1) p:nth-child(2) {
  font-size: 16px;
}

.below-form-banner > div:nth-child(1) p:nth-child(3) {
  font-size: 14px;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  margin: 10px;
  padding: 5px 0;
}

.below-form-banner > div:nth-child(2) {
  background-color: #F7F6F7;
}

.below-form-banner > div:nth-child(2) ul {
  padding-left: 0;
}

.below-form-banner > div:nth-child(2) ul li {
  font-size: 14px;
  background: url("../../images/icons/simple_green_check.png") 0 3px no-repeat transparent;
  list-style-type: none;
  padding-left: 23px;
  background-size: 16px;
  line-height: 20px;
  color: #000;
  text-align: left;
  margin-top: 6px;
}

#footerFerrari {
  background-color: #000;
}

#footerFerrari ul {
  margin-left: 0;
  padding-left: 0;
}

#footerFerrari ul li {
  list-style-type: none;
}

#footerFerrari .section:nth-of-type(1) p {
  width: 40%;
}

#footerFerrari .section:nth-of-type(1) ul {
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding-top: 0;
  margin-top: 0;
}

#footerFerrari .section:nth-of-type(2) ul:nth-of-type(1) {
  width: 40%;
}

#footerFerrari .section:nth-of-type(3) strong {
  font-size: 31px;
}

#footerFerrari .section:nth-of-type(2) ul:nth-of-type(1) strong {
  width: 120px;
  display: block;
  margin-bottom: 28px;
  color: #fff;
  font-size: 40px;
  line-height: 45px;
}

#footerFerrari .section:nth-of-type(2) ul:nth-of-type(1) li:not(:first-of-type) {
  float: left;
}

#footerFerrari .section:nth-of-type(2) ul:nth-of-type(1) li:not(:first-of-type) img {
  width: 40px;
  margin-right: 12px;
}

#footerFerrari .section:nth-of-type(2) ul:nth-of-type(2) {
  width: 60%;
}

#footerFerrari .section:nth-of-type(2) ul:nth-of-type(2) li:first-of-type {
  width: 100%;
}

#footerFerrari .section:nth-of-type(2) ul:nth-of-type(2) li:first-of-type strong {
  width: 100%;
  display: block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 1.12px;
  color: #fff;
  padding-bottom: 13px;
  border-bottom: 2px solid white;
  margin-bottom: 25px;
}

#footerFerrari .section:nth-of-type(2) ul:nth-of-type(2) li:not(:first-of-type) {
  width: 50%;
  float: left;
  margin-bottom: 25px;
}

#footerFerrari .section:nth-of-type(4) ul li a {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.14;
  color: #fff;
  position: relative;
  margin-right: 10px;
  padding-right: 20px;
  border-right: 1px solid white;
}

#footerFerrari .section:nth-of-type(4) ul li:last-of-type a {
  border-right: 0 none;
}

#footerFerrari .section:nth-of-type(2) ul:nth-of-type(2) li:not(:first-of-type) a {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

#footerFerrari .section:nth-of-type(3) p {
  width: 100%;
  border-bottom: 2px solid white;
  margin-top: 100px;
  padding-top: 10px;
}

#footerFerrari .section:nth-of-type(4) {
  padding-top: 1em;
}

#footerFerrari .section:nth-of-type(4) div {
  display: flex;
}

#footerFerrari .section:nth-of-type(4) ul {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

#footerFerrari .section:nth-of-type(4) ul p {
  font-size: 14px;
  line-height: 1.14;
}

@media (width <= 1387px) {
  .prod-percent.green_bck_circle.bigger {
    right: 10%;
  }
}

@media (width <= 1174px) {
  .prod-percent.green_bck_circle.bigger {
    right: 1%;
  }

  .prod-percent.green_bck_circle.bigger span.bulina_text1 b {
    font-size: 22px;
  }

  .prod-percent.green_bck_circle.bigger span.bulina_text1 {
    margin-top: 28px;
  }
}

@media (width <= 989px) {
  .prod-percent.green_bck_circle.bigger {
    width: 95px;
    height: 95px;
  }

  main .blue-title-left .default-content-wrapper h2:nth-child(1) {
    line-height: 27px;
    font-size: 23px;
    width: 100%;
    padding-right: 0;
    margin-bottom: 10px;
  }

  main .blue-title-left .default-content-wrapper p:nth-of-type(1), main .blue-title-left .default-content-wrapper p:nth-of-type(2) {
    font-size: 17px;
    line-height: 24px;
  }

  main .blue-title-left .default-content-wrapper p:nth-of-type(2), main .splitted .default-content-wrapper p {
    column-count: 1;
  }

  main .default-content-wrapper img {
    margin-top: 10px;
  }

  main .blue-quote .default-content-wrapper {
    flex-direction: column;
  }

  main .blue-quote .default-content-wrapper p {
    width: 100%;
    color: #fff;
    font-size: 17px;
    line-height: 24px;
  }

  main .blue-quote .default-content-wrapper p:nth-of-type(1), main .blue-quote .default-content-wrapper p:nth-of-type(2) {
    border-radius: 0;
  }

  main .blue-quote .default-content-wrapper p:nth-of-type(1) strong, main .single-blue-quote .default-content-wrapper strong {
    margin-top: 15px;
    font-size: 15px;
    line-height: 22px;
  }

  main .blue-quote .default-content-wrapper p:nth-of-type(1) em, main .single-blue-quote .default-content-wrapper em {
    font-size: 15px;
    line-height: 22px;
  }

  main .has-2-cols .default-content-wrapper {
    flex-direction: column;
  }

  main .single-blue-quote .default-content-wrapper p:nth-of-type(1) {
    font-weight: normal;
    line-height: 27px;
    font-size: 23px;
  }

  #headerFerrari {
    box-shadow: none;
    position: static;
    height: auto;
  }

  #headerFerrari div div {
    margin-top: 0;
    flex-direction: column;
    display: flex;
  }

  #headerFerrari ul {
    width: 100%;
    float: none;
  }

  #headerFerrari ul:nth-of-type(1) {
    order: 2;
  }

  #headerFerrari ul:nth-of-type(2) {
    text-align: left;
    order: 3;
  }

  #headerFerrari ul li {
    padding: 0 10px 0 0;
  }

  #headerFerrari ul:nth-of-type(2) li {
    border-left: 0 none;
  }

  #headerFerrari ul:nth-of-type(3) {
    margin-top: 0;
    padding-bottom: 0;
    order: 1;
  }

  #headerFerrari ul:nth-of-type(3) li a span.icon-logo-white {
    width: 100px;
    height: 17px;
    background-size: 100%;
  }

  #headerFerrari ul:nth-of-type(3) li {
    padding: 0 3px 0 0;
  }

  #headerFerrari ul:nth-of-type(3) li a {
    font-size: 12px;
  }

  #footerFerrari .section:nth-of-type(1), #footerFerrari .section:nth-of-type(2) ul:nth-of-type(2) {
    display: none;
  }

  #footerFerrari ul li {
    font-size: 12px;
  }

  #footerFerrari .section:nth-of-type(2) ul:nth-of-type(1) {
    width: 100%;
    margin-top: 0;
  }

  #footerFerrari .section:nth-of-type(2) ul:nth-of-type(1) strong, #footerFerrari .section:nth-of-type(3) strong {
    width: 100%;
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 27px;
  }

  #footerFerrari .section:nth-of-type(3) p {
    border-bottom: 0 none;
    margin-top: 1em;
    padding-top: 10px;
    font-size: 22px;
    line-height: 27px;
  }

  #footerFerrari .section:nth-of-type(4) {
    padding-top: 0;
  }

  #footerFerrari .section:nth-of-type(4) div {
    align-items: self-end;
  }

  #footerFerrari .section:nth-of-type(4) ul {
    width: 60%;
    display: flex;
    flex-direction: column;
  }

  #footerFerrari .section:nth-of-type(4) ul li a {
    margin-right: 5px;
    margin-bottom: 10px;
    border-right: 0 none;
    display: inline-block;
  }

  #footerFerrari .section:nth-of-type(4) p {
    text-align: right;
    line-height: 17px;
  }
}

@media (width <= 768px) {
  header {
    border-bottom: 1px solid white;
  }
  
  .section {
    padding: 10px;
  }

  a.button:any-link, button {
    padding: 10px 2em;
  }

  .red-buy-button {
    padding: 8px 3%;
    font-size: 13px;
  }

  .selectorBox {
    margin: 6px 0;
    padding: 5px;
    width: 100% !important;
  }

  .prod-percent.green_bck_pill {
    margin-left: 0 !important;
    font-size: 16px;
    padding: 2px 11px;
  }

  .prod-percent.green_bck_circle.bigger {
    display: none;
  }

  .section[data-backgroundcolor='grey'] {
    padding: 1em 0;
  }

  .awards img {
    height: 65px;
  }

  .awards .title {
    margin-bottom: 0 !important;
  }

  main .default-content-wrapper {
    padding-top: 1em;
  }

  main .default-content-wrapper h1 {
    font-size: 25px;
  }

  main .default-content-wrapper h2 {
    font-size: 23px;
  }

  main .default-content-wrapper h3 {
    font-size: 21px;
  }

  main .default-content-wrapper h4 {
    font-size: 19px;
  }

  main .default-content-wrapper h5 {
    font-size: 17px;
  }

  main .default-content-wrapper h6 {
    font-size: 15px;
  }

  .section.logos h4 {
    font-size: 30px;
    line-height: 32px;
  }

  .section.logos p:last-of-type img {
    max-width: 43%;
  }

  main .section[data-size='bigger'] .default-content-wrapper h1 {
    font-size: 31px;
  }

  main .section[data-size='bigger'] .default-content-wrapper h2 {
    font-size: 29px;
  }

  main .section[data-size='bigger'] .default-content-wrapper h3 {
    font-size: 27px;
  }

  main .section[data-size='bigger'] .default-content-wrapper h4 {
    font-size: 25px;
  }

  main .section[data-size='bigger'] .default-content-wrapper h5 {
    font-size: 23px;
  }

  main .section[data-size='bigger'] .default-content-wrapper h6 {
    font-size: 21px;
  }

  main .default-content-wrapper p {
    font-size: 16px;
  }

  .below-form-banner {
    width: 95%;
    flex-direction: column;
  }

  .below-form-banner > div {
    width: 100%;
  }

  .below-form-banner > div:nth-child(1) p:nth-child(1) {
    font-size: 24px;
    line-height: 32px;
  }

  .red-buy-button p em {
    font-size: 13px;
  }

  .topHeader .heading {
    margin-bottom: 0;
  }

  .topHeader .subheading {
    font-size: 27px;
    line-height: 30px;
    margin-top: 10px;
  }
}

@media (width >= 991px) {
  .overflow-top {
    margin-top: -2rem;
  }
}