.pro-rata-netgear-container {
  text-align: center;
  margin: 1rem 0 3rem;
}
.pro-rata-netgear-container h2 {
  font-size: 32px;
  margin-bottom: 0.5rem;
}
.pro-rata-netgear-container strong {
  font-size: 20px;
  display: block;
  margin-bottom: 4rem;
}
.pro-rata-netgear-container p {
  font-size: 20px;
}
.pro-rata-netgear-container p:nth-of-type(2) {
  margin-top: 0;
}
.pro-rata-netgear-container a {
  color: #006EFF;
  text-decoration: underline;
  font-weight: bold;
}
.pro-rata-netgear-container #noteligible {
  display: none;
}
.pro-rata-netgear-container #loading-container {
  width: 220px;
  height: 12px;
  border: 1px solid #7E7E7E;
  position: relative;
  overflow: hidden;
  padding: 2px;
  border-radius: 20px;
  margin: 0 auto;
}
.pro-rata-netgear-container #loading-bar {
  width: 90%;
  height: 6px;
  background-color: #006EFF;
  border-radius: 20px;
  animation: loading-animation 2s ease-out forwards;
}
.pro-rata-netgear-container .pro-rata-netgear-container img {
  max-width: 600px;
}
@keyframes loading-animation {
  0% {
    width: 0%;
  }
  30% {
    width: 30%;
  }
  50% {
    width: 50%;
  }
  90% {
    width: 90%;
  }
}