.awards-affiliate {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
}
.awards-affiliate div {
  font-size: 18px;
  line-height: 23px;
}
.awards-affiliate h5 {
  font-weight: 400;
}
.awards-affiliate img {
  max-width: 80px;
}
.awards-affiliate .columns-class {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: left;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.awards-affiliate .columns-class img {
  width: 38px;
}
.awards-affiliate .columns-class > div {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  max-width: 410px;
}
.awards-affiliate .columns-class p {
  font-size: 16px;
}
.awards-affiliate .columns-class h4 {
  color: #005EFF;
}

.awards-affiliate .button-container {
  margin-bottom: 30px;
}

.columns-title {
  color: #005EFF;
}

.icon-subtitle {
  color: #005EFF;
  margin-top: 20px;
}

.awards-affiliate.no-button .button {
  display: none;
}
.awards-affiliate.no-button .subtitle img {
  width: 125px;
}

@media screen and (width >= 768px) {
  .awards-affiliate img {
    max-width: none;
  }
  .awards-affiliate div {
    font-size: 18px;
  }
  .awards-affiliate .columns-class {
    flex-direction: row;
    align-items: stretch;
  }
  .awards-affiliate .subtitle {
    max-width: 620px;
  }
  .awards-affiliate .columns-subtitle {
    max-width: 629px;
  }
  .awards-affiliate h3 {
    max-width: 726px;
  }
  .awards-affiliate .columns-class div {
    padding: 34px;
  }
  .awards-affiliate.no-button .subtitle > div {
    display: flex;
    gap: 60px;
    margin-top: 20px;
  }
  .awards-affiliate.no-button img {
    max-width: 90px;
  }
}