.awards-affiliate {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 20px;
}

.awards-affiliate.more-space {
  padding-top: 2em;
  padding-bottom: 2em;
}

.awards-affiliate div {
  font-size: 18px;
  line-height: 23px;
}

.awards-affiliate > div:first-of-type u {
  text-decoration: none;
  color: #006EFF;
  margin-top: 10px;
  display: block;
}

.awards-affiliate h5 {
  font-weight: 400;
}

.smaller-imgs .awards-affiliate>div:last-of-type img {
  max-width: 95%;
  height: auto;
  margin-top: 1em;
}

.awards-affiliate img {
  max-width: 80px;
}

.awards-affiliate .columns-class {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  text-align: left;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.awards-affiliate .columns-class img {
  width: 38px;
}

.awards-affiliate .columns-class>div {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  max-width: 410px;
}

.awards-affiliate .columns-class p {
  font-size: 16px;
}

.awards-affiliate .columns-class h4 {
  color: #005EFF;
}

.awards-affiliate .button-container {
  margin-bottom: 30px;
}

.columns-title {
  color: #005EFF;
}


.icon-subtitle {
  color: #005EFF;
  margin-top: 20px;
}

.awards-affiliate.no-button .button {
  display: none;
}

.awards-affiliate.no-button .subtitle img {
  width: 125px;
}

.awards-affiliate.black-heading {
  .columns-class {
    margin-top: 5px;
    text-align: center;
  }

  div {
    font-size: 16px;

    h3 {
      color: #000;
      margin: 0;
    }

    h4 {
      color: #000;
      font-size: 18px;
    }

    p {
      font-size: 16px;
    }
  }

  a.button {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 600;
    padding: 15px;
  }

  @media (width > 992px) {
    padding: 16px 32px;

    .columns-class {
      gap: 32px;

      >div {
        padding: 24px;

        img {
          margin-bottom: 8px !important;
        }

        p:last-of-type {
          margin-top: 0.5em;
          line-height: normal;
        }
      }
    }
  }
}

.awards-affiliate-container.they-wear-our-faces {
  border: none !important;

  &.blue-gradient {
    background: linear-gradient(180deg, rgb(0 109 255 / 100%) 25%, rgb(255 255 255 / 100%) 25%);
  }

  .awards-affiliate-wrapper {
    background-color: #EDF9FF;
    z-index: 2;
    position: relative;
  }

  &.they-wear-our-faces-awards-affiliate {
    span:has(.button.primary) {
      .button.primary {
        width: 325px;

        strong {
          font-weight: 500;
        }

        @media screen and (width <=375px) {
          max-width: fit-content;
        }
      }
    }

    > div > div > div:last-child > div {
      font-family: "IBM Plex Sans", sans-serif;
      font-weight: 400;
      font-style: regular;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0;
      text-align: center;
    }
  }

  h3,h4 {
    font-family: "IBM Plex Sans", sans-serif;
  }

  .columns-title>div picture {
    margin-left: 10px;
    margin-right: 10px;
  }

  .subtitle>div {
    display: block !important;
  }

  .columns-class {
    p:has(img) {
      margin-bottom: 0;
    }

    img {
      width: 48px;
    }
  }

  @media screen and (width < 768px) {
    padding: 30px;

    .awards-affiliate {
      padding: 30px;

      h3 {
        font-size: 18px;
        line-height: normal;
      }

      p{
        font-size: 16px;
        line-height: normal;
      }

      img {
        max-width: 65px;
      }

      .columns-title img {
        max-width: 40px;
      }
    }

    &:has(.awards-affiliate.black-heading) {
      padding: 0;

      .awards-affiliate-wrapper {
        border-radius: 0;

        .awards-affiliate {
          padding: 30px;
        }
      }
    }
  }
}

@media screen and (width >=768px) {
  .smaller-imgs .awards-affiliate>div:last-of-type img {
    height: 100px;
    margin-top: 1em;
  }

  .smaller-imgs .awards-affiliate>div:last-of-type img:first-of-type {
    margin-right: 2em;
  }

  .awards-affiliate img {
    max-width: none;
  }

  .awards-affiliate div {
    font-size: 18px;
  }

  .awards-affiliate .columns-class {
    flex-direction: row;
    align-items: stretch;
  }

  .awards-affiliate .subtitle {
    max-width: 620px;
  }

  .awards-affiliate .columns-subtitle {
    max-width: 628px;
  }

  .awards-affiliate h3 {
    max-width: 726px;
    margin-top: 15px;
  }

  .awards-affiliate .columns-class div {
    padding: 34px;
  }

  .awards-affiliate.no-button .subtitle>div {
    display: flex;
    gap: 60px;
    margin-top: 20px;
  }

  .awards-affiliate.no-button img {
    max-width: 90px;
  }

  .awards-affiliate.black-heading {
    .columns-class {
      >div {
        img {
          margin: 0;
        }

        h4 {
          margin: 0;
        }
      }
    }
  }

  @media (width < 992px) {
    .awards-affiliate.black-heading {
      padding-left: 32px;
      padding-right: 32px;

      .columns-class {
        flex-direction: column;
        margin-top: 5px;
        text-align: left;
        width: 100%;

        >div {
          min-width: 100%;
          display: flex;
          gap: 20px;

          p {
            margin: 0;
          }

          img,
          svg {
            height: 48px;
            width: 48px;
            margin: 0;
          }
        }
      }
    }
  }
}

@media screen and (width < 768px) {
  .awards-affiliate .columns-class > div {
    max-width: unset;
  }
}