.awards-affiliate {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 20px;
}

.awards-affiliate.more-space {
  padding-top: 2em;
  padding-bottom: 2em;
}

.awards-affiliate div {
  font-size: 18px;
  line-height: 23px;
}

.awards-affiliate > div:first-of-type u {
  text-decoration: none;
  color: #006EFF;
  margin-top: 10px;
  display: block;
}

.awards-affiliate h5 {
  font-weight: 400;
}

.smaller-imgs .awards-affiliate > div:last-of-type img {
  max-width: 95%;
  height: auto;
  margin-top: 1em;
}

.awards-affiliate img {
  max-width: 80px;
}

.awards-affiliate .columns-class {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  text-align: left;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.awards-affiliate .columns-class img {
  width: 38px;
}

.awards-affiliate .columns-class > div {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  max-width: 410px;
}

.awards-affiliate .columns-class p {
  font-size: 16px;
}

.awards-affiliate .columns-class h4 {
  color: #005EFF;
}

.awards-affiliate .button-container {
  margin-bottom: 30px;
}

.columns-title {
  color: #005EFF;
}

.icon-subtitle {
  color: #005EFF;
  margin-top: 20px;
}

.awards-affiliate.no-button .button {
  display: none;
}

.awards-affiliate.no-button .subtitle img {
  width: 125px;
}

.awards-affiliate.black-heading .columns-class {
  margin-top: 5px;
  text-align: center;
}
.awards-affiliate.black-heading div {
  font-size: 16px;
}
.awards-affiliate.black-heading div h3 {
  color: #000;
  margin: 0;
}
.awards-affiliate.black-heading div h4 {
  color: #000;
  font-size: 18px;
}
.awards-affiliate.black-heading div p {
  font-size: 16px;
}
.awards-affiliate.black-heading a.button {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 600;
  padding: 15px;
}
@media (width > 992px) {
  .awards-affiliate.black-heading {
    padding: 16px 32px;
  }
  .awards-affiliate.black-heading .columns-class {
    gap: 32px;
  }
  .awards-affiliate.black-heading .columns-class > div {
    padding: 24px;
  }
  .awards-affiliate.black-heading .columns-class > div img {
    margin-bottom: 8px !important;
  }
  .awards-affiliate.black-heading .columns-class > div p:last-of-type {
    margin-top: 0.5em;
    line-height: normal;
  }
}

.awards-affiliate-container.they-wear-our-faces {
  border: none !important;
}
.awards-affiliate-container.they-wear-our-faces.blue-gradient {
  background: linear-gradient(180deg, rgb(0, 109, 255) 25%, rgb(255, 255, 255) 25%);
}
.awards-affiliate-container.they-wear-our-faces .awards-affiliate-wrapper {
  background-color: #EDF9FF;
  z-index: 2;
  position: relative;
}
.awards-affiliate-container.they-wear-our-faces.they-wear-our-faces-awards-affiliate span:has(.button.primary) .button.primary {
  width: 325px;
}
.awards-affiliate-container.they-wear-our-faces.they-wear-our-faces-awards-affiliate span:has(.button.primary) .button.primary strong {
  font-weight: 500;
}
@media screen and (width <= 375px) {
  .awards-affiliate-container.they-wear-our-faces.they-wear-our-faces-awards-affiliate span:has(.button.primary) .button.primary {
    max-width: fit-content;
  }
}
.awards-affiliate-container.they-wear-our-faces.they-wear-our-faces-awards-affiliate > div > div > div:last-child > div {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: regular;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0;
  text-align: center;
}
.awards-affiliate-container.they-wear-our-faces h3, .awards-affiliate-container.they-wear-our-faces h4 {
  font-family: "IBM Plex Sans", sans-serif;
}
.awards-affiliate-container.they-wear-our-faces .columns-title > div picture {
  margin-left: 10px;
  margin-right: 10px;
}
.awards-affiliate-container.they-wear-our-faces .subtitle > div {
  display: block !important;
}
.awards-affiliate-container.they-wear-our-faces .columns-class p:has(img) {
  margin-bottom: 0;
}
.awards-affiliate-container.they-wear-our-faces .columns-class img {
  width: 48px;
}
@media (width < 768px) {
  .awards-affiliate-container.they-wear-our-faces {
    padding: 30px;
  }
  .awards-affiliate-container.they-wear-our-faces .awards-affiliate {
    padding: 30px;
  }
  .awards-affiliate-container.they-wear-our-faces .awards-affiliate h3 {
    font-size: 18px;
    line-height: normal;
  }
  .awards-affiliate-container.they-wear-our-faces .awards-affiliate p {
    font-size: 16px;
    line-height: normal;
  }
  .awards-affiliate-container.they-wear-our-faces .awards-affiliate img {
    max-width: 65px;
  }
  .awards-affiliate-container.they-wear-our-faces .awards-affiliate .columns-title img {
    max-width: 40px;
  }
  .awards-affiliate-container.they-wear-our-faces:has(.awards-affiliate.black-heading) {
    padding: 0;
  }
  .awards-affiliate-container.they-wear-our-faces:has(.awards-affiliate.black-heading) .awards-affiliate-wrapper {
    border-radius: 0;
  }
  .awards-affiliate-container.they-wear-our-faces:has(.awards-affiliate.black-heading) .awards-affiliate-wrapper .awards-affiliate {
    padding: 30px;
  }
}

@media screen and (width >= 768px) {
  .smaller-imgs .awards-affiliate > div:last-of-type img {
    height: 100px;
    margin-top: 1em;
  }
  .smaller-imgs .awards-affiliate > div:last-of-type img:first-of-type {
    margin-right: 2em;
  }
  .awards-affiliate img {
    max-width: none;
  }
  .awards-affiliate div {
    font-size: 18px;
  }
  .awards-affiliate .columns-class {
    flex-direction: row;
    align-items: stretch;
  }
  .awards-affiliate .subtitle {
    max-width: 620px;
  }
  .awards-affiliate .columns-subtitle {
    max-width: 628px;
  }
  .awards-affiliate h3 {
    max-width: 726px;
    margin-top: 15px;
  }
  .awards-affiliate .columns-class div {
    padding: 34px;
  }
  .awards-affiliate.no-button .subtitle > div {
    display: flex;
    gap: 60px;
    margin-top: 20px;
  }
  .awards-affiliate.no-button img {
    max-width: 90px;
  }
  .awards-affiliate.black-heading .columns-class > div img {
    margin: 0;
  }
  .awards-affiliate.black-heading .columns-class > div h4 {
    margin: 0;
  }
}
@media screen and (width >= 768px) and (width < 992px) {
  .awards-affiliate.black-heading {
    padding-left: 32px;
    padding-right: 32px;
  }
  .awards-affiliate.black-heading .columns-class {
    flex-direction: column;
    margin-top: 5px;
    text-align: left;
    width: 100%;
  }
  .awards-affiliate.black-heading .columns-class > div {
    min-width: 100%;
    display: flex;
    gap: 20px;
  }
  .awards-affiliate.black-heading .columns-class > div p {
    margin: 0;
  }
  .awards-affiliate.black-heading .columns-class > div img,
  .awards-affiliate.black-heading .columns-class > div svg {
    height: 48px;
    width: 48px;
    margin: 0;
  }
}