.awards-affiliate {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;

  div {
    font-size: 16px;
  }

  h5 {
    font-weight: 400;
  }

  img {
    max-width: 80px;
  }

  .columns-class {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: left;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;

    img {
      width: 38px;
    }

    >div {
      background-color: white;
      border-radius: 20px;
      padding: 20px;
      max-width: 410px;
    }

    p {
      font-size: 16px;
    }

    h4 {
      color: #005EFF;
    }

  }

}

.awards-affiliate .button-container {
  margin-bottom: 30px;
}

.columns-title {
  color: #005EFF;
}

.icon-subtitle {
  color: #005EFF;
  margin-top: 20px;
}

.awards-affiliate.no-button {
  .button {
    display: none;
  }

  .subtitle img {
    width: 125px;
  }
}

.awards-affiliate.black-heading {
  .columns-class {
    margin-top: 5px;
    text-align: center;
  }

  div {
    font-size: 16px;

    h3 {
      color: #000;
      margin: 0;
    }

    h4 {
      color: #000;
      font-size: 18px;
    }

    p {
      font-size: 16px;
    }
  }

  a.button {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 600;
    padding: 15px;
  }
}

.awards-affiliate-container.they-wear-our-faces {

  &.blue-gradient {
    background: linear-gradient(180deg, rgba(0, 109, 255, 1) 25%, rgba(255, 255, 255, 1) 25%);
  }

  border: none !important;

  .awards-affiliate-wrapper {
    z-index: 2;
    position: relative;
  }
}

@media screen and (width >=768px) {
  .awards-affiliate {
    img {
      max-width: none;
    }

    div {
      font-size: 18px;
    }

    .columns-class {
      flex-direction: row;
      align-items: stretch;
    }

    .subtitle {
      max-width: 620px;
    }

    .columns-subtitle {
      max-width: 629px;
    }

    h3 {
      max-width: 726px;
    }

    .columns-class div {
      padding: 34px;
    }
  }

  .awards-affiliate.no-button {
    .subtitle>div {
      display: flex;
      gap: 60px;
      margin-top: 20px;
    }

    img {
      max-width: 90px;
    }
  }

  .awards-affiliate.black-heading {
    .columns-class {
      >div {
        img {
          margin: 0;
        }

        h4 {
          margin: 0;
        }
      }
    }
  }

  @media (width < 992px) {
    .awards-affiliate.black-heading {
      .columns-class {
        flex-direction: column;
        margin-top: 5px;
        text-align: left;
        width: 100%;

        >div {
          min-width: 100%;
          display: flex;
          gap: 20px;

          img,
          svg {
            height: 48px;
            width: 48px;
            margin: 0;
            margin-top: 20px;
          }
        }
      }
    }
  }
}